






  <div class="mainContainer">
      <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-head">
          <a class="navbar-brand" href="#"><img src="assets/images/Icons/SVG/logo.svg"></a>
        </div>
      </nav>
  </div>
  
  <div class="text-overflow">
  
    <div class="container navAlign" align="center">
      <ul class="nav nav-tabs marginL">
        <li class="nav-item"><a (click)="checkId(1)" class="nav-link active" data-toggle="tab" href="#home"><img class="imgSiz" src="assets/images/Icons/SVG/demostration.svg"></a></li>
        <li class="nav-item"><a (click)="checkId(2)" class="nav-link" data-toggle="tab" href="#menu1"><img class="imgSiz" src="assets/images/Icons/SVG/baseline-confirmation_number-24px.svg" ></a></li>
        <li class="nav-item"><a (click)="checkId(3)" class="nav-link" data-toggle="tab" href="#menu2"><img class="imgSiz" src="assets/images/Icons/SVG/analysis-chart.svg"></a></li>
        <li class="nav-item"><a (click)="checkId(4)" class="nav-link" data-toggle="tab" href="#menu3"><img class="imgSiz" src="assets/images/Icons/SVG/click.svg" ></a></li>
      </ul>
    </div>
    <br>
    <div class="login-main">
    <div class="row boxAlign p-6">
  
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 primaryColor">
        
        <ng-template ngFor let-nav  [ngForOf]="[ selectedNav ]">
          <div [@navAnimation]="orientation " class="navigation">
            <h3 class="leftNavTitle">{{nav.sideTitle}}</h3>
            <p>{{nav.sideData}}</p>
            </div>
        </ng-template>
      
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 secondaryColor p-3">
        <div [@itemAnim]>
        <h2 class="text-center alignP">Forgot Password</h2> 
        <form id="forgotId" class="text-center p-4" (ngSubmit)="onSubmit(emailFormControl)">
            
              
              
              <div class="form-group formFields ">
                  <div>
                    <input (keyup)="emailEntered()" class="form-control" [ngStyle]="{'border-bottom': emailNotEmpty ? '2px solid #fff' : '1px solid rgba(255,255,255, 0.4)' }" placeholder="Email ID" [formControl]="emailFormControl"
                   autocomplete="off" 
                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" >
                  </div>
              </div>
              <div *ngIf="showEmailError" class="errorEmail">
           
                Invalid email
              
            </div>
              <div  class="OtpButton">
                <button class="buttonColor" type="submit" mat-raised-button [disabled]="false">Generate OTP </button>
              </div> 
              
  
              
        </form>
      </div>
    </div>  
    </div>
    </div>
    <div class="login-footer text-left">
        <div class="container">
          <h2>Infosys Media Platform</h2>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </span>
        </div>
      </div> 
























