@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.errorEmail{
    color: red;
    position: absolute;
    bottom: 36%;
    font-size: 12px;
    margin-left: 26%;
}
.forgotOTPHighlight{
    border-bottom:  '2px solid #fff';
}



















