
  <div class="p-2 cust-style d-flex">
    <div class="d-flex cus-box">
        <div><h6 class="itune-heading">Itunes</h6></div>
        <div class="ml-auto filter">
            <app-avail-filter [childMessage]="parentMessage"></app-avail-filter>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row itune-card">
        <div class="col-sm-4 itune-box" *ngFor="let itune of iTunesData; let i = index">
            <div class="card text-white mb-3 shadow-sm ">
               <div class="card-header card-padding gray-bg">
                    <span class="itune-status" >
                        <div class="current" [ngStyle]="getOverlayStyle()">{{itune.TitleData.AvailPercentage}}%</div>
                        <round-progress [current]="itune.TitleData.AvailPercentage" [max]="100" [color]="'#008040'" [background]="'#006FAD'" [radius]="22"
                            [stroke]="2.3" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="800"
                            [animation]="'easeInOutQuart'" [animationDelay]="0"></round-progress>
                        
                    </span>
                    
                    <span>
                        <p class="itune-title" routerLinkActive="tabSelected" [routerLinkActiveOptions]="{exact: true}">{{itune.AvailName | uppercase }}</p>
                        <p class="itune-date">
                            <img src="assets/images/Icons/PNG/calendar.png"> {{itune.StartDate | date:'dd/MM' }} -
                            <span>{{itune.DueDate | date:'dd/MM' }}</span>
                        </p>
                    </span>

                </div>
                <div class="card-body">
                    <div class="equalHMWrap">
                        <span id="titlesDiv">
                            <span class="itune-details titlesBox">
                                <img src="assets/images/Icons/PNG/titles.png"><span class="titleFont"> {{itune.TitleData.TitlesCount}}</span>
                                <span class="titleFont"> Titles</span>
                            </span>
                        </span>
                    </div>   
                    <div class="progressBar">
                        <div class="progress">
                            <div class="bg-success" [ngStyle]="{'width.%': getCompleted(i,'T')}">
                                <span class="status-padding" *ngIf="getCompleted(i,'T')!=0">{{itune.TitleData.CompletedTitlesCount}}</span>
                            </div>
                            <div [ngStyle]="{'width.%': getPending(i,'T')}">
                                <span class="status-padding" *ngIf="getPending(i,'T')!=0">{{itune.TitleData.PendingTitlesCount}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="equalHMWrap">
                        <span id="countriesDiv">
                            <span class="itune-details titlesBox">
                                <span class="iconPos"><i class="material-icons md-18 md-grey v-align">language</i></span><span class="titleFont"> {{itune.TitleData.CountriesCount}}</span>
                                <span class="titleFont"> Countries</span>
                            </span>
                        </span>
                    </div>   
                   <div class="progressBar">
                        <div class="progress">
                            <div class="bg-success" [ngStyle]="{'width.%': getCompleted(i,'C')}">
                                <span class="status-padding" *ngIf="getCompleted(i,'C')!=0">{{itune.TitleData.CountriesCompletedCount}}</span>
                            </div>
                            <div [ngStyle]="{'width.%': getPending(i,'C')}">
                                <span class="status-padding" *ngIf="getPending(i,'C')!=0">{{itune.TitleData.CountriesPendingCount}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="equalHMWrap">
                        <span id="langDiv">
                            <span class="itune-details titlesBox">
                                <span class="iconPos"><i class="material-icons md-18 md-grey v-align">translate</i></span><span class="titleFont"> {{itune.TitleData.LanguagesCount}}</span>
                                <span class="titleFont"> Languages</span>
                            </span>
                        </span>
                    </div>   
                     <div class="progressBar">
                        <div class="progress">
                            <div class="bg-success" [ngStyle]="{'width.%': getCompleted(i,'L')}">
                                <span class="status-padding" *ngIf="getCompleted(i,'L')!=0">{{itune.TitleData.LanguagesCompletedCount}}</span>
                            </div>
                            <div [ngStyle]="{'width.%': getPending(i,'L')}">
                                <span class="status-padding" *ngIf="getPending(i,'L')!=0">{{itune.TitleData.LanguagesPendingCount}}</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="legend-margin">
                    <div class="row">
                        <div class="col-md-1 mt-1">
                            <div class="complete-legend"></div>
                        </div>
                        <div class="col-md-5 legend-text">Completed</div>

                        <div class="col-md-2 mt-1">
                            <div class="pending-legend pending-legend-margin"></div>
                        </div>
                        <div class="col-md-2 legend-pending-text">Pending</div>
                    </div>
                </div>
                <div class="cust-text">
                    <span class="status-text">
                        <strong class="status-font">Status</strong>
                    </span>
                    <p class="status">
                        <span class="bold"> 0</span> Pending Translations</p>
                    <p class="status">
                        <span class="bold"> 0</span> Pending Ratings</p>
                    <p class="status">
                        <span class="bold"> 0</span> Pending Clarifications</p>
                    <p class="status">
                        <span class="bold"> 0</span> Escalations</p>
                </div>
            </div>
        </div>
    </div>
</div>