.itune-heading{
    padding: 10px;
    color: #007CC3;
}
.itune-title {
    font-size: 14px;
    outline: none;
    font-family: Roboto, Regular;
    margin-bottom: 0.5rem;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    width: 100px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
}
.itune-date {
    font-size: 11px;
    color: black;
  }
  .card-header {
    background-color: #000000, 10%;
    color: #007CC3;
    border-bottom: 1px solid lightgrey;
}
.card-padding {
    padding: 13px 0px 0px 10px;
}
.hidden-header {
    font-size: 13px;
    color: #007CC3;
    border-bottom: 1px solid lightgrey;
    padding-left: 3%;
}
@media (min-width: 576px) {
    // .col-sm-4 {
    //     flex: 0 0 33.33333333%;
    //     max-width: 16.5%;
    //     left: 14em;
    // }can't change styles like this
    .itune-box{
        flex: 0 0 20%;
        // max-width: 16.5%; //min-width u have to right
        max-width: 19.8%;
        padding-right: 0px;
    }
}
.itune-card {
    display: flex;
    flex-wrap: wrap;
}
.current {
    position: absolute;
    color: green;
  }
  .itune-status {
    // float: right; 
    // margin-top: -1%; //negative values
    // position: absolute;
    // top: 15%;
    // left: 74%;

    float: right;
    position: relative;
    right: 10px;
    :focus {
        outline: none;
    }
}
.card-body {
    flex: 1 1 auto;
    padding: 0rem;
}
.progressBar{
    margin: 2px 6px;
    .progress {
        height:23px;
        // height: auto;
        background: #007CC3;
        padding: 1px;
        
    }
   
}
.status-padding {
    padding: 0px 5px;
}
.equalHMWrap {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    font-family: Roboto, Regular;
}
.itune-details {
    font-size: 15px;
    color: black !important;
    .iconPos{
        position: relative;
        top: 4px;
    }
    .titleFont{
        font-size: 12px;
    }
  }
  .legend-margin {
    margin: 7px 0px 7px 5px;
  }
  .legend-flex{
    justify-content: space-between;
}
.status-bar{
    display: flex;
    align-items: center;
}
  .complete-legend {
    height: 0.5em;
    width: 0.5em;
    background: #0AAD43;
    border-radius: 0;
    color: #0AAD43;
  }
  .pending-legend {
    height: 0.5em;
    width: 0.5em;
    background: #007CC3;
    border-radius: 0;
    color:#007CC3;
  }
  .legend-text {
    color: #0AAD43;
     font-size: 10.3px; 
     padding:0px;
}
.legend-pending-text {
    color: #007CC3;
     font-size: 10.3px; 
     padding:0px;
}
.cust-text { 
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 7px;
    .status-text {
        color: #007CC3;
       
    }
    .status {
        margin:0 0 0 3px ;
         padding: 0;
         color: rgba(0, 0, 0, 0.4);
         span{
            color: black !important;
         }
    }
    .status-font {
     font-size: 15px
    }
    .status-margin {
        margin: 0px 0px 0px 15px;
    }
}
.cus-box{
    justify-content: space-between;
    width: 100%;
}

.status-count{
    position: relative;
    display: flex;
    font-size: 12px;
    font-family: Roboto;
    margin: -18px 0px 0px 10px;
    color: darkgray;
}
.download-image{
    display: flex;
    justify-content: flex-start;
    /* padding: 10px 0px; */
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    .download-text{
        height: auto;
        flex: 0 0 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
    .download-btn{
        flex: 0 0 20%;
        background: #007CC3;
        color: #fff;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px !important;
    }
    i{
        transform: rotate(90deg);
        font-size: 12px;
    }
}
.export-align{
    width:100%;
    background: #007CC3;
    outline: none;
}
.export-text{
    font-weight: 500;
    font-size: 15px;
    }
    .export-yesRno{
        font-weight: 500;
        font-size: 12px;  
    }
    .initiate-export{
        position: absolute;
        top: 0px;
        left: 71px;
    }

.modal-align {
    // top:  85px !important;
    // left: 40% !important;
    // left:31% !important;
    color:black;
}
.modal-width{
    top: 31%!important;
    left: 0% !important;
    right: 0 !important;
    width: 100% !important;
    height: 120px !important;
    max-width: 250px !important;
  
}
.modal-body-align{
    padding: 5px 14px 0px !important;
    height: 65px;
}
.modal-close{
padding:0px;
outline:none;
}
.font-12{
    font-size:12px !important;
    position: absolute;
    top: 20px;
}
.export-header{
    border-bottom: 0 !important;
}
.blue-progress{
    top: 40px;
}
.error-message{
    margin-top: 10px;
    font-size: 12px;
}
.close{
    outline: none;
}
.avail-titleEllipses{
   
    cursor: pointer;
}  