<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-md-2 align-spacer"></div> -->
        <div class="col-md-12">
            <div class="row">
                <ul class="breadcrumb">
                    <!-- <li class="breadcrumb-item">
                        <a routerLink="/pages">Avails</a>
                    </li> -->
                    <li class="breadcrumb-item">
                        <a class="black-clr-3" #tref routerLink="/pages">Avails</a>
                    </li>
                    <i class="fa fa-angle-right arrow"></i>
                    <li class="breadcrumb-item black-clr-3">
                        <a class="black-clr-3" #tref>{{availName}}</a>
                    </li>
                    <i class="fa fa-angle-right arrow"></i>
                    <li class="breadcrumb-item">
                        <a class="breadcrumb-title" routerLink="/pages/titles" #tref>Titles</a>
                    </li>
                </ul>
                <div class="ml-auto filter">
                  <app-avail-filter [childMessage]="parentMessage" [titleLength]="apoListlength" [filterCount]="filteredItems?.length"   (searchValue)="onSearch($event)" ></app-avail-filter>
              
                </div>
                <!-- <div class="ml-auto">
                    <app-avail-filter></app-avail-filter>
                </div> -->
            </div>
           
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="row">
                     <cdk-virtual-scroll-viewport class="upload-loading" itemSize="40" >
                        <div class="d-flex upload-styles">
                        <div class="col-md-3 apo-margin" *cdkVirtualFor="let x of apoList |searchPipe: {GlobalTitle:searchval }; let i=index" #someVar>
                        <div class="" >
                            <div class="card">
                                <div class="card-main">
                                    <div class="card-img">
                                        <span class="addPre_upBtn btn btn-sm btn-bg1" (click)="triggerUpload();">
                                            <img class="card-img-top" [src]="x.ImageURL==''?ImageURL:x.ImageURL" (click)="imgClickTrack(x,i);">
                                        </span>
                                        <input type="file" class="file-display" (change)="handleFileInputForAdd($event.target.files)" id="fileUpload" accept="image/*"
                                            [disabled]="uploadStatus" />

                                    </div>
                                    <div>
                                        <div class="card-body" [attr.id]="'undoBtn'+i" *ngIf="account !== i"> 
                                            <div class="card-content card-flex" *ngIf="showStatus!==i">
                                                <ul>
                                                    <li>
                                                        <h6 class="title-text" routerLink="/pages/metadata" [queryParams]="{title_name: x.GlobalTitle, lob:x.LOB,avail_name: availName,titleId:x.TitleId, lob: 'FILMS'}" data-toggle="tooltip" data-placement="left" title="{{x.GlobalTitle}}"> {{x.GlobalTitle}}</h6>
                                                    </li>
                                                    <li class="cust-text">
                                                        <!-- <img src="assets/images/Icons/PNG/calendar.png">
                                                         {{x.StartDate | date:'dd/MM'}}
                                                        -
                                                        <span [ngStyle]="{'background-color':getColor(x.DueDate)}">{{x.DueDate
                                                            | date:'dd/MM'}}
                                                        </span> -->
                                                    </li>
                                                </ul>
                                                <div>
                                                      <circle-progress class="c-pointer" [percent]="x.Percentage ? x.Percentage : '0'" [radius]="20" [outerStrokeWidth]="3" [innerStrokeWidth]="2" [space]="-2"
                                                      [outerStrokeColor]="'#008040'" [innerStrokeColor]="'#006FAD'" [titleFontSize]="13" [unitsFontSize]="13"
                                                      [showSubtitle]="false" [animation]="true" [animationDuration]="10" [startFromZero]="true" [responsive]="false"
                                                      [lazy]="false"  [queryParams]="{title_name: x.GlobalTitle, avail_name: availName, titleId: x.TitleId, lob: 'FILMS'}" routerLink="/pages/insight"></circle-progress>
                                                </div>
                                            </div>
                                            <div class="cus-text text-col" *ngIf="showStatus!==i">
                                                <ol class="wizard-progress d-flex">

                                                    <li [ngStyle]="{'width':i === 3 ? '0%' : '30%' }" [ngClass]="{'active-step': i<=getProgressFill(x.TitleStatus)}" *ngFor="let stage of stages, let i = index">
                                                        <span *ngIf="!completeFlag" class="step-name">
                                                            <span *ngIf="stage.stageTitle==x.TitleStatus[getProgress(x.TitleStatus)].StatusMessage" [ngClass]="{'mid': (i==2 || i==1), 'last': i==3}">{{stage.stageTitle}}</span>
                                                        </span>
                                                        <span *ngIf="completeFlag" class="step-name">
                                                            <span *ngIf="i==3"  [ngClass]="{'mid': (i==2 || i==1), 'last': i==3}">{{stage.stageTitle}}</span>
                                                        </span>
                                                        <span class="visuallyhidden"></span>
                                                        <span class="step-num"></span>
                                                    </li>
                                                </ol>
                                            </div>

                                        </div>
                                        <!-- <div class="cust-text status-text-padding" *ngIf="showStatus==i">
                                            <h6 class="status-text">Status</h6>
                                            <p class="status">
                                                <b class="font-number"> -</b> Pending Translations</p>
                                            <p class="status">
                                                <b class="font-number"> -</b> Pending Ratings</p>
                                            <p class="status">
                                                <b class="font-number">-</b> Pending Clarifications</p>
                                            <p class="status">
                                                <b class="font-number">-</b> Escalations</p>

                                        </div> -->
                                        <div class="display-block">
                                            <div class="flex" *ngIf="showStatus!=i">
                                                <span class="apo-color accountsBox" (click)="showAccounts(i);selectTab(x.GlobalTitle,'titles')" [ngClass]="(acccountClicked) ? 'boxclicked' : 'box'">
                                                    <i class="material-icons md-18 md-grey v-align">add_shopping_cart</i>{{x.AccontsCount}}
                                                    <span class="text-space" *ngIf="accStatus && (titleName===x.GlobalTitle)">Accounts</span>
                                                </span>
                                                <span class="apo-color countriesBox" (click)="showCountries(i);selectTab(x.GlobalTitle,'countries')" [ngClass]="(countriesClicked) ? 'box1clicked' : 'box1'">
                                                    <i class="material-icons md-18 md-grey v-align">language</i>{{x.CountriesCount}}
                                                    <span class="text-space" *ngIf="langStatus && (titleName===x.GlobalTitle)">Countries</span>
                                                </span>
                                                <span class="apo-color languagesBox" (click)="showTranslations(i);selectTab(x.GlobalTitle,'languages')" [ngClass]="(translationsClicked) ? 'box2clicked' : 'box2'">
                                                    <i class="material-icons md-18 md-grey v-align">translate</i> {{x.LanguagesCount}}
                                                    <span class="text-space" *ngIf="transStatus && (titleName===x.GlobalTitle)">Languages</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="progressBar paddingtb-10" *ngIf="titleName===x.GlobalTitle && accStatus">
                                            <div class="progress progress-main">
                                                <div class="completeColor avail-titleEllipses" data-toggle="tooltip" data-placement="top" title="{{x.AccontsCompletedCount}}" [style.width.%]="width">
                                                   <span  *ngIf="x.AccontsCompletedCount!=0" > {{x.AccontsCompletedCount}}</span> 
                                                </div>
                                                <div class="pendingColor avail-titleEllipses" data-toggle="tooltip" data-placement="top" title="{{x.AccontsPendingCount}}" [style.width.%]="remaining">
                                                 <span  *ngIf="x.AccontsPendingCount!=0"> {{x.AccontsPendingCount}}</span>   
                                                </div>



                                            </div>

                                        </div>
                                        <div class="progressBar paddingtb-10" *ngIf="titleName===x.GlobalTitle && langStatus">
                                            <div class="progress progress-main">
                                                <div class="completeColor avail-titleEllipses" data-toggle="tooltip" data-placement="top" title="{{x.CountriesCompletedCount}}" [style.width.%]="width">
                                                  <span   *ngIf="x.CountriesCompletedCount!=0">  {{x.CountriesCompletedCount}}</span> 
                                                </div>
                                                <div class="pendingColor avail-titleEllipses" data-toggle="tooltip" data-placement="top" title="{{x.CountriesPendingCount}}" [style.width.%]="remaining">
                                                        <span   *ngIf="x.CountriesPendingCount!=0">  {{x.CountriesPendingCount}}</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="progressBar paddingtb-10" *ngIf="titleName===x.GlobalTitle && transStatus">
                                            <div class="progress progress-main">
                                                <div class="completeColor avail-titleEllipses" data-toggle="tooltip" data-placement="top" title="{{x.LanguagesCompletedCount}}" [style.width.%]="width">
                                                        <span  *ngIf="x.LanguagesCompletedCount!=0">    {{x.LanguagesCompletedCount}}</span>
                                                </div>
                                                <div class="pendingColor avail-titleEllipses" data-toggle="tooltip" data-placement="top" title="{{x.LanguagesPendingCount}}" [style.width.%]="remaining" >
                                                        <span  *ngIf="x.LanguagesPendingCount!=0">  {{x.LanguagesPendingCount}}</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="legend-margin m-0" *ngIf="titleName===x.GlobalTitle && (accStatus || langStatus || transStatus)">
                                            <div class="d-flex legend-flex p-1">
                                                <div class="mt-1 status-bar">
                                                    <div class="complete-legend"></div>
                                                    <div class="legend-text ml-1 mr-1">Completed</div>
                                                </div>
                                                <div class="mt-1 status-bar">
                                                    <div class="pending-legend"></div>
                                                    <div class="legend-pending-text ml-1 mr-1">Pending</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                      
                        </div>
                        </div>
                    </div>
                    </cdk-virtual-scroll-viewport>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
