<div class="container-fluid p-12">
  <div class="top-heading">
    <div class="language-data">
      <a class="avail-details d-flex mb-1" >
        <i class="material-icons md-18 md-grey v-align">language</i> &nbsp;28 countries</a>
      <div class="progress progress-main">
        <div class="progress-bar bg-success" >
          <span class="status-padding" >{{resultCompleted}}</span>
        </div>
        <div class="progress-bar" >
          <span class="status-padding" >{{resultPending}}</span>
        </div>
      </div>
      <div *ngIf="!clickedOnCountry" class="row row-list text-white">
        <div class="col-md-12 avail-list mt-2">
          <!-- <div *ngFor="let x of childCountryList"> -->
            <!-- <div *ngFor="let y of x.avail_details"> -->
              <span *ngFor="let z of childCountryList" [ngClass]="[z.CountryStatus == 'completed' ? 'progress bg-success' : 'progress']">
                <ul class="list-style list-description">
                  <li>{{z.Country}} </li>
                </ul>
              </span>
            <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
      <div *ngIf="clickedOnCountry" class="row row-list text-white">
        <div class="col-md-12 avail-list mt-2">
          <span *ngFor="let filterCountry of filteredCountry" [ngClass]="[filterCountry.status == 'completed' ? 'progress bg-success' : 'progress']">
            <ul class="list-style list-description">
              <li>{{filterCountry.country_name}} </li>
            </ul>
          </span>
        </div>
      </div>
      
    </div>
    <div class="language-metadata">
      <div class="metaData-content">
        <div class="table-1">
          <ul>
            <li>Rating</li>
            <li>Rating Comments</li>
            <li>Short Description</li>
            <li>Initial release Date</li>
            <li>Current release Date</li>
            <li>Rights Window Begin Date</li>
            <li>Rights Window End Date</li>
            <li>Announcement Date</li>
            <li>Pre-Sell Date</li>
            <li>Web WHV Internal</li>
            <li>Web Retailers</li>
            <li>Vendor Id</li>
          </ul>
        </div>
        <div class="table-2 d-flex">
          <ul *ngFor="let x of childMessage" id="OriginalData" [ngClass]="(changedWidth) ? 'width-50' : 'width-px'">
              <li>{{x.Rating}}</li>
              <!-- <li (click)="dataShow(metaDataListUpdateVal)" class="cursor-pointer datahide">{{metaDataListUpdateVal}}</li> -->
              <li>{{x.RatingComments}}</li>
              <li>{{x.ShortDescription}}</li>
              <li>{{x.InitialReleaseDate}}</li>
              <li>{{x.CurrentReleaseDate}}</li>
              <li>{{x.RightsWindowBeginDate}}</li>
              <li>{{x.RightsWindowEndDate}}</li>
              <li>{{x.AnnouncementDate}}</li>
              <li>{{x.Pre-SellDate}}</li>
              <li>{{x.WebWHVInternal}}</li>
              <li>{{x.WebRetailers}}</li>
              <li>{{x.VendorsId}}</li>
            <!-- <li>{{x.ClientEnd}}</li>
                          <li>{{x.ClientEnd}}</li> -->
          </ul>
          <!-- <div class="" >
                    <div class="table-3"> -->

          <!-- </div>
                  </div> -->
          <div class="add-icon cursor-pointer d-flex align-items-center">
            <i class="material-icons" (click)="flip()">add_box</i>
          </div>
        </div>
        
        

      </div>
    </div>
  </div>
  <!-- <div class="update-field">
      <input type="text" class="form-control" id="usr" [(ngModel)]="user" (keydown)="updateDescription($event,user)">
    </div> -->

    <div class="update-box mt-2">
      <div class="btn-group">
        <div cla>
        <ul class="nav nav-tabs">
          <li class="nav-item ">
            <a class="nav-link active d-flex justify-content-between" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('atom')}">ATOM <i class="material-icons atom-icon">cloud_done</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('cas')}">CAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('sap')}">SAP</a>
          </li>
        </ul>
        </div>
        <div class="text-area">
          <textarea [disabled]="isDisabled" cols="79" rows="2" #box [(ngModel)]="user">
                        
            </textarea>
        </div>
        <div class="btn btn-dark" (click)="updateDescription($event,user)"><p class="d-flex align-items-center height-100 mb-0 cursor-pointer">Update</p></div>
      </div>
     

    </div>
</div>