<div class="container-fluid" data-dismiss="modal">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="ml-auto filter">
                    <app-avail-filter [childMessage]="parentMessage"></app-avail-filter>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <div class="row">
                                    <cdk-virtual-scroll-viewport class="upload-loading" itemSize="90" >
                                            <div class="d-flex upload-styles">
                                            <div class="col-md-3 apo-margin" *cdkVirtualFor="let x of apoList; let i=index">
                                                <div class="card">
                                                    <div class="card-main">
                                                        <div class="card-img">
                                                            <span class="addPre_upBtn btn btn-sm btn-bg1" (click)="triggerUpload();">
                                                                <img class="card-img-top" [src]="x.ImageURL==''?ImageUrl:x.ImageURL" (click)="imgClickTrack(x,i);">
                                                            </span>
                                                            <input type="file" class="file-display" (change)="handleFileInputForAdd($event.target.files)" id="fileUpload" accept="image/*"
                                                                [disabled]="uploadStatus" />

                                                        </div>
                                                        <div>
                                                            <div class="card-body" [attr.id]="'undoBtn'+i" *ngIf="account !== i">
                                                                <div class="card-content card-flex" *ngIf="showStatus!==i">
                                                                    <ul>
                                                                        <li>
                                                                            <h6 class="title-text" routerLink="/pages/metadata" [queryParams]="{title_name: x.GlobalTitle, avail_name: availName, idNumber: i+1, routeName:'APO'}"> {{x.GlobalTitle}}</h6>
                                                                        </li>
                                                                        <li class="cust-text">
                                                                            <img src="assets/images/Icons/PNG/calendar.png">{{x.StartDate | date:'MM/dd'}}
                                                                            -
                                                                            <span [ngStyle]="{'background-color':getColor(x.DueDate)}">{{x.DueDate |
                                                                                date:'MM/dd'}}</span>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="circle" (click)="showTitleStatus(i)">
                                                                        <circle-progress class="round-outline" routerLink="/pages/insight" [queryParams]="{title_name: x.GlobalTitle, avail_name: availName, idNumber: i+1, routeName:'APO'}" [percent]="x.Percentage" [radius]="20" [outerStrokeWidth]="2" [innerStrokeWidth]="2" [outerStrokeColor]="'#008040'"
                                                                            [innerStrokeColor]="'#006FAD'" [animation]="true" [animationDuration]="1000"></circle-progress>
                                                                    </div>
                                                                </div>
                                                                <div class="cus-text text-col" *ngIf="showStatus!==i">
                                                                    <ol class="wizard-progress d-flex">

                                                                        <li [ngStyle]="{'width':i === 3 ? '0%' : '30%' }" [ngClass]="{'active-step': i<=getProgressFill(x.TitleStatus)}" *ngFor="let stage of stages, let i = index">
                                                                            <span class="step-name">
                                                                                <span *ngIf="stage.stageTitle==x.TitleStatus[getProgress(x.TitleStatus)].StatusMessage" [ngClass]="{'mid': (i==2 || i==1), 'last': i==3}">{{stage.stageTitle}}</span>
                                                                            </span>
                                                                            <span class="visuallyhidden"></span>
                                                                            <span class="step-num"></span>
                                                                        </li>
                                                                    </ol>
                                                                </div>

                                                            </div>
                                                            <div class="cust-text status-text-padding p-2" *ngIf="showStatus==i">
                                                                <h6 class="status-text">Status</h6>
                                                                <p class="status">
                                                                    <b class="font-number"> -</b> Pending Translations</p>
                                                                <p class="status">
                                                                    <b class="font-number"> -</b> Pending Ratings</p>
                                                                <p class="status">
                                                                    <b class="font-number">-</b> Pending Clarifications</p>
                                                                <p class="status">
                                                                    <b class="font-number">-</b> Escalations</p>

                                                            </div>
                                                            
                                                            <div class="display-block">
                                                                <div class="flex" *ngIf="showStatus!=i">
                                                                    <span class="apo-color accountsBox" (click)="showAccounts(i);selectTab(x.GlobalTitle,'titles')" [ngClass]="(acccountClicked) ? 'boxclicked' : 'box'">
                                                                        <i class="material-icons md-18 md-grey v-align">add_shopping_cart</i>{{x.AccontsCount}}
                                                                        <span class="text-space" *ngIf="accStatus && (titleName===x.GlobalTitle)">Accounts</span>
                                                                    </span>
                                                                    <span class="apo-color countriesBox" (click)="showCountries(i);selectTab(x.GlobalTitle,'countries')" [ngClass]="(countriesClicked) ? 'box1clicked' : 'box1'">
                                                                        <i class="material-icons md-18 md-grey v-align">language</i>{{x.CountriesCount}}
                                                                        <span class="text-space" *ngIf="langStatus && (titleName===x.GlobalTitle)">Countries</span>
                                                                    </span>
                                                                    <span class="apo-color languagesBox" (click)="showTranslations(i);selectTab(x.GlobalTitle,'languages')" [ngClass]="(translationsClicked) ? 'box2clicked' : 'box2'">
                                                                        <i class="material-icons md-18 md-grey v-align">translate</i> {{x.LanguagesCount}}
                                                                        <span class="text-space" *ngIf="transStatus && (titleName===x.GlobalTitle)">Languages</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class=""  >
                                                                    <div class="download-image ml-auto" id="id" [ngStyle]="{'cursor':getCursorForExport(x.TitleId)}" (click)="openModal(x.GlobalTitle,x.TitleId)" data-toggle="modal" data-target="#myModal">
                                                                        <div class="download-image ml-auto" id="exportTool" [ngStyle]="checkTitleId(x.TitleId) ? {'opacity': '0.3'} : {'opacity': '1'}"  matTooltipPosition="above" matTooltip="{{checkTitleId(x.TitleId)?'Trigger Doc is not Uploaded': ''}}">
                                                                        <div class="download-text border text-dark">Export Data</div>
                                                                        <div class="download-btn btn-default"><i class="material-icons">keyboard_tab</i></div>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                            <!-- <button type="button" class="btn btn-info btn-sm export-align" data-toggle="modal" data-target="#myModal" (click)="openModal(avail.AvailName)">Export</button> -->
                                                                            
                                                    
                                                                        </div>
                                                                </div>
                                                            <div class="progressBar paddingtb-10" *ngIf="titleName===x.GlobalTitle && accStatus">
                                                                <div class="progress progress-main">
                                                                    <div class="completeColor" [style.width.%]="width">
                                                                        {{x.AccontsCompletedCount}}
                                                                    </div>
                                                                    <div class="pendingColor" [style.width.%]="remaining">
                                                                        {{x.AccontsPendingCount}}
                                                                    </div>



                                                                </div>

                                                            </div>
                                                            <div class="progressBar paddingtb-10" *ngIf="titleName===x.GlobalTitle && langStatus">
                                                                <div class="progress progress-main">
                                                                    <div class="completeColor" [style.width.%]="width">
                                                                        {{x.CountriesCompletedCount}}
                                                                    </div>
                                                                    <div class="pendingColor" [style.width.%]="remaining">
                                                                        {{x.CountriesPendingCount}}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="progressBar paddingtb-10" *ngIf="titleName===x.GlobalTitle && transStatus">
                                                                <div class="progress progress-main">
                                                                    <div class="completeColor" [style.width.%]="width">
                                                                        {{x.LanguagesCompletedCount}}
                                                                    </div>
                                                                    <div class="pendingColor" [style.width.%]="remaining">
                                                                        {{x.LanguagesPendingCount}}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="legend-margin m-0" *ngIf="titleName===x.GlobalTitle && (accStatus || langStatus || transStatus)">
                                                                <div class="d-flex legend-flex p-1">
                                                                <div class="mt-1 status-bar">
                                                                    <div class="complete-legend"></div>
                                                                    <div class="legend-text ml-1 mr-1">Completed</div>
                                                                </div>
                                                                <div class="mt-1 status-bar">
                                                                        <div class="pending-legend"></div>
                                                                        <div class="legend-pending-text ml-1 mr-1">Pending</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                            </div>
                                    </cdk-virtual-scroll-viewport>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-align" *ngIf="modalShow"  id="myModal" role="dialog">
        <div class="modal-dialog modal-width">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <span class="export-text">Export ({{selectedAvailNew}})</span>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body modal-body-align">
                    <!-- <span class="export-yesRno">Click below to Export ({{selectedAvailNew}})</span> -->
                    <div class="form-group">
                        <div class="flex-export">
                            <label class="badge badge-primary initiate-export" (click)="export(parentMessage,selectedAvailNew)">
                                <a class="text-decoration-none" class="text-light" *ngIf="!enableSaveFlag ">Initiate
                                    Export</a>
                            </label>
                            <!-- <label class="badge badge-primary"><a *ngFor="let button of buttons" [ngClass]="{'active': button.isClicked}" (click)="button.isClicked = !button.isClicked" class="text-decoration-none" href="https://mediaplat1.s3.ap-south-1.amazonaws.com/UploadExcels/ITUNES.xlsx?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190903T113558Z&X-Amz-SignedHeaders=host&X-Amz-Expires=900&X-Amz-Credential=AKIAQP3E3VWUOCQESQ6S%2F20190903%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Signature=f528dc00be2133f8fd317351dca2e486b6536b2ba5328f15a979259765022e9e"  class="text-light">{{ button.text }}</a></label> -->
                            <label class="badge badge-primary initiate-export" *ngIf="enableSaveFlag">
                                <a class="text-decoration-none" href="{{this.apiURL}}" class="text-light">Download
                                    File</a>
                            </label>
                            <!-- <a  [ngClass]="(highlight15) ? 'setColor' : 'removeColor'" href="{{this.errorURl}}">hello</a> -->
                        </div>

                        <mat-progress-bar class="blue-progress" *ngIf="showExportProgress" mode="indeterminate"></mat-progress-bar>
                        <span *ngIf="showExportProgress" class="progress-font font-12">Request is in
                            progress</span>
                        <div class="error-message" *ngIf="errorMessageDownload">
                            {{errorMessageDownload}}
                        </div>

                    </div>
                </div>
                <!-- <div class="modal-footer modal-close">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> -->
            </div>

        </div>
    </div>
