<div class="p-2 cust-style d-flex">
    <div class="d-flex cus-box">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="avail-breadcrumb" routerLink="/pages">Avails</a>
            </li>
            <i class="fa fa-angle-right arrow"></i>
            <li class="breadcrumb-item">
                <a  class="avails-sidenav-color">{{sidenav_title}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid">
    <div class="row avail-card">
        <div class="col-sm-4 avail-box" *ngFor="let avail of availsList; let i = index">
            <div class="card text-white mb-3 shadow-sm card-width">
                <div class="c-pointer" (click)="showDetails = null">
                    <div class="hidden-header" [attr.id]="'undoBtn'+i" *ngIf="showDetails == i">{{avail.avail_title}}</div>
                </div>

                <div class="card-header card-padding" *ngIf="showDetails !== i && showStatus !== i">
                    <span class="avail-status c-pointer" (click)="showAvailStatus(i)">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x icon-background4"></i>
                            <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                            <i class="fa fa-check fa-stack-1x custom-fa"></i>
                        </span>
                        <!-- <circle-progress [percent]="avail.total_avail_percentage" [radius]="20" [outerStrokeWidth]="2" [innerStrokeWidth]="2" [outerStrokeColor]="'#008040'"
                                    [innerStrokeColor]="'#006FAD'" [animation]="true" [animationDuration]="1000"></circle-progress> -->
                    </span>
                    <!-- <br> -->
                    <span>
                        <p class="avail-title" routerLink="/pages/titles/titleview" [queryParams]="{ avail_title: avail.avail_title }">{{avail.avail_title}}</p>
                        <p class="avail-date">
                            <img src="assets/images/Icons/PNG/calendar.png"> {{avail.date_of_arrival}} -
                            <span>{{avail.date_of_delivery}}</span>
                        </p>
                    </span>

                </div>
                <div class="card-body" *ngFor="let detail of avail.avail_details">
                    <div class="equalHMWrap" *ngIf="showStatus !==i">
                        <span (click)="showtitlesDiv($event,i);" id="titlesDiv">
                            <span class="avail-details titlesBox" (click)="rotate(avail.avail_name, 'titles')">
                                <img src="assets/images/Icons/PNG/titles.png"> {{detail.titlesCount}}
                                <span class="titles box" *ngIf="showDetails == i">{{showTitlesText}}</span>
                            </span>
                        </span>
                        <span (click)="showcountriesDiv($event,i)" id="countriesDiv">
                            <span class="avail-details countriesBox" (click)="rotate(avail.avail_name, 'countries')">
                                <i class="material-icons md-18 md-grey v-align">language</i> {{detail.countriesCount}}
                                <span *ngIf="showDetails == i">{{showCountriesText}}</span>
                            </span>
                        </span>
                        <span (click)="showlanguagesDiv($event,i)" id="languagesDiv">
                            <span class="avail-details languagesBox" (click)="rotate(avail.avail_name, 'languages')">
                                <i class="material-icons md-18 md-grey v-align">translate</i> {{detail.languagesCount}}
                                <span *ngIf="showDetails == i">{{showLanguagesText}}</span>
                            </span>
                        </span>
                    </div>
                    <!-- progress bar -->
                    <div class="progressBar" *ngIf="showDetails===i && showTitlesText == 'Titles'">
                        <div class="progress">
                            <div class="bg-success" [ngStyle]="{'width.%': completedWidth}">
                                {{detail.titlesCompleted}}
                            </div>
                            <div [ngStyle]="{'width.%': pendingWidth}">
                                {{detail.titlesPending}}
                            </div>
                        </div>
                    </div>

                    <div class="progressBar" *ngIf="showDetails===i && showCountriesText == 'Countries'">
                        <div class="progress">
                            <div class="bg-success" [ngStyle]="{'width.%': completedWidth}">
                                {{detail.countriesCompleted}}
                            </div>
                            <div [ngStyle]="{'width.%': pendingWidth}">
                                {{detail.countriesPending}}
                            </div>
                        </div>
                    </div>

                    <div class="progressBar" *ngIf="showDetails===i && showLanguagesText == 'Languages'">
                        <div class="progress">
                            <div class="bg-success" [ngStyle]="{'width.%': completedWidth}">
                                {{detail.languagesCompleted}}
                            </div>
                            <div [ngStyle]="{'width.%': pendingWidth}">
                                {{detail.languagesPending}}
                            </div>
                        </div>
                    </div>

                    <div class="legend-margin" *ngIf="showDetails===i ">
                        <div class="row">
                            <div class="col-md-1 mt-1">
                                <div class="complete-legend"></div>
                            </div>
                            <div class="col-md-5 legend-text">Completed</div>

                            <div class="col-md-2 mt-1">
                                <div class="pending-legend pending-legend-margin"></div>
                            </div>
                            <div class="col-md-2 legend-pending-text">Pending</div>
                        </div>
                        <!-- progress bar -->
                    </div>
                    <div class="cust-text" *ngIf="showStatus== i">
                        <span class="status-text" (click)="showStatus = null">
                            <strong class="status-font">Status</strong>
                        </span>
                        <p class="status">
                            <b>{{detail.pending_avail_translations_count}}</b> Translations Available</p>
                        <div class="progress-style">
                            <button type="button" class="btn btn-success btn-sm">Ingest&nbsp;&nbsp;
                                <i class="material-icons v-align md-18">send</i>&nbsp;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>