//  TopNav CSS
.outline{
    outline: none;
    cursor: pointer;
}
$topnav-background-color: #007CC3;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

// top nav css closed


$topnav-background-color: #007CC3;
.sidebar {
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 235px;
    width: 235px;
    margin-left: -235px;
    margin-bottom: 48px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: $topnav-background-color;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    .list-group {
        a.list-group-item {
            background: $topnav-background-color;
            border: 0;
            border-radius: 0;
            color: #FFFFFF;
            text-decoration: none;
            .fa {
                margin-right: 10px;
            }
        }
        a:hover {
            background: darken($topnav-background-color, 5%);
            color: #fff;
        }
        a.router-link-active {
            background: darken($topnav-background-color, 5%);
            color: #fff;
        }
        .header-fields {
            padding-top: 10px;

            > .list-group-item:first-child {
                border-top: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
    }
    .sidebar-dropdown {
        *:focus {
            border-radius: none;
            border: none;
        }
        .panel-title {
            font-size: 1rem;
            height: 50px;
            margin-bottom: 0;
            a {
                color: #999;
                text-decoration: none;
                font-weight: 400;
                background: $topnav-background-color;
                span {
                    position: relative;
                    display: block;
                    padding: 0.75rem 1.5rem;
                    padding-top: 1rem;
                }
            }
            a:hover,
            a:focus {
                color: #fff;
                outline: none;
                outline-offset: -2px;
            }
        }
        .panel-title:hover {
            background: darken($topnav-background-color, 5%);
        }
        .panel-collapse {
            border-radius: 0;
            border: none;
            .panel-body {
                .list-group-item {
                    border-radius: 0;
                    background-color: $topnav-background-color;
                    border: 0 solid transparent;
                    a {
                        color: #999;
                    }
                    a:hover {
                        color: #fff;
                    }
                }
                .list-group-item:hover {
                    background: darken($topnav-background-color, 5%);
                }
            }
        }
    }
}

.nested-menu {
    .list-group-item {
        cursor: pointer;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        display: none;
        height: 0;
    }
    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    color: #fff;
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .sidebar {
        top: 54px;
        left: 0px;
    }
}
@media print {
    .sidebar {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .header-fields {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
}

.toggle-button {
    position: fixed;
    width: 236px;
    cursor: pointer;
    padding: 12px;
    bottom: 0;
    color: #999;
    background: #212529;
    i {
        font-size: 23px;
    }
    &:hover {
        background: darken($topnav-background-color, 5%);
        color: #fff;
    }
    border-top: 1px solid #999;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.collapsed {
    width: 60px;
}

// card css 
.cust-style {
    justify-content: space-between;
}
.cus-box{
    justify-content: space-between;
    // width: 100%;

}
.trans-icon {
    padding: 23px;
    cursor: pointer;
   }
   .f-r {
       float: right;
   }
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 0rem;
    margin-bottom: 1rem;
    list-style: none;
    background: none;
    margin: auto;
    border-radius: .25rem;
    .breadcrumb-item{
        a{
            margin-right: 20px;
        }
    }
}
.arrow{
    display: flex;
   // margin: auto 0;
    letter-spacing: 11px;
    margin-top: 5px;
}
.avail-card {
    display: flex;
    flex-wrap: wrap;

    .card-header {
        background-color: #000000, 10%;
        color: #007CC3;
        border-bottom: 1px solid lightgrey;
    }
    
    .c-pointer {
        cursor: pointer;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 0rem;
    }
    .card-padding {
        padding: 13px 0px 0px 10px;
    }
    .avail-status {
        float: right; 
        margin-top: -1%;
        position: absolute;
        top: 3%;
        left: 70%;
    }
    .current {
        margin-top:-23px;
        position: absolute;
        color: green;
      }
    .avail-title {
        font-size: 14px;
        outline: none;
        font-family: Roboto, Regular;
        margin-bottom: 0.5rem;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        width: 100px;
        outline: none;
        white-space: nowrap;
    }
    .avail-date {
        font-size: 11px;
        color: black;
      }
      .progressBar{
        margin: 0 11% 0 3%;
        .progress {
            height:23px;
            width:108%;
            background: #007CC3;
            .inner-progress {
                height:23px;
                background: #0AAD43;
            }
        }
       
    }
      .avail-details {
        font-size: 15px;
        color: black !important;
     }
     .status-padding {
        padding:5px;
      }
      .legend-margin {
        margin:7px 0px 7px 5px;
      }
      .legend-flex{
        justify-content: space-between;
    }
      .complete-legend {
        height: 0.5em;
        width: 0.5em;
        background: #0AAD43;
        border-radius: 0;
        color: #0AAD43;
      }
      .status-bar{
        display: flex;
        align-items: center;
    }
      .pending-legend {
        height: 0.5em;
        width: 0.5em;
        background: #007CC3;
        border-radius: 0;
        color:#007CC3;
      }
      .pending-legend-margin {
        margin: 0px 0px 0px 8px;
      }
      .legend-text {
        color: #0AAD43;
         font-size: 10.3px; 
         padding:0px;
    }
    .legend-pending-text {
        color: #007CC3;
         font-size: 10.3px; 
         padding:0px;
    }
    
    
      .v-align {
        vertical-align: text-bottom;
    }
    .progress {
        height:23px;
        width:108%;
        background: #007CC3;
        .inner-progress {
            height:23px;
            background: #0AAD43;
        }
    }
    .hidden-header {
        font-size: 13px;
        color: #007CC3;
        border-bottom: 1px solid lightgrey;
        padding-left: 3%;
      }
    
 
    .equalHMWrap {
        display: flex;
        justify-content: space-between;
        padding: 0.25rem;
        font-family: Roboto, Regular;
        .titlesBox {
            width: 50px;
            transition: width 0.15s; 
            font-size: 12px;
        }
        
        .titlesBox.clicked {
            width: 110px;
            font-size: 12px;
        } 
        i{
            color: rgba(0, 0, 0, 0.4);
            padding-right: 3px;
        }
        .countriesBox {
            width: 50px;
            transition: width 0.15s;
            font-size: 12px;
        }
        .countriesBox.clicked {
            width: 100px;
            font-size: 12px;
        } 
        .languagesBox{
            width: 50px;
            transition: width 0.15s;
            font-size: 12px;
        }
        .languagesBox.clicked {
            width: 110px;
            font-size: 12px;
        } 
     
    }
    .completeColor{
        background: rgba(10, 173, 67, 1);
        color: #fff;
        display: flex;
        align-items: center;
    }
    .pendingColor{
        background:rgba(0, 124, 195, 1);
        color: #fff;
        padding-left: 5px;
        display: flex;
        align-items: center;
    } 

    .cust-text { 
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 7px;
    background: rgba(0,0,0,.03);
  
    }
    .status-text {
        color: #007CC3;
       }
   .status {
       margin:0 0 0 3px ;
        padding: 0;
        color: rgba(0, 0, 0, 0.4);
   }
   .status-font {
    font-size: 15px
   }
   .status-color {
    color: black;
}
.modal .modal-dialog {
    position: fixed;
    margin: auto;
    width: 400px;
    height: 500px;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
            
}
  
  
   

   


@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin:  0;
        margin-left: auto;
    }

.modal .modal-content {
    // height: 450px;
    border-radius: 6px;
    height: 100%;
}
.modal .modal-body {
    padding: 15px 15px 80px;
}
.modal.fade .modal-dialog {
    top: 63px;
    right: 12px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.fade.in .modal-dialog {
    right: 0;
}
.modal-content {
    border-radius: 0;
    border: none;
}
.modal-header {
    border-bottom: none !important;

.close{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  &:active{
      color: #92D1FF;
  }
}
.btn-fun{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color:gray;
    cursor: inherit;
}
button:focus{
    outline: none;
}
   
}
}
@media (min-width: 576px) {
    .avail-box{
        flex: 0 0 20%;
        max-width: 19.8%;
        padding-right: 0px;
    }
}
.tabSelected{
    font-size:15px;
    color:black;
}
}
.round-outline{
    margin-top:-45px;
    outline: none;
    
}
.download-image{
    display: flex;
    justify-content: flex-start;
    /* padding: 10px 0px; */
    height: 30px;
    border-radius: 4px;
    // cursor: pointer;
    .download-text{
        height: auto;
        flex: 0 0 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
    .download-btn{
        flex: 0 0 20%;
        background: #007CC3;
        color: #fff;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px !important;
    }
    i{
        transform: rotate(90deg);
        font-size: 12px;
    }
}
.export-align{
    width:100%;
    background: #007CC3;
    outline: none;
}

// .btn {
//     color: rgba(255, 255, 255 ,1) !important;
//     cursor: pointer;
//     // display: block;
//     font-size:12px;
//     font-weight: 400;
//     //line-height: 45px;
//     //margin: 0 0 2em;
//     max-width: 160px; 
//     position: relative;
//     text-decoration: none;
//     text-transform: uppercase;
//     width: 50%; 
//     padding: 0px 10px;
//     // box-shadow: 0 0 3px #007CC3;
//     // background: #007CC3;
//     box-shadow: 0 0 3px rgb(10, 173, 67);
//     //background: rgba(10, 173, 67,0.4);
//     // box-shadow: 0 0 3px rgba(0, 0, 0,0.6);
//     // background: rgba(0, 0, 0,0.6);
// }
// .btn:focus{
//     box-shadow: none;
// }
//     @media(min-width: 600px) {
      
//         margin: 0 1em 2em;
      
   
//       }
      
//     //   &:hover { text-decoration: none; }
      

//     //colors
// $red: #E1332D;
// $white: #fff;
    
//     .btn-1 {
//       //background: rgba(0, 124, 195,1);
//       background: rgba(10, 173, 67, 0.7);
//       font-weight: 100;
//       color: rgba(0, 0, 0,0.6);
//       text-transform: inherit;
//       svg {
//         height: 100%;
//         left: 0;
//         position: absolute;
//         top: 0; 
//         width: 100%;
//         border-radius: 6px; 
//       }
      
//       rect {
//         // fill: none;
//         // stroke: rgba(0, 0, 0,0.6);
//         // stroke-width: 1;
//         // stroke-dasharray: 422, 0;
//         // transition: all 0.35s linear;
//       }
//     }
    
//     .btn-1:hover {
//     //   background: rgba($red, 0);
    
//       font-weight: 900;
//       letter-spacing: 1px;
//       transition: all 0.35s linear;
      
//       rect {
//         // stroke-width: 5;
//         // stroke-dasharray: 15, 285;
//         // stroke-dashoffset: 48;
//         // transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
//       }
//     }
    



    //modal classes//

    .export-align{
        width:100%;
        background: #007CC3;
        outline: none;
    }
    .export-text{
        font-weight: 500;
        font-size: 15px;
        }
        .export-yesRno{
            font-weight: 500;
            font-size: 12px;  
        }
        .initiate-export{
            position: absolute;
            top: 0px;
            left: 71px;
        }
    
    .modal-align {
        // top:  85px !important;
        // left: 40% !important;
        // left:31% !important;
        color:black;
    }
    .modal-width{
        top: 31%!important;
        left: 0% !important;
        right: 0 !important;
        width: 100% !important;
        height: 120px !important;
        max-width: 250px !important;
      
    }
    .modal-body-align{
        padding: 5px 14px 0px !important;
        height: 65px;
    }
    .modal-close{
    //padding:0px;
    outline:none;
    }
    .font-12{
        font-size:12px !important;
        position: absolute;
        top: 20px;
    }
    .export-header{
        border-bottom: 0 !important;
    }
    .blue-progress{
        top: 40px;
    }
        .font-12{
            color: #000000;
            font-size: 12px;
        }
        .error-message{
            margin-top: 10px;
            font-size: 12px;
        }
        .close{
            outline: none;
        }


 


