<div class="container-fluid p-12">
  <div class="top-heading">
    <div class="language-data">
      <a class="avail-details d-flex mb-1" >
        <i class="material-icons md-18 md-grey v-align">translate</i>&nbsp; 28 Languages</a>
      <div class="progress progress-main">
        <div class="progress-bar bg-success" (click)="filterlanguages('completed');" style="width: 20%">
          8
        </div>
        <div class="progress-bar" (click)="filterlanguages('pending');" style="width: 80%">
          20
        </div>
      </div>
      <div *ngIf="!clickedOnLanguage" class="row row-list mt-2 text-white">
        <div class="col-md-12 avail-list mt-2">
          <div *ngFor="let x of availDetailsViewList">
            <div *ngFor="let y of x.avail_details">
              <span *ngFor="let z of y.languages" [ngClass]="[z.status == 'completed' ? 'progress bg-success' : 'progress']">
                <ul class="list-style list-description">
                  <li>{{z.language_name}} </li>
                </ul>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="clickedOnLanguage" class="row row-list">
        <div class="col-md-12 avail-list mt-4">
          <span *ngFor="let filterLanguage of filteredLanguage" [ngClass]="[filterLanguage.status == 'completed' ? 'progress bg-success' : 'progress']">
            <ul class="list-style list-description">
              <li>{{filterLanguage.language_name}} </li>
            </ul>
          </span>
        </div>
      </div>
    </div>
    <div class="language-metadata">
      <div class="metaData-content">
        <div class="table-1">
          <ul>
            <li>Local Titles</li>
            <li>English Short</li>
            <li>English Long</li>
          </ul>
        </div>
        <div class="table-2 d-flex">
          <!-- <ul *ngFor="let x of availLanguageList" id="OriginalData" [ngClass]="(changedWidth) ? 'width-50' : 'width-100'">
            <li>{{x.Local_Titles}}</li>
            <li (click)="dataShow(metaDataListUpdateVal)" class="cursor-pointer datahide">{{metaDataListUpdateVal}}</li>
            <li>{{x.English_short}}</li>
           
          </ul> -->
          <ul *ngFor="let x of availLanguageList" id="OriginalData" [ngClass]="(changedWidth) ? 'width-100' : 'width-px'">
              <li>{{x.Local_Titles}}</li>
              <li (click)="dataShow(metaDataListUpdateVal)" class="cursor-pointer datahide">{{metaDataListUpdateVal}}</li>
              <li>{{x.English_short}}</li>
             
            </ul>
          <!-- <div class="" >
                    <div class="table-3"> -->

          <!-- </div>
                  </div> -->

        </div>
        <div class="comparsion-box" >
          <div class="d-flex">
            <div class="add-icon">
              <i class="material-icons" >add_box</i>
              <div id="mySidenav" class="searchBox d-flex" id="compareBox">
                <div class="compare-section">
                  <div class="add-btn">
                    <a href="javascript:void(0)" class="closebtn" >
                      <i class="material-icons">add_box</i>
                    </a>Compare</div>
                  <!-- <input type="text" name="availId" [(ngModel)]="availId" (keydown)="onEnterKeyMeta($event,availId)"> -->
                  <!-- <button (click)="metaDataShow(availId)">Add</button>  -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="add-icon d-flex align-items-center" >
          <i class="material-icons">add_box</i>
        </div>

      </div>
    </div>
  </div>
    <!-- <div class="update-field">
      <input type="text" class="form-control" id="usr" [(ngModel)]="user" (keydown)="updateDescription($event,user)">
    </div> -->
    <div class="update-box mt-2">
      <div class="btn-group">
        <div cla>
        <ul class="nav nav-tabs">
          <li class="nav-item ">
            <a class="nav-link active d-flex justify-content-between" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('atom')}">ATOM <i class="material-icons atom-icon">cloud_done</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('cas')}">CAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('sap')}">SAP</a>
          </li>
        </ul>
        </div>
        <div class="text-area">
          <textarea cols="79" rows="2" #box [(ngModel)]="user">
                        
            </textarea>
        </div>
        <div class="btn btn-dark" (click)="updateDescription($event,user)"><p class="d-flex align-items-center height-100 mb-0 cursor-pointer">Update</p></div>
      </div>
     

    </div>

    
</div>