$primary: rgba(0, 124, 195,1);
$secondary:rgba(3, 169, 244,1);
$black: rgba(0,0,0,1);
$black-1: rgba(0,0,0,0.14);
$black-3: rgba(0,0,0,0.3);
$black-4: rgba(0,0,0,0.4);
$black-6: rgba(0,0,0,0.6);
$black-7: rgba(0,0,0,0.7);
$black-8: rgba(0, 0, 0, 0.86);
$white:rgba(255,255,255,1);
$white-6:rgba(255,255,255,0.6);
$blue: rgba(190, 227, 255,1);


.container{
    background:rgba(242, 249, 252, 1);
}
.table td, .table th {
    padding: .75rem 0px;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}
.bottomline{
    font-size: 15px;
    border-bottom: 1px solid #dadada;
    color:rgba(0, 124, 195, 1);
    line-height: 3;
    background: rgba(243, 243, 243, 1);
    margin-right: -6%;
    // font-weight: bold;
}
.v-align {
    vertical-align: text-bottom;
    color:black;
}
.row-align{
    font-size: 12px;
    line-height: 1px;
    color: rgb(253, 254, 255);
}
.table-bordered {
    border: 1px solid #dee2e6;
}
.table-active, .table-active>td, .table-active>th {
    background-color: #dee2e6;
}
.table td:hover{
   border: 2px solid #dee2e6;
}
.range{
    margin-top: 3.1rem;
    .bottomlines{
        color:rgba(0, 124, 195, 1);
        font-size: 15px;
   }
}
.new-align{
    margin-top: 1.6rem;
    text-indent: 8px;
    font-size: 14px;
}
.row-align{
    line-height: 1px;
    text-indent: 8px;
}
.ratings{
    .rating-head{
        position: relative;
        top: 12px;
   }
    .table-align{
        margin-top: 24px;
   }
    .td-align{
        &:hover{
            color: black;
       }
        width: 170px;
        text-indent: 8px;
        font-size: 12px;
   }
}
.font-align{
    margin-top: 8px;
    color: rgba(0, 124, 195, 1);
}
.t-none{
    border:none;
    font-size: 12px;
    .contact{
        margin-top: 1.6rem;
        font-size: 15px;
        color: rgba(0, 124, 195, 1);
   }
    .user-email{
        margin-top: 5px;
   }
}
.log{
   
    border-left: 1px solid #d6d4d4;
    .font-align{
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        color: rgba(0, 124, 195, 1);
        position: relative;
        top: 6%;
   }
    .log-box{
        background: rgba(255, 255, 255, 1);
        list-style: none;
        line-height: 2rem;
        border: 1px solid white;
        margin-bottom:12px;
        .timestamp{
            display: flex;
            justify-content: space-between;
            font-size: 10px;
            color: #dadada;
            .name{
                font-size: 12px;
           }
            .dates{
                font-size: 12px;
           }
       }
        .bold{
            font-size: 12px;
            color: black;
            font-weight: 500;
       }
        .comment{
            font-size: 12px;
            color: #8c8a8a;
       }
   }
}
.textBox{
    border: none;
    outline: none;
    background: transparent;
    :focus{
        outline: transparent;
    }
    
}
.user-details{
    justify-content: space-between;
    font-size: 11px;
    color: $black-6;
    
}