 <!-- <router-outlet>
        <ng-progress [spinner]="false"></ng-progress>
 </router-outlet>
  -->
  <!-- <mat-toolbar class="mat-top-bar" class="mat-top-bar"> -->
    <!-- {{title}} -->
    <!-- <nav style="margin-left: auto">
      <a mat-button routerLink="/">pages</a>
      <a mat-button routerLink="/television">Television</a>
    </nav> -->
  <!-- </mat-toolbar> -->
  <!-- <mat-progress-bar
    *ngIf="loading" color="blue" mode="indeterminate">
  </mat-progress-bar> -->
  <router-outlet>
      <ng-progress [spinner]="false"></ng-progress>
    <!-- <ngx-loading-bar [includeSpinner]="false"></ngx-loading-bar> -->
  </router-outlet>



