.ng-progress-bar {
    top: calc(100% - 2px) !important;
  
    /** or 3px for if [thick]=true */
    top: calc(100% - 3px) !important;
  }
  .mat-top-bar{
    position: relative;
    display: flex;
    background: white;
    color: #fff;
    margin: -10.5px 0px 0px 0px;
  }
  