<div class="user-tab">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#insight">John Paul</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#metaData">Configure</a>
    </li>
  </ul>
</div>
<div class="main">
  <div class="container-fluid">
    <div class="heading">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#alerts">Alerts</a>
        </li>
        <li class="nav-item pr-0">
          <a class="nav-link" data-toggle="tab" href="#systems">Systems</a>
        </li>
      </ul>

    </div>
    <div class="tab-content">
      <div id="users" class="container tab-pane active">

        <div class="search-button">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="material-icons">search</i>
              </span>
            </div>
            <input type="text" class="form-control" aria-label="search" aria-describedby="basic-addon1" name="searchtext" [(ngModel)]="searchtext">

          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <div *ngFor="let x of userDataList">
                <div class="table-class" *ngFor="let user of x.user_details | searchPipe:{username: searchtext, mail_id:searchtext,  user_id: searchtext}; let i=index">
                  <tr>
                    <td class="username">{{user.username}}</td>
                    <td class="usermail">{{user.mail_id}}</td>
                    <td class="userid">{{user.user_id}}</td>
                    <td class="usernotification">
                      <div class="d-flex align-items-center">
                        <h6 class="pr-2">Notification</h6>
                        <label class="switch">
                          <input type="checkbox" checked>
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </td>
                    <td class="useralert">
                      <div class="d-flex align-items-center">
                        <h6 class="pr-2">Alert</h6>
                        <label class="switch">
                          <input type="checkbox" checked>
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </td>
                    <td class="useractive">
                      <div class="d-flex align-items-center">
                        <h6 class="pr-2">Active</h6>
                        <label class="switch">
                          <input type="checkbox" checked>
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                </div>
              </div>
            </tbody>
          </table>
        </div>
      </div>
      <div id="alerts" class="container tab-pane fade">

        <div id="metaData" class="container tab-pane fade">

          <div class='row'>
            <div class="boxed">
              <div class='column'>
                <div class='blue-column'>
                  <span class="head">Red Alert</span>
                  <div class="new-text">Avail Overdue
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </span>
                  </div>
                  <div class="new-text">Title Overdue
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">Translation Overdue
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">Rating Overdue
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">Escalations Overdue
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">System Failure
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">API Failure
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">New Escalation
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxed">
              <div class='column'>
                <div class='green-column'>
                  <span class="head">Risk</span>
                  <div class="new-text">Avail Overdue
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">Title Overdue
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">Translation Overdue
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">Rating Overdue
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">Escalations Overdue
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">System Failure
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">API Failure
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">New Escalation
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                </div>
              </div>

            </div>
            <div class="boxed-new">
              <div class='column'>
                <div class='orange-column'>
                  <span class="head">Notification</span>
                  <div class="new-text">New Comment
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">New Log
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">User Updates
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">Referred in Comment
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                  <div class="new-text">Timeline update
                    <span class="new-switch">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label></span>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- </div> -->

        </div>
      </div>

      <div id="systems" class="container tab-pane fade">
        <div class="row">
          <div class="col-md-8">
            <div class="search-button">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="material-icons">search</i>
                  </span>
                  
                </div>
                
                  <input type="text" class="form-control" aria-label="search" aria-describedby="basic-addon1" name="searchtext" [(ngModel)]="searchtext">
                  <button class="new-add" ><span><i class="material-icons">create_new_folder</i></span><span> Add </span> </button>
                </div>
              <div>
                <label class="version-content" *ngFor="let val of multipleList.versionS">{{val.n}} </label>
              </div>
              <div class="version-content">
                <textarea *ngIf="removeButton" class="custom-field w90 textarea" [(ngModel)]="versions">
                <label class="right_btn ml-auto" >+ Add</label>
              </textarea>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <div *ngFor="let x of userDataList">
                    <div *ngFor="let y of x.system_details">
                      <div class="table-class" *ngFor="let y of y.notificationDetails | searchPipe:{version: searchtext}; let i=index">
                        <tr>
                          <ul class="version">{{y.version}}</ul><br>
                          <ul class="notification">{{y.notification}}</ul>
                        </tr>
                      </div>
                    </div>
                  </div>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-4">
            <div class="log-button">
              Log
            </div>

            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <div *ngFor="let x of userDataList">
                    <div *ngFor="let y of x.system_details">
                      <div class="table-class" *ngFor="let y of y.logDetails | searchPipe:{version: searchtext}; let i=index">
                        <tr>
                          <ul class="name">{{y.name}}</ul>
                          <ul class="log_dateAndTime">{{y.log_dateAndTime}}</ul>
                          <ul class="status">{{y.status}}</ul>
                          <ul class="log_version">{{y.log_version}}</ul>
                        </tr>
                      </div>
                    </div>
                  </div>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>