<div class="acc-style-top">
  <div class="row">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="condition ? ['/pages/itunes'] : ['/pages']">Avails</a>
      </li>
      <i class="fa fa-angle-right arrow"></i>
      <li class="breadcrumb-item">
        <a #tref>{{availName}}</a>
      </li>
      <i class="fa fa-angle-right arrow"></i>
      <li class="breadcrumb-item">
        <a [routerLink]="condition ? ['/pages/itunestitles'] : ['/pages/titles']" [queryParams]="{avail_name: availName}" #tref>Titles</a>
      </li>
      <i class="fa fa-angle-right arrow"></i>
      <li class="breadcrumb-item breadcrumb-title">
        <a #tref>{{titleName}}</a>
      </li>
    </ul>
  </div>
  <div class="card  top-main">
    <div class="d-flex top-bar">
      <div class="flex-description box-1">
        <!-- <img class="img-card" src="../../../assets/images/lego.jpg"> -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          <img name="main_img" class="img-card" src="assets/images/lego.jpg" (click)="cropImage()">
        </button>
      </div>
      <div class="flex-description box-2">
        <div class="d-flex">
          <div class="card-data">
            <div class="card-content">
              <h6 class="main-title">{{titleName}}</h6>
              <h6 class="main-calender"><img src="assets/images/Icons/PNG/calendar.png">02/22 - 03/19</h6>
              <!-- <ul>
                <li>The Lego Movie 2</li>
                <li class="cust-text">
                  <img src="assets/images/Icons/PNG/calendar.png">22/22 - 3/19</li>
              </ul> -->
            </div>
            <div class="circle circle-percentage">
              <circle-progress [percent]="0" [radius]="20" [outerStrokeWidth]="2" [innerStrokeWidth]="2" [outerStrokeColor]="'#008040'"
                [innerStrokeColor]="'#006FAD'" [animation]="true" [animationDuration]="1000"></circle-progress>
            </div>
          </div>
          <div class="card-menu">
            <div class="container mt-3">
              <ul class="nav nav-tabs">
                <li class="nav-item mr-2">
                  <a class="nav-link active" data-toggle="tab" href="#insight">Insight</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" data-toggle="tab" href="#metaData" routerLink="/pages/metadata"
                  [queryParams]="{avail_name: availName, title_name: titleName}">Metadata</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-description box-3">
        <i class="material-icons">vertical_align_center</i>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="material-icons" (click)="reload()">replay</i>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="material-icons">title<sup>+</sup></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="material-icons">title<sup>-</sup></i>
      </div>
    </div>
  </div>
</div>

<div class="" >
  <div class="row legend">
    <div class="legend-status">
      <div class="complete-legend"></div>
      <div class="col-md-6 legend-text">Completed</div>
    </div>
    <div class="legend-status">
      <div class="pending-legend"></div>
      <div class="col-md-3 legend-pending-text">Pending</div>
    </div>
  </div>
</div>

<div class="acc-style">
  <div class="row">
    <div class="col-md-5 line-first">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <a class="avail-details text-head" (click)="showDetails3 = !showDetails3">
              <img src="assets/images/Icons/SVG/baseline-add_shopping_cart-24px.svg">&nbsp;59 Accounts</a>
            <!-- <strong [hidden]="showDetails">Titles</strong> -->
            <div class="progress progress-main">
              <div class="progress-bar bg-success" style="width: 70%">
                70
              </div>
              <div class="progress-bar bg-pending" style="width: 30%">
                30
              </div>
            </div>&nbsp;&nbsp;

            <div class="row row-list">
              <div class="col-md-12 avail-list">
                <div *ngFor="let x of availDetailsViewList">
                  <div *ngFor="let y of x.avail_details">
                    <span *ngFor="let z of y.titlesDetails" [ngClass]="[z.status == 'completed' ? 'progress bg-success' : 'progress']">
                      <ul>
                        <li>{{z.title_name}} </li>
                      </ul>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <a class="avail-details text-head" (click)="showDetails3 = !showDetails3">
              <i class="material-icons md-18 md-grey v-align">language</i>&nbsp; 32 Countries</a>
            <div class="progress progress-main">
              <div class="progress-bar bg-success" style="width: 50%">
                16
              </div>
              <div class="progress-bar bg-pending" style="width: 50%">
                16
              </div>
            </div>&nbsp;&nbsp;
            <div class="row row-list">
              <div class="col-md-12 avail-list">
                <div *ngFor="let x of availDetailsViewList">
                  <div *ngFor="let y of x.avail_details">
                    <span *ngFor="let z of y.countries" [ngClass]="[z.status == 'completed' ? 'progress bg-success' : 'progress']">
                      <ul>
                        <li>{{z.country_name}} </li>
                      </ul>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <a class="avail-details text-head" (click)="showDetails3 = !showDetails3">
              <i class="material-icons md-18 md-grey v-align">translate</i>&nbsp; 28 Languages</a>
            <div class="progress progress-main">
              <div class="progress-bar bg-success" style="width: 20%">
                8
              </div>
              <div class="progress-bar bg-pending" style="width: 80%">
                20
              </div>
            </div>&nbsp;&nbsp;
            <div class="row row-list">
              <div class="col-md-12 avail-list">
                <div *ngFor="let x of availDetailsViewList">
                  <div *ngFor="let y of x.avail_details">
                    <span *ngFor="let z of y.languages" [ngClass]="[z.status == 'completed' ? 'progress bg-success' : 'progress']">
                      <ul>
                        <li>{{z.language_name}} </li>
                      </ul>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div>&nbsp;</div>

        <!-- progress bar -->
        <div style="margin: 20px 21px 24px 5px;" [hidden]="showDetails3">
          <div class="progress">
            <div [ngStyle]="{'width.%': width}" class="inner-progress">100</div>
          </div>
        </div>
        <!-- progress bar -->
      </div>

    </div>
    <div class="col-md-1 line-middle"></div>

    <div class="col-md-6 line-last">
      <div class="row comman-row">
        <div class="col-md-12 block">
          <!-- <div *ngIf="showStatus">-->
          <h6 class="status-text">Status</h6>
          <p class="status">
            <b>-</b></p>
           
          <p class="status-count">Pending Translations</p>
          <p class="status">
            <b>-</b></p>
            
          <p class="status-count">Pending Ratings</p>
          <p class="status">
            <b>-</b></p> 
           
          <p class="status-count">Pending Clarifications</p>
          <p class="status">
            <b>-</b> </p>
         
          <p class="status-count">Escalations</p>
          <!-- </div>  -->
        </div>
      </div>
      <br>

      <div class="row block">
        <div>
          <h6 class="status-text">History</h6>
        </div>
        <div class="col-md-12 avail-card">
          <div class="col-md-6" *ngFor="let avail of availsList; let i = index">
            <div class="card text-white mb-3 shadow-sm card-width complete-card">
              <div class="c-pointer" (click)="showDetails = null">

              </div>

              <div class="card-header card-padding" *ngIf="showDetails !== i && showStatus !== i">
                <span class="avail-status c-pointer">
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x icon-background4"></i>
                    <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                    <i class="fa fa-check fa-stack-1x custom-fa"></i>
                  </span>
                  <!-- <circle-progress [percent]="avail.total_avail_percentage" [radius]="20" [outerStrokeWidth]="2" [innerStrokeWidth]="2" [outerStrokeColor]="'#008040'"
                                    [innerStrokeColor]="'#006FAD'" [animation]="true" [animationDuration]="1000"></circle-progress> -->
                </span>
                <!-- <br> -->
                <span>
                  <p class="avail-title history-card">{{avail.avail_title}}</p>
                  <p class="avail-date history-card">
                    <img src="assets/images/Icons/PNG/calendar.png"> {{avail.date_of_arrival}} -
                    <span>{{avail.date_of_delivery}}</span>
                  </p>
                </span>

              </div>
              <div class="card-body" *ngFor="let detail of avail.avail_details">
                <div class="equalHMWrap" *ngIf="showStatus !==i">
                  <span id="titlesDiv">
                    <span class="avail-details titlesBox">
                      <img src="assets/images/Icons/PNG/titles.png"> {{detail.titlesCount}}
                      <span class="titles box" *ngIf="showDetails == i">{{showTitlesText}}</span>
                    </span>
                  </span>
                  <span id="countriesDiv">
                    <span class="avail-details countriesBox">
                      <i class="material-icons md-18 md-grey v-align">language</i> {{detail.countriesCount}}
                      <span *ngIf="showDetails == i">{{showCountriesText}}</span>
                    </span>
                  </span>
                  <span id="languagesDiv">
                    <span class="avail-details languagesBox">
                      <i class="material-icons md-18 md-grey v-align">translate</i> {{detail.languagesCount}}
                      <span *ngIf="showDetails == i">{{showLanguagesText}}</span>
                    </span>
                  </span>
                </div>
                <!-- progress bar -->
                <div class="progressBar" *ngIf="showDetails===i && showTitlesText == 'Titles'">
                  <div class="progress">
                    <div class="bg-success" [ngStyle]="{'width.%': completedWidth}">
                      {{detail.titlesCompleted}}
                    </div>
                    <div [ngStyle]="{'width.%': pendingWidth}">
                      {{detail.titlesPending}}
                    </div>
                  </div>
                </div>

                <div class="progressBar" *ngIf="showDetails===i && showCountriesText == 'Countries'">
                  <div class="progress">
                    <div class="bg-success" [ngStyle]="{'width.%': completedWidth}">
                      {{detail.countriesCompleted}}
                    </div>
                    <div [ngStyle]="{'width.%': pendingWidth}">
                      {{detail.countriesPending}}
                    </div>
                  </div>
                </div>

                <div class="progressBar" *ngIf="showDetails===i && showLanguagesText == 'Languages'">
                  <div class="progress">
                    <div class="bg-success" [ngStyle]="{'width.%': completedWidth}">
                      {{detail.languagesCompleted}}
                    </div>
                    <div [ngStyle]="{'width.%': pendingWidth}">
                      {{detail.languagesPending}}
                    </div>
                  </div>
                </div>

                <div class="legend-margin" *ngIf="showDetails===i ">
                  <div class="row">
                    <div class="col-md-1 mt-1">
                      <div class="complete-legend"></div>
                    </div>
                    <div class="col-md-5 legend-text">Completed</div>

                    <div class="col-md-2 mt-1">
                      <div class="pending-legend pending-legend-margin"></div>
                    </div>
                    <div class="col-md-2 legend-pending-text">Pending</div>
                  </div>
                  <!-- progress bar -->
                </div>
                <div class="cust-text" *ngIf="showStatus== i">
                  <span class="status-text" (click)="showStatus = null">
                    <strong class="status-font">Status</strong>
                  </span>
                  <p class="status">
                    <b>{{detail.pending_avail_translations_count}}</b> Translations Available</p>
                  <div style="text-align: center; margin: 9px;">
                    <button type="button" class="btn btn-success btn-sm">Ingest&nbsp;&nbsp;
                      <i class="material-icons v-align">send</i>&nbsp;
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="row comman-row">
        <div class="col-md-3">
          <div class="container">
            <div class="row block-timeline">
              <div class="col-md-6 offset-md-3">
                <h6 class="status-text">Timeline</h6>
                <br>
                <ul class="timeline">
                  <li>
                    <a href="#" class="timeline-date">2/22/2019</a>
                    <p class="timeline-status"> Announced</p>
                  </li>
                  <li>
                    <a href="#" class="timeline-date">03/03/2019</a>
                    <p class="timeline-status">Data Collation</p>
                  </li>
                  <li>
                    <a href="#" class="timeline-date">03/08/2019</a>
                    <p class="timeline-status">Quality Audit</p>
                  </li>
                  <li>
                    <a href="#" class="timeline-date">03/19/2019</a>
                    <p class="timeline-status">Data Delivery</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-9 block-timeline">
          <div class="container">
            <ul class="nav nav-tabs">
              <li class="nav-item text-log">
                <a class="nav-link active mr-2" data-toggle="tab" href="#comment">Comments</a>
              </li>
              <li class="nav-item text-log">
                <a class="nav-link text-dark" data-toggle="tab" href="#log">Log</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content cmnt-list-scroll">
              <div id="comment" class="container tab-pane active">
                <ul id="comments-list" class="comments-list">
                  <li>
                    <div class="comment-main-level comment-box" *ngFor="let x of availDetailsViewList">
                      <div class="comment-box" *ngFor="let y of x.avail_details">
                        <div class="comment-head" *ngFor="let z of y.commentDetails">
                          <h6 class="comment-name">
                            <a href="http://creaticode.com/blog">{{z.name}}</a>
                          </h6>
                          <span class="date">{{z.comment_dateAndTime}}</span><br>
                          <span class="comment-content">{{z.comment_text}}</span>
                        </div>
                      </div>
                    </div>

                  </li>
                  <div class="col-md-12">
                    <label class="comment-content add-cmnt"  *ngFor="let val of multipleList.COMMENTS">{{val.n}} </label>
                  </div>
                  <div class="comment-content add-cmnt">
                    <textarea *ngIf="removeButton" class="custom-field w90 textarea" [(ngModel)]="Comments"></textarea>
                    <label class="right_btn ml-auto" (click)="addMultipleValue(COMMENTS)">+</label>
                  </div>
                </ul>
              </div>

              <div id="log" class="container tab-pane fade">
                <br>
                <ul id="comments-list" class="comments-list">
                  <li>
                    <div class="comment-main-level" *ngFor="let x of availDetailsViewList">
                      <div class="comment-box" *ngFor="let y of x.avail_details">
                        <div class="comment-log-head" *ngFor="let z of y.logDetails">
                          <h6 class="comment-name">
                            <a href="http://creaticode.com/blog">{{z.name}}</a>
                          </h6>
                          <span class="date">{{z.log_dateAndTime}}</span>

                          <div class="comment-content">
                            <img class="log_img" src="assets/images/lego.jpg" alt="events">
                            <span class="log-img-cmt">
                              <p>{{z.status}}</p>
                              <!-- <p>{{z.image_url/fileName}}</p> -->
                            </span>
                            <span class="log-img-status">Thumbnail Image</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="container  acc-style">
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered" style=" display: flex;justify-content: center;
    width: 28%;">
      <div class="modal-content modal-view">
        <!-- <img class="img-card img-crop" src="assets/images/lego.jpg" (click)="cropImage(src);"> -->
        <div class="flex">
        <div>
          <img-cropper name="crop_img" #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
          <br>
          <div data-dismiss="modal" style="font-size:35px ; color: rgb(195, 0, 26) ; background-color: transparent; border: aliceblue;
              position: relative;bottom: 78px;left: 160px;">
              <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <span  style="display: none;" class="result rounded" *ngIf="data.image">
            <img name="final_img" [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight"
             >
          </span>
        </div>
        <div style="display: flex;justify-content: center;width:340px;margin-top:-58px;">
        <div class="crop-cardBody"> 
            <div class="cus-text text-col" style="padding-left: 8px;">
                <ol class="wizard-progress d-flex">

                    <li [ngStyle]="{'width':i === 3 ? '0%' : '30%' }" [ngClass]="{'active-step': i<=getProgressFill(cropTitle)}" *ngFor="let stage of stages, let i = index">
                        <span class="step-name">
                            <span *ngIf="stage.stageTitle==cropTitle" [ngClass]="{'mid': (i==2 || i==1), 'last': i==3}">{{stage.stageTitle}}</span>
                        </span>
                        <span class="visuallyhidden"></span>
                        <span class="step-num"></span>
                    </li>
                </ol>
            </div>
            <div class="flex" style="display: flex;justify-content: space-between;padding: 0px 10px;" >
                <span class="apo-color accountsBox"  >
                    <i class="material-icons md-18 md-grey v-align">add_shopping_cart</i>{{cropAccounts}}
                </span>
                <span class="apo-color countriesBox"  >
                    <i class="material-icons md-18 md-grey v-align">language</i>{{cropCountries}}
                </span>
                <span class="apo-color languagesBox" >
                    <i class="material-icons md-18 md-grey v-align">translate</i> {{cropLanguages}}
               </span>
            </div>
        </div>
      </div>
          <div class="crop-save-btn">
            <button (click)="saveCropImage()" data-dismiss="modal" style="font-size:35px ; color: #007CC3 ; background-color: transparent; border: aliceblue;"
              class="fa">&#xf058;</button>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
