//default classes start
$primary: rgba(0, 124, 195,1);
$secondary:rgba(3, 169, 244,1);
$black: rgba(0,0,0,1);
$black-1: rgba(0,0,0,0.14);
$black-3: rgba(0,0,0,0.3);
$black-4: rgba(0,0,0,0.4);
$black-6: rgba(0,0,0,0.6);
$black-7: rgba(0,0,0,0.7);
$black-8: rgba(0, 0, 0, 0.86);
$white:rgba(255,255,255,1);
$white-6:rgba(255,255,255,0.6);
$blue: rgba(190, 227, 255,1);
h6{
    font-size: 15px;
    font-weight: 400;
}
.secondary-bg{
    background: rgba(3, 169, 244,1);
}
.primary-bg{
    background: rgba(0, 124, 195,1);
}
.secondary-clr{
    color: rgba(3, 169, 244,1);
}
.primary-clr{
    color: rgba(0, 124, 195,1);
}
.violet{
    background: rgb(70, 22, 92);
}
.green{
    background: rgb(13, 26, 13);
}
.gray-3{
    background: #00000099;
}
clr-black{
    color: $black;
}
clr-black-1{
    color: $black-1;
}
clr-black-3{
    color: $black-3;
}
clr-black-4{
    color: $black-4
}
clr-black-6{
    color: $black-6
}
clr-black-7{
    color: $black-7
}
clr-black-8{
    color: $black-8;
}
$black-1: rgba(0,0,0,0.14);
$black-3: rgba(0,0,0,0.3);
$black-4: rgba(0,0,0,0.4);
$black-6: rgba(0,0,0,0.6);
$black-7: rgba(0,0,0,0.7);
$black-8: rgba(0, 0, 0, 0.86);
$white:rgba(255,255,255,1);
$white-6:rgba(255,255,255,0.6);
$blue: rgba(190, 227, 255,1);
.content-bg{
    //background: rgba(200, 224, 241, 0.1);
    //background: rgb(240, 248, 255);
    background: rgba(190, 227, 255, 0.111);
}
.f-10{
    font-size: 10px !important;
}
.f-12{
    font-size: 12px !important;
}
.atom-icon{
    font-size: 19px !important;
    margin-left: 3px;
}
.cursor-pointer{
    cursor: pointer;
}
.height-100{
    height: 100%;
}
.width-100{
    width: 100%;
}
.padding-side{
    padding: 8px 0px;
    padding-top: 0px
}
.p-12{
    padding: 4px 12px;
}
.border-red{
    border-right: 3px solid red;
}
.border-blue{
    border-right: 3px solid $secondary;
}
.border-custom{
    border: 1px solid $black-3;
}
h6{
    font-size: 12px !important;
    font-weight: 600;
   // color: #007CC3;
}
.md-grey{
    color: $black-4;
}
//default classes end
// main classes start
.nav-tabs{
    border-bottom: none;
        .nav-item{
        .nav-link{
            // border: 1px solid;
            border: none;
            padding: 0 10px;
            margin: 0;
            color: $black-3;
            &.active{
                // border: 1px solid;
                color: $black;
                background-color: transparent;
            }
         
        }
    }
}
.main-container{
    height: 100%;
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// main classes end
//header part
.breadcrumb{
    padding: 0;
    background: none;
    font-size: 10px;
    i{
        font-size: 15px;
    }
    ::placeholder{
        font-size: 10px !important;
    }
}
.card{
    font-size: 12px;
    background: #f3f3f3;
    box-shadow: 0 0 1px rgba(0,0,0,0.4);
    .d-flex{
        .flex-description{
            &.box-1{
                flex: 0 0 17%;
            }
            &.box-2{
                flex: 2 0 60%;
                padding: 8px;
                display: flex;
                align-items: center;
                .d-flex{
                    justify-content: space-between;
                    width: 100%;
                }
                .card-data{
                    display: flex;
                    flex-direction: row;
                    .card-content{
                        line-height: 24px;
                        ul{
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            .global-title{
                                overflow: hidden !important;
                                text-overflow: ellipsis !important;
                                max-width: 200px;
                                outline: none;
                                white-space: nowrap;
                            }
                        }
                    }
                }
                .card-menu{
                    .nav-link{
                        &.active{
                        }
                        &.active::after{
                            content: ""; 
                            display: block; 
                            width: 50%;
                            border-bottom: 1px solid black;
                            transition: 3s;
                        }
                    }
                }
            }
            &.box-3{
                flex: 0 0 15%;
                border-left: 1px solid $black-1;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    color: $black-4;
                    padding: 0px 5px;
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }
.img-card{
    height: 100px;
    padding-right: 0;
    width: 100%;
}}
//header part end
// detail title ,language and countries classes start
.main-insight-body{
    
    .data-box{
        width: 50%;
        //height: 100%;
        border: 1px solid $black-1;
        border-radius: 4px;
        padding: 10px;
        padding-top: 0px;
        .legend-margin{
            font-size: 8px;
            display: flex;
            justify-content: flex-end;
            .legend-flex{
                justify-content: space-between;
                .status-bar{
                    display: flex;
                    align-items: center;
                    flex: 0 0 50%;
                    .complete-legend{
                        height: 0.5em;
                        width: 0.5em;
                        background: #0AAD43;
                        border-radius: 0;
                        color: #0AAD43;
                        .legend-text{
                            color: #0AAD43;
                            font-size: 10.3px; 
                            padding:0px;
                        }
                    }
                    .pending-legend{
                        height: 0.5em;
                        width: 0.5em;
                        background: #007CC3;
                        border-radius: 0;
                        color:#007CC3;
                        .legend-pending-text{
                            color: #007CC3;
                            font-size: 10.3px; 
                            padding:0px;
                        }
                    }
                }
            }
        }
        .insight-data{
            flex-direction: row;
            justify-content: space-between;
            .insight-data-description{
                width: 25%;
                .progress {
                    background: #007CC3;
                    height: 100%;
                    color: rgba(255,255,255,0.9);
                    border-bottom: 0.3px solid $white;
                    border-radius: 4px !important;
                    padding-bottom: 1px;
                }
                
                .progressBar{
                    padding-bottom: 8%;    
                }
                .progressBar-padding{
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    padding: 3px 0px;
                }
            }
            ul{
                list-style: none;
                padding: 3px;
                margin: 0px;
                li{

                }
                
            }
            .avail-list{
                overflow-y: auto;
                overflow-x: hidden;
                height: 350px;
                // .avail-description{
                   
                // }
            }
    
            ::-webkit-scrollbar {
                width: 5px;
                height: 10px;
              }
              
              /* Track */
              ::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px $black-1; 
                border-radius: 4px;
              }
               
              /* Handle */
              ::-webkit-scrollbar-thumb {
                background: $black-1; 
                border-radius: 10px;
                //display: none;
              }
              
              /* Handle on hover */
              ::-webkit-scrollbar-thumb:hover {
                background: $black-1;
                display: block;
              }
        }

    }

    .comment-status{
        width: 50%;
        height: auto;
        border: 1px solid $black-1;
        border-radius: 4px;
        border-left: none;
        .cust-text{
            .ratings-box{
                flex-direction: row;
                ul{
                    list-style: none;
                    padding: 0px;
                }
            }
        }
        .Status-box{
            border: 1px solid rgba(0, 0, 0, 0.14);
            /* box-shadow: 0px 0px 2px inset rgba(0, 0, 0, 0.14); */
            border-left: none;
            border-right: none;
            border-radius: 4px;
            line-height: 20px;
            border-top: none;
        }
        .history-box{
            padding: 5px 10px;
            border-bottom: 1px solid $black-1;
            border-radius: 4px;
            // display: flex;
            // flex-direction: row;
            .avail-history-text{
                display: flex;
                align-items: center;
                height: 85px;
                justify-content: center;
            }
            .history-body{
                flex-direction: column;
                width: 220px;
                margin: 10px;
                margin-left: 0px;
                margin-top: 0px;
                
            .history-header{
                background: #f3f3f3;
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 10px;
                border-radius: 4px;
                h4{
                    font-size: 15px;
                    font-weight: 400;
                }
                .title-name{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }
            }
            .history-count{
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 3px 10px;
                background: white;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.14);
                border-radius: 4px;
                height: 100%;
            }
        }
        }
        .insight-updates{
            display: flex;
            padding: 5px 0px;
            .time-line{
                width: 30%;
                padding: 0px 10px;
                .text-col{
                    color: rgba(0,0,0,0.4);
                    font-size: 12px;
                }
                .wizard-progress {
                    list-style: none;
                    list-style-image: none;
                    margin: 0;
                    padding: 0;
                    //margin-top: 20px;
                    // float: left;
                    white-space: nowrap;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    // position: relative;
                    // left: 20%;
                
                }
                @media (max-width: 1200px){
                    .wizard-progress {
                        width: 100%;
                    }
                
                }
                .wizard-progress li {
                    float: left;
                    position: relative;
                    width: 30%;
                    padding-left: 2px;
                }
                
                .wizard-progress .step-name {
                    //display: table-cell;
                    //height: 32px;
                    // vertical-align: bottom;
                    //text-align: center;
                    width: 100px;
                    font-size: 12px;
                }
                
                .wizard-progress .step-name-wrapper {
                    display: table-cell;
                    height: 100%;
                    vertical-align: bottom;
                }
                
                .wizard-progress .step-num {
                    font-size: 6px;
                    font-weight: bold;
                    border: 4px solid #92D1FF;
                    border-radius: 50%;
                    width: 0px;
                    height: 2px;
                    display: inline-block;
                    margin-bottom: 0px;
                }
                
                .wizard-progress .step-num:after {
                    content: "";
                    background: #92D1FF;
                    height: 100%;
                    width: 2%;
                    position: absolute;
                    z-index: -1;
                    left: 5px;
                }
                
                .wizard-progress li:last-of-type .step-num:after {
                    display: none;
                }
                
                .wizard-progress .active-step .step-num {
                    border: 4px solid #007CC3;
                }
                .visuallyhidden {
                    display: none;
                }
                .timeline-date{
                    line-height: 40px;
                    ul{
                        list-style: none;
                        padding: 0;
                        top: 0;
                        position: absolute;
                        margin-left: 12px;
                        li{
                            display: flex;
                            flex-wrap: wrap;
                            list-style: 10px !important;
                        }
                    }
                }
                .stage-title {
                    display: inline-grid;
                    line-height: 14px;
                    margin-left: 10px;
                }
        }
        }
        .comment-box{
            width: 70%;
            list-style: none;
            padding: 0;
            margin: 0;
           
            // overflow: scroll;
            // overflow-x: hidden;
            // height: 340px;
            .comments-list{
                list-style: none;
                padding: 0px;
            }
            .tab-content{
                box-shadow: none;
                // overflow: scroll;
                // overflow-x: hidden;
                
            }
            .nav-tabs{
                display: flex;
                flex-direction: row;
                // border-left: 1px solid $black-3;
               flex-wrap: inherit;
                    .nav-item{
                    .nav-link{
                           border-top-left-radius: 0px;
                           border-top-right-radius: 0px;
                           padding-left: 0px !important;
                        //    line-height: 36px;
                        &.active{
                            // border-left: 3px solid rgba(0, 0, 0, 0.3);
                            // position: relative;
                            // left: -2px;
                            color: $primary;
                            font-weight: 600;
                        }
                    }
                }
            }
            .comment-scroll{
                overflow: scroll;
                overflow-y: auto;
                overflow-x: hidden;
                height: 107px;
                margin-bottom: 10px;
                ul{
                    padding: 0px;
                }
                
            }
            ::-webkit-scrollbar {
                width: 5px;
                height: 10px;
              }
              
              /* Track */
              ::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px $black-1; 
                border-radius: 4px;
              }
               
              /* Handle */
              ::-webkit-scrollbar-thumb {
                background: $black-1; 
                border-radius: 10px;
                //display: none;
              }
              
              /* Handle on hover */
              ::-webkit-scrollbar-thumb:hover {
                background: $black-1;
                display: block;
              }
            .comment-style{
                // border: 1px solid $black-3;
                //box-shadow: 0px 0px 3px $black-3;
                padding: 3px 10px;
                margin: 10px 10px;
                font-size: 11px;
                background: $white;
                // overflow: scroll;
                // overflow-x: hidden;
                //height: 300px;
            }
           .comment-style:nth-of-type(odd){
               border-right: 3px solid #bee3ff
           }
           .comment-style:nth-of-type(even){
            border-left: 3px solid #bee3ff
        }
           
            .user-details{
                justify-content: space-between;
                font-size: 11px;
                color: $black-6;
                
            }
            #Log{
                overflow: scroll;
                overflow-x: hidden;
                overflow-y: auto;
                height: 107px;
                li{
                    background: $white;
                    margin: 7px;
                    padding: 4px 7px;
                    border-radius: 4px;
                }
                
            }
        }
        .main-comment{
            // width: 20%;
            // height: 20px;
            position: relative;
            height: 35px;
        }
        
        .sidenav {
            height: auto; 
            width: 0; 
            position: absolute; 
            z-index: 1; 
            top: 0; 
            right: 0;
            background-color: $white; 
            overflow-x: hidden;
            transition: 0.5s;
            .custom-comment{
               // border-right: 3px solid $blue;
                height: 100%;
                padding: 5px 0px;
                padding-left: 5px;
            }
            .textBox{
                border: none;
                outline: none;
                background: transparent;
                :focus{
                    outline: transparent;
                }
                
            }
            a {
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
                &:hover {
                    color: #818181;
                  }
              }
              .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 10px;
                cursor: pointer;
              }
          }
    }
}
    .ratings-box{
        flex-direction: row;
        ul{
            list-style: none;
            padding: 0px;
            margin: 0px;
        }
    }
// detail title ,language and countries classes end
// status bar classes
//comment and log section

.Status-box{
    border: 1px solid #dadada;
}
.comment-padding {
    padding: 6px 0px 0px 46px;
}
.stage-title {
    display: inline-grid;
    line-height: 20px;
    margin-left: 10px;
}
.country-width{
    width: 30%;
}
.avail-history {
    padding-left: 10px;
}
// .inline-view{
//     display: inline-grid;
// }

.title-text{
    // font-size: 12px;
    // font-family: 'Roboto', sans-serif;
    // font-weight: 600;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    outline:none;
    cursor: pointer;
}
.circle {
    :focus {
        outline: none;
    }
}

.pointer{
    cursor: pointer;
}





