<div class="d-flex">
  <div class="space-box"></div>
  <div class="flex-grow-1">
    <!-- <nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item"><a href="#">Library</a></li>
<li class="breadcrumb-item active" aria-current="page">Data</li>
</ol>
</nav> -->

    <div class="card">
      <div class="d-flex">
        <div class="flex-description">
          <img class="img-card" src="../../../assets/images/lego.jpg" (click)="cropImage($event)">
        </div>
        <div class="flex-description box1">
          <h6>The Lego Movie</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row" style="margin-left: -3%;">
  <div class="col-sm-4">
    <div class="card text-white mb-3 shadow-sm" style="width: 483%;">
      <div class="hidden-header" [hidden]="showDetails">CA JAN152019</div>
      <div class="card-header" style="padding: 0px 0px 0px 13px;" [hidden]="!showDetails">
        <span style="float: right; margin-top: 1%;">
          <circle-progress [percent]="60" [radius]="20" [outerStrokeWidth]="2" [innerStrokeWidth]="2" [outerStrokeColor]="'#008040'"
            [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="1000"></circle-progress>
        </span>
        <br>
        <p style="font-size: 16px;">CA JAN152019</p>
        <p class="avail-date">
          <img src="assets/images/Icons/PNG/calendar.png">01/15-21/03</p>
      </div>
    </div>
  </div>
</div> -->

<div class="status_legend"  *ngIf="account == i" style="float:left;">
  <div class="row">
    <div class="legend-status">
      <div class="complete-legend"></div>
      <div class="col-md-6 legend-text">Completed</div>
    </div>
    <div class="legend-status">
      <div class="pending-legend"></div>
      <div class="col-md-3 legend-pending-text">Pending</div>
    </div>
  </div>
</div>

<div class="acc-style">
  <div class="row">
    <div class="col-md-5 line-first">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <a class="avail-details" (click)="showDetails3 = !showDetails3">
              <img src="assets/images/Icons/PNG/titles.png">&nbsp;100 Titles</a>
            <!-- <strong [hidden]="showDetails">Titles</strong> -->
            <div class="progress progress-main">
              <div class="progress-bar bg-success" style="width: 70%">
                70
              </div>
              <div class="progress-bar" style="width: 30%">
                30
              </div>
            </div>&nbsp;&nbsp;

            <div class="row row-list">
              <div class="col-md-12 avail-list">
                <div *ngFor="let x of availDetailsViewList">
                  <div *ngFor="let y of x.avail_details">
                    <span *ngFor="let z of y.titlesDetails" [ngClass]="[z.status == 'completed' ? 'progress bg-success' : 'progress']">
                      <ul>
                        <li>{{z.title_name}} </li>
                      </ul>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <a class="avail-details" (click)="showDetails3 = !showDetails3">
              <i class="material-icons md-18 md-grey v-align">language</i>&nbsp; 32 Countries</a>
            <div class="progress progress-main">
              <div class="progress-bar bg-success" style="width: 50%">
                16
              </div>
              <div class="progress-bar" style="width: 50%">
                16
              </div>
            </div>&nbsp;&nbsp;
            <div class="row row-list">
              <div class="col-md-12 avail-list">
                <div *ngFor="let x of availDetailsViewList">
                  <div *ngFor="let y of x.avail_details">
                    <span *ngFor="let z of y.countries" [ngClass]="[z.status == 'completed' ? 'progress bg-success' : 'progress']">
                      <ul>
                        <li>{{z.country_name}} </li>
                      </ul>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <a class="avail-details" (click)="showDetails3 = !showDetails3">
              <i class="material-icons md-18 md-grey v-align">translate</i>&nbsp; 28 Languages</a>
            <div class="progress progress-main">
              <div class="progress-bar bg-success" style="width: 20%">
                8
              </div>
              <div class="progress-bar" style="width: 80%">
                20
              </div>
            </div>&nbsp;&nbsp;
            <div class="row row-list">
              <div class="col-md-12 avail-list">
                <div *ngFor="let x of availDetailsViewList">
                  <div *ngFor="let y of x.avail_details">
                    <span *ngFor="let z of y.languages" [ngClass]="[z.status == 'completed' ? 'progress bg-success' : 'progress']">
                      <ul>
                        <li>{{z.language_name}} </li>
                      </ul>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div>&nbsp;</div>

        <!-- progress bar -->
        <div style="margin: 20px 21px 24px 5px;" [hidden]="showDetails3">
          <div class="progress">
            <div [ngStyle]="{'width.%': width}" class="inner-progress">100</div>
          </div>
        </div>
        <!-- progress bar -->
      </div>

    </div>
    <div class="col-md-1 line-middle"></div>

    <div class="col-md-6 line-last">
      <div class="row">
        <div class="col-md-12">
          <!-- <div *ngIf="showStatus">-->
          <h6 class="status-text">Status</h6>
          <p class="status">
            <b>123</b> Pending Translations</p>
          <p class="status">
            <b>112</b> Pending Ratings</p>
          <p class="status">
            <b>15</b>Pending Clarifications</p>
          <p class="status">
            <b>2</b> Escalations</p>
          <!-- </div>  -->
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-12 avail-card">

          <div class="col-md-6" *ngFor="let avail of availsList; let i = index">
            <div class="card text-white mb-3 shadow-sm card-width complete-card">
              <div class="c-pointer" (click)="showDetails = null">
                <div class="hidden-header" [attr.id]="'undoBtn'+i" *ngIf="showDetails == i">{{avail.avail_title}}</div>
              </div>

              <div class="card-header card-padding" *ngIf="showDetails !== i && showStatus !== i">
                <span class="avail-status c-pointer" (click)="showAvailStatus(i)">
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x icon-background4"></i>
                    <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                    <i class="fa fa-check fa-stack-1x custom-fa"></i>
                  </span>
                  <!-- <circle-progress [percent]="avail.total_avail_percentage" [radius]="20" [outerStrokeWidth]="2" [innerStrokeWidth]="2" [outerStrokeColor]="'#008040'"
                                    [innerStrokeColor]="'#006FAD'" [animation]="true" [animationDuration]="1000"></circle-progress> -->
                </span>
                <!-- <br> -->
                <span>
                  <p class="avail-title" routerLink="/pages/titles/titleview" [queryParams]="{ avail_title: avail.avail_title }">{{avail.avail_title}}</p>
                  <p class="avail-date">
                    <img src="assets/images/Icons/PNG/calendar.png"> {{avail.date_of_arrival}} -
                    <span>{{avail.date_of_delivery}}</span>
                  </p>
                </span>

              </div>
              <div class="card-body" *ngFor="let detail of avail.avail_details">
                <div class="equalHMWrap" *ngIf="showStatus !==i">
                  <span (click)="showtitlesDiv($event,i);" id="titlesDiv">
                    <span class="avail-details titlesBox" (click)="rotate(avail.avail_name, 'titles')">
                      <img src="assets/images/Icons/PNG/titles.png"> {{detail.titlesCount}}
                      <span class="titles box" *ngIf="showDetails == i">{{showTitlesText}}</span>
                    </span>
                  </span>
                  <span (click)="showcountriesDiv($event,i)" id="countriesDiv">
                    <span class="avail-details countriesBox" (click)="rotate(avail.avail_name, 'countries')">
                      <i class="material-icons md-18 md-grey v-align">language</i> {{detail.countriesCount}}
                      <span *ngIf="showDetails == i">{{showCountriesText}}</span>
                    </span>
                  </span>
                  <span (click)="showlanguagesDiv($event,i)" id="languagesDiv">
                    <span class="avail-details languagesBox" (click)="rotate(avail.avail_name, 'languages')">
                      <i class="material-icons md-18 md-grey v-align">translate</i> {{detail.languagesCount}}
                      <span *ngIf="showDetails == i">{{showLanguagesText}}</span>
                    </span>
                  </span>
                </div>
                <!-- progress bar -->
                <div class="progressBar" *ngIf="showDetails===i && showTitlesText == 'Titles'">
                  <div class="progress">
                    <div class="bg-success" [ngStyle]="{'width.%': completedWidth}">
                      {{detail.titlesCompleted}}
                    </div>
                    <div [ngStyle]="{'width.%': pendingWidth}">
                      {{detail.titlesPending}}
                    </div>
                  </div>
                </div>

                <div class="progressBar" *ngIf="showDetails===i && showCountriesText == 'Countries'">
                  <div class="progress">
                    <div class="bg-success" [ngStyle]="{'width.%': completedWidth}">
                      {{detail.countriesCompleted}}
                    </div>
                    <div [ngStyle]="{'width.%': pendingWidth}">
                      {{detail.countriesPending}}
                    </div>
                  </div>
                </div>

                <div class="progressBar" *ngIf="showDetails===i && showLanguagesText == 'Languages'">
                  <div class="progress">
                    <div class="bg-success" [ngStyle]="{'width.%': completedWidth}">
                      {{detail.languagesCompleted}}
                    </div>
                    <div [ngStyle]="{'width.%': pendingWidth}">
                      {{detail.languagesPending}}
                    </div>
                  </div>
                </div>

                <div class="legend-margin" *ngIf="showDetails===i ">
                  <div class="row">
                    <div class="col-md-1 mt-1">
                      <div class="complete-legend"></div>
                    </div>
                    <div class="col-md-5 legend-text">Completed</div>

                    <div class="col-md-2 mt-1">
                      <div class="pending-legend pending-legend-margin"></div>
                    </div>
                    <div class="col-md-2 legend-pending-text">Pending</div>
                  </div>
                  <!-- progress bar -->
                </div>
                <div class="cust-text" *ngIf="showStatus== i">
                  <span class="status-text" (click)="showStatus = null">
                    <strong class="status-font">Status</strong>
                  </span>
                  <p class="status">
                    <b>{{detail.pending_avail_translations_count}}</b> Translations Available</p>
                  <div style="text-align: center; margin: 9px;">
                    <button type="button" class="btn btn-success btn-sm">Ingest&nbsp;&nbsp;
                      <i class="material-icons v-align">send</i>&nbsp;
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-3">
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <h6 class="status-text">Timeline</h6>
                <br>
                <ul class="timeline">
                  <li>
                    <a href="#" class="timeline-status">2/22/2019</a>
                    <p class="timeline-status">Announced</p>
                  </li>
                  <li>
                    <a href="#" class="timeline-status">03/03/2019</a>
                    <p class="timeline-status">Data Collation</p>
                  </li>
                  <li>
                    <a href="#" class="timeline-status">03/08/2019</a>
                    <p class="timeline-status">Quality Audit</p>
                  </li>
                  <li>
                    <a href="#" class="timeline-status">03/19/2019</a>
                    <p class="timeline-status">Data Delivery</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>





        </div>
        <div class="col-md-9">
          <div class="container">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#comment">Comments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#log">Log</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content cmnt-list-scroll">
              <div id="comment" class="container tab-pane active">
                <ul id="comments-list" class="comments-list">
                  <li>
                    <div class="comment-main-level">
                      <div class="comment-box">
                        <div class="comment-head">
                          <h6 class="comment-name">
                            <a href="http://creaticode.com/blog">John Paul</a>
                          </h6>
                          <span class="date">01/12 11:24</span>
                        </div>
                        <div class="comment-content">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt eros nec ante laoreet mattis. Suspendisse sollicitudintortor
                          id nulla dictum, at congue turpis tristique. Maecenas eget consectetur tortor. Donec ut maurissit
                          amet ante auctor elementum. Morbi at euismod sem. Mauris tincidunt pretium tellus</div>
                      </div>
                    </div>
                    <ul class="comments-list reply-list">
                      <li>
                        <div class="comment-box">
                          <div class="comment-head">
                            <h6 class="comment-name">
                              <a href="http://creaticode.com/blog">Samwell Tarly</a>
                            </h6>
                            <span class="date">01/12 12:16</span>
                          </div>
                          <div class="comment-content">
                            Ante auctor elementum. Morbi at euismod sem. Mauris tincidunt pretium tellus vitae accumsan</div>
                        </div>
                      </li>
                    </ul>
                  </li>

                  <li>
                    <div class="comment-main-level">
                      <div class="comment-box">
                        <div class="comment-head">
                          <h6 class="comment-name">
                            <a href="http://creaticode.com/blog">Emilia Targaryen</a>
                          </h6>
                          <span class="date">01/13 10:15</span>
                        </div>
                        <div class="comment-content">
                          Cras tempor, ante ac suscipit venenatis, neque nibh molestie libero, non rutrum risus dui quis ante. Cras tristique, sapienac
                          fermentum laoreet, turpis quam rutr tellus, efficitur volutpat arcu lectus nec justo. ut ornare
                          neque,sit amet ultricies sapien. Cras sed ornare lorem, finibus laoreet urna. Nullam efficitur,
                          massa a vestibulum interdum, lacus odio facilisis velit, eu rhoncus tellus risus sit amet lacus.
                          Proin volutpat justo veltincidunt mollis. Cras aliquam, elit ornare tempus</div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="comment-main-level">
                      <div class="comment-box">
                        <div class="comment-head">
                          <h6 class="comment-name">
                            <a href="http://creaticode.com/blog">Emilia Targaryen</a>
                          </h6>
                          <span class="date">01/13 10:15</span>
                        </div>
                        <div class="col-md-12">
                          <label class="comment-content" *ngFor="let val of multipleList.COMMENTS">{{val.n}} </label>
                        </div>
                        <div class="comment-content">
                          <textarea *ngIf="removeButton" class="custom-field w90 textarea" [(ngModel)]="Comments"></textarea>
                          <label class="right_btn ml-auto" (click)="addMultipleValue(COMMENTS)">+</label>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div id="log" class="container tab-pane fade">
                <br>
                <ul id="comments-list" class="comments-list">
                  <li>
                    <div class="comment-main-level">
                      <div class="comment-box">
                        <div class="comment-log-head">
                          <h6 class="comment-name">
                            <a href="http://creaticode.com/blog">John Paul</a>
                          </h6>
                          <span class="date">01/12 11:24</span>
                        </div>
                        <div class="comment-content">
                          <img src="assets/images/a_star_is_born_big.jpg" alt="events">
                          <span>
                            <p>Removed</p>
                            <p>Thumbnail Image</p>
                          </span>
                        </div>
                      </div>
                    </div>
                    <ul class="comments-list reply-list">
                      <li>
                        <div class="comment-box">
                          <div class="comment-log-head">
                            <h6 class="comment-name">
                              <a href="http://creaticode.com/blog">Samwell Tarly</a>
                            </h6>
                            <span class="date">01/12 12:16</span>
                          </div>
                          <div class="comment-content">
                            <span>
                              <p>Edited</p>
                              <p>Title: The Lego Movie 2</p>
                            </span>
                          </div>

                        </div>
                      </li>
                    </ul>
                  </li>

                  <li>
                    <div class="comment-main-level">
                      <div class="comment-box">
                        <div class="comment-log-head">
                          <h6 class="comment-name">
                            <a href="http://creaticode.com/blog">Emilia Targaryen</a>
                          </h6>
                          <span class="date">01/13 10:15</span>
                        </div>
                        <div class="comment-content">
                          <img src="assets/images/a_star_is_born_big.jpg" alt="events">
                          <span>
                            <p>Uploaded</p>
                            <p>Thumbnail Image</p>
                          </span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

