// .flex-box{
//     display: flex;
//     background: red;
//     .flex-description{
//         justify-content: center;
//         width: 200px;
//         display: flex;
//     }
// }

body{
    overflow: hidden;
}
.over-flow{
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.noselection{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
$primary: rgba(0, 124, 195,1);
$secondary:rgba(3, 169, 244,1);
$black: rgba(0,0,0,1);
$black-1: rgba(0,0,0,0.14);
$black-3: rgba(0,0,0,0.3);
$black-4: rgba(0,0,0,0.4);
$black-6: rgba(0,0,0,0.6);
$black-7: rgba(0,0,0,0.7);
$black-8: rgba(0, 0, 0, 0.86);
$white:rgba(255,255,255,1);
$white-6:rgba(255,255,255,0.6);
$blue: rgba(190, 227, 255,1);
.secondary-bg{
    background: rgba(3, 169, 244,1);
}
.violet{
    background: rgb(70, 22, 92);
}
.green{
    background: rgb(13, 26, 13);
}
.gray-3{
    background: #00000099;
}
.content-bg{
    //background: rgba(200, 224, 241, 0.1);
    //background: rgb(240, 248, 255);
    background: rgba(190, 227, 255, 0.111);
}
// .f-10{
//     font-size: 10px !important;
// }
.f-12{
    font-size: 12px !important;
}
.atom-icon{
    font-size: 19px !important;
    margin-left: 3px;
}
.cursor-pointer{
    cursor: pointer;
}
.breadcrumb{
padding: 0;
background: none;
font-size: 10px;
i{
    font-size: 15px;
}
::placeholder{
    font-size: 10px !important;
}
}
.height-100{
    height: 100%;
}
.width-100{
    width: 100%;
}
.padding-side{
    padding: 8px 0px;
    padding-top: 0px
}
.border-red{
    border-right: 3px solid red;
}
.border-blue{
    border-right: 3px solid $secondary;
}
.border-custom{
    border: 1px solid $black-3;
}
.nav-tabs{
    border-bottom: none;
        .nav-item{
        .nav-link{
            // border: 1px solid;
            border: none;
            padding: 0 10px;
            margin: 0;
            color: $black-3;

            font-size: 12px;
            &.active{
                // border: 1px solid;
                color: $black;
                background-color: transparent;
            }
         
        }
    }
}
// .nav-link::after{
//     content: ""; 
//     display: block; 
//     margin: 0 auto; 
//     width: 50%; 
//     padding-top: 20px; 
//     border-bottom: 1px solid black;
// }
@media (min-width: 787px){
    .space-box{
        width: 198px !important;
    }
    }
    .card{
        font-size: 12px;
        background: #f3f3f3;
        box-shadow: 0 0 1px rgba(0,0,0,0.4);
        .d-flex{
            .flex-description{
                &.box-1{
                    flex: 0 0 17%;
                }
                &.box-2{
                    flex: 2 0 60%;
                    padding: 8px;
                    display: flex;
                    align-items: center;
                    .d-flex{
                        justify-content: space-between;
                        width: 100%;
                    }
                    .card-data{
                        display: flex;
                        flex-direction: row;
                        .card-content{
                            line-height: 24px;
                            ul{
                                list-style: none;
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }
                    .card-menu{
                        .nav-link{
                            &.active{
                            }
                            &.active::after{
                                content: ""; 
                                display: block; 
                                width: 50%;
                                border-bottom: 1px solid black;
                                transition: 3s;
                            }
                        }
                    }
                }
                &.box-3{
                    flex: 0 0 15%;
                    border-left: 1px solid $black-1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        color: $black-4;
                        padding: 0px 5px;
                        font-size: 15px;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }
        }
    .img-card{
        height: 100px;
        padding-right: 0;
        width: 100%;
    }}

    #metaData{
       // background: rgba(188, 218, 241, 0.1);
        border-radius: 4px;
        .d-flex{
            .tab-content{
                flex: 0 0 55%;
                //box-shadow: 0 0 1px rgba(0,0,0,0.4);
                flex-direction: initial;
                justify-content: space-around;
            }
            #Global{
                padding: 12px;
            }
            .metaData-content{
                display: flex;
                flex-direction: row;
                //font-size: 12px;
                // box-shadow: 0 0 2px rgba(0,0,0,0.4);
                .cust-input{
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    height: 100%;
                    background: none;
                    border: 1px solid;
                }
                
                .table-1{
                    // width: 25%;
                    ul{
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        color: $white-6;
                        width: 100%;
                        li{
                            border-radius: 2px;
                            padding: 1px 8px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            width: 100%;
                        }
                        .title-padding{
                            padding: 2px 8px;
                        }
                    }
                    ul li:nth-of-type(odd){
                        background: $black-4;
                    }
                    ul li:nth-of-type(even){
                        background: $black-3;
                    }
                }
                .table-2{
                    width: 50%;
                    padding-right: 10px;
                    color: $black-8;
                    ul{
                        list-style: none;
                        //width: 100%;
                        padding: 0;
                        margin: 0;
                        li{
                           // border-radius: 2px;
                            padding: 1px 8px;
                            text-overflow: ellipsis;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            width: 100%;

                        }
                    }
                    ul li:nth-of-type(odd){
                        background: rgba(0, 0, 0, 0.2);
                        //background: rgba(0, 0, 0, 0.37)
                        
                    }
                    ul li:nth-of-type(even){
                        background: rgba(0, 0, 0, 0.1);
                    }
                }
                .table-3{
                    width: 100%;
                    padding-right: 10px;
                    color: $black-6;
                    ul{
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li{
                            border-radius: 2px;
                            padding: 0px 8px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            width: 100%;
                        }
                    }
                    ul li:nth-of-type(odd){
                        background: $black-1;
                    }
                    ul li:nth-of-type(even){
                        background: #E8E8E8;
                    }
                }
                .comparsion-box{
                    .d-flex{
                        align-items: center;
                        height: 100%;
                        border-radius: 4px;
                        .add-icon{
                            .material-icons{
                                cursor: pointer;
                                color: $black-6;
                            }
                            .compare-section{
                                justify-content: center;
                                padding: 15px;
                                .add-btn{
                                    display: flex;
                                }
                                input{
                                    border: transparent;
                                    &:focus{
                                        outline: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .width-50{
                width: 50%;
            }
            .width-100{
                width: 100%;
            }
            .searchBox {
                height: 50px; 
                width: 0; 
                position: relative; 
                z-index: 1; 
                top: -35px; 
                right: 0;
                background-color: $blue; 
                overflow-x: hidden;
                transition: 0.5s; 
              
                a {
                    text-decoration: none;
                    font-size: 25px;
                    color: #818181;
                    display: block;
                    transition: 0.3s;
                    &:hover {
                        color: #f1f1f1;
                      }
                  }
                  .closebtn {
                    font-size: 10px;
                     display: block;
                     cursor: pointer !important;
                     :hover{
                         color: $black-3;
                     }
                  }
              }
              #main {
                transition: margin-left .5s;
              }
              
              @media screen and (max-height: 450px) {
               
                .searchBox a {font-size: 18px;}
              }
              
            .update-box{
                //border: 1px solid #dadada;
                width: 85%;
                .btn{
                    flex: none;
                }
                .btn-group{
                    display: flex;
                    height: 78px;
                    .nav-tabs{
                        border-bottom: none;
                        flex-direction: column;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        background: #f3f3f3;
                            .nav-item{
                                width: 100px;
                                
                            .nav-link{
                                // border: 1px solid;
                                border-radius: 0;
                                width: 80px;
                                transition: all .2s ease-in-out;
                                padding: 0px;
                                margin: 0px;
                                font-size: 13px;
                                color: $white;
                               // transform: scale(1);
                                margin-bottom: 0px;
                                -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
                                transition: width 1s;
                                // height: 33.3%;
                                &.active{
                                    color: $white;
                                    width: 95px;
                                    // transform-origin: 0;
                                    transition: 0.3s;
                                    font-size: 13px;
                                    padding: 0px;
                                    margin: 0px;
                                    animation: main 1s;
                                    transform-origin: 0;
                                    z-index: 99999;
                                }
                            }
                            a{
                                padding: 4px 12px !important
                            }
                        }
                    }
                 .textarea{
                    height: 100%;
                    padding: 0px 10px;
                 }
                    textarea{
                        resize: none;
                        height: 100%;
                        width: 100%;
                        border: none;
                        background: #f3f3f3;
                        &:focus{
                            outline: none !important;
                        }
                    }
                    
                }
            }
            // .update-box{
            //     border: 1px solid #dadada;
            //     width: 85%;
            //     height: 100px;
            // }
            .comment-data{
                flex: 0 0 45%;
                box-shadow: 0 0 1px rgba(0,0,0,0.4);
                border-radius: 4px;
                .comment-data-heading{
                .nav-tabs{
                    display: flex;
                    flex-direction: column;
                    border-left: 1px solid $black-3;
                    margin: 10px 15px;
                        .nav-item{
                        .nav-link{
                            border-top-left-radius: 2px;
                            border-top-right-radius: 2px;
                            //line-height: 22px;
                            border-bottom-left-radius: 2px;
                            border-bottom-right-radius: 2px;
                            line-height: 22px;
                            font-size: 13px;
                            &.active{
                                border-left: 3px solid rgba(0, 0, 0, 0.3);
                                position: relative;
                                left: -2px;
                            }
                        }
                    }
                }
            }

// /* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $black-1; 
    border-radius: 4px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $black-1; 
    border-radius: 10px;
    display: none;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $black-1;
    display: block;
  }
                .comment-box{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    // overflow: scroll;
                    // overflow-x: hidden;
                    // height: 340px;
                    .tab-content{
                        box-shadow: none;
                        // overflow: scroll;
                        // overflow-x: hidden;
                        
                    }
                    .nav-tabs{
                        display: flex;
                        flex-direction: row;
                        // border-left: 1px solid $black-3;
                       flex-wrap: inherit;
                            .nav-item{
                            .nav-link{
                                   border-top-left-radius: 0px;
                                   border-top-right-radius: 0px;
                                //    line-height: 36px;
                                &.active{
                                    // border-left: 3px solid rgba(0, 0, 0, 0.3);
                                    // position: relative;
                                    // left: -2px;
                                    color: $primary;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                    .comment-scroll{
                        overflow: scroll;
                        overflow-x: hidden;
                        height: 230px;
                        margin-bottom: 10px;
                    }
                    .comment-style{
                        // border: 1px solid $black-3;
                        //box-shadow: 0px 0px 3px $black-3;
                        padding: 3px 10px;
                        margin: 10px 10px;
                        font-size: 11px;
                        background: $white;
                        // overflow: scroll;
                        // overflow-x: hidden;
                        //height: 300px;
                    }
                   .comment-style:nth-of-type(odd){
                       border-right: 3px solid #bee3ff
                   }
                   .comment-style:nth-of-type(even){
                    border-left: 3px solid #bee3ff
                }
                   
                    .user-details{
                        justify-content: space-between;
                        font-size: 11px;
                        color: $black-6;
                        
                    }
                    #Log{
                        overflow: scroll;
                        overflow-x: hidden;
                        height: 230px;
                        li{
                            background: $white;
                            margin: 7px;
                            padding: 4px 7px;
                            border-radius: 4px;
                        }
                        
                    }
                }
            }
        }
    }
.main-comment{
    // width: 20%;
    // height: 20px;
    position: relative;
    height: 35px;
}

.sidenav {
    height: auto; 
    width: 0; 
    position: absolute; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: $white; 
    overflow-x: hidden;
    transition: 0.5s;
    .custom-comment{
       // border-right: 3px solid $blue;
        height: 100%;
        padding: 5px 0px;
        padding-left: 5px;
    }
    .textBox{
        border: none;
        outline: none;
        background: transparent;
        :focus{
            outline: transparent;
        }
        
    }
    a {
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        &:hover {
            color: #818181;
          }
      }
      .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 10px;
        cursor: pointer;
      }
  }
  #main {
    transition: margin-left .5s;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 10px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(238, 20, 20, 0.2);
   -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 0px;
    bottom: 0px;
    background-color:rgb(11, 131, 211);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(166, 208, 243);
  }
  input:not(:checked) + .slider.round:before{
    background-color: rgba(238, 20, 20, 0.733);
  }
  input:focus + .slider {
    box-shadow: 0 0 1px $blue;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 36px; 
  }
  
  .slider.round:before { 
    border-radius: 36px; 
  }
  
  @media screen and (max-height: 450px) {
   
    .sidenav a {font-size: 18px;}
  }




//   .complete-legend {
//     height: 0.4em;
//     width: 0.4em;
//     background: #0AAD43;
//     border-radius: 0;
//   }
//   .pending-legend {
//     height: 0.4em;
//     width: 0.4em;
//     background: #007CC3;
//     border-radius: 0;
    
//   }
//   .pending-legend-margin {
//     margin: 0px 0px 0px 8px;
//   }
//   .legend-text {
//     color: #7E7E7E;
//     font-size: 8px;
//     margin: -3px;
//     font-family: Roboto;
// }
// .legend-pending-text {
//     color: #7E7E7E;
//     font-size: 8px;
//     margin: -3px;
//     font-family: Roboto;
// }

// .status_legend{
//     display: flex;
//     justify-content: center;
//     }

    .avail-details {
        font-size: 12px;
        color: black !important;
        cursor: pointer;
     
      }


      .progressBar{
        padding-bottom: 8%;
        .progress {
            height:23px;
            // height: auto;
            background: #007CC3;
            padding: 1px;
            
        }
       
    }
    .progress {
        height:23px;
        width:100%;
        background: #007CC3;
        color: white;
        .inner-progress {
            height:23px;
            background: #0AAD43;
            color: white;
        }
    }
    .status-padding {
        padding: 0px 5px;
    }
    .insightFlex{
        display: flex;
        .flexWidth{
            flex : 0 0 21%;
            .availlistHeadFlex{
                display: flex;
                justify-content: start;
            }
        }
        ul {
            padding-left: 14%;
            padding-top: 2%;
            li{
                list-style: none;
            }
        }
        .avail-list{
            overflow-y: auto;
            overflow-x: hidden;
            height: 330px;
            // .avail-description{
               
            // }
        }

        ::-webkit-scrollbar {
            width: 3px;
          }
          
          /* Track */
          ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px $black-1; 
            border-radius: 4px;
          }
           
          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: $black-1; 
            border-radius: 10px;
            display: none;
          }
          
          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: $black-1;
            display: block;
          }
    }

    .status-text{
        font-family: Roboto;
        color: #007CC3;
        font-size: 12px;
        padding: 10px 0px 0px 10px;
       }
    .status{
        font-family: Roboto;
        margin: 0 0 0 3px;
        font-size: 12px;
        /* color: black; */
        padding: 5px 0px 0px 9px;
        color:BLACK;
    }
    .status-count{
        position: relative;
        display: flex;
        font-size: 12px;    
        font-family: Roboto;
        margin: -18px 0px 0px 40px;
        color: darkgray;
    }
    
    .avail-card {
        display: flex;
        flex-wrap: wrap;
        // height: calc(50vh - 0px);
        // margin-right: -15px;
        // margin-left: -44px;

        .avail-history-text {
            padding: 3em 10em;
            color: grey;
        }
    
        .card-header {
            background-color: #000000, 10%;
            color: #007CC3;
            border-bottom: 1px solid lightgrey;
        }
        .c-pointer {
            cursor: pointer;
        }
        .card-body {
            flex: 1 1 auto;
            padding: 0rem;
        }
        .card-padding {
            padding: 16px 9px;
            box-shadow: 0 0 3px #eaeaea;
            background-color: whitesmoke;
        }
        .avail-status {
            float: right; 
            margin-top: -1%;
        }
        .avail-title {
            font-size: 14px;
            outline: none;
            //cursor: pointer;
            font-family: Roboto, Regular;
            //font-weight: bold;
            margin-bottom: 0.5rem;
            color: #007CC3;
        }
        .avail-date {
            font-size: 12px;
            font-family: Roboto;
            color: #000000;
            //font-weight: bold;
          }
          .progressBar{
            margin: 9px 20px 8px 4px;
            .progress {
                height:23px;
                width:108%;
                background: #007CC3;
                .inner-progress {
                    height:23px;
                    background: #0AAD43;
                }
            }
           
        }
          .avail-details {
            font-size: 15px;
            color: black !important;
            cursor: pointer;
         
          }
          .legend-margin {
            margin: 0px -1px 2px 5px;
          }
          .complete-legend {
            height: 0.4em;
            width: 0.4em;
            background: #0AAD43;
            border-radius: 0;
          }
          .pending-legend {
            height: 0.4em;
            width: 0.4em;
            background: #007CC3;
            border-radius: 0;
            
          }
          .pending-legend-margin {
            margin: 0px 0px 0px 8px;
          }
          .legend-text {
            color: #7E7E7E;
            font-size: 8px;
            margin: -3px;
            font-family: Roboto;
        }
        .legend-pending-text {
            color: #7E7E7E;
            font-size: 8px;
            margin: -3px;
            font-family: Roboto;
        }
        
        
          .v-align {
            vertical-align: text-bottom;
        }
        .progress {
            height:23px;
            width:100%;
            background: #007CC3;
            color: white;
            .inner-progress {
                height:23px;
                background: #0AAD43;
            }
        }
        .hidden-header {
            font-size: 13px;
            color: #007CC3;
            border-bottom: 1px solid lightgrey;
            padding-left: 3%;
          }
        
     
        .equalHMWrap {
            display: flex;
            justify-content: space-between;
            padding: 0.25rem;
            font-family: Roboto, Regular;
            width: 90%;
            .titlesBox {
                width: 50px;
                transition: width 0.15s; 
                font-size: 12px;
            }
            
            .titlesBox.clicked {
                width: 110px;
                font-size: 12px;
            } 
        
            .countriesBox {
                width: 50px;
                transition: width 0.15s;
                font-size: 12px;
            }
            .countriesBox.clicked {
                width: 100px;
                font-size: 12px;
            } 
            .languagesBox{
                width: 50px;
                transition: width 0.15s;
                font-size: 12px;
            }
            .languagesBox.clicked {
                width: 110px;
                font-size: 12px;
            } 
         
        }
    
        .cust-text { 
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
        padding: 7px;
        background: rgba(0,0,0,.03);
      
        }
        .status-text {
            color: #007CC3;
            cursor: pointer;
           }
       .status {
           margin:0 0 0 3px ;
            padding: 0;
            // color:aliceblue;
       }
       .status-font {
        font-size: 15px
       }
      
    .icon-background4 {
        color: transparent;
    }
    
    .icon-background6 {
        color: #40c040;
    }
    .fa-stack {
        position: relative;
        display: inline-block;
        width: 4em;
        height: 2em;
        line-height: 2em;
        vertical-align: middle;
        .fa-stack-2x {
            font-size: 3.5em;
    }
    .custom-fa {
        color: green;
        margin-top: 11px;
        font-size: 20px;
    }
    }
    
       
    }

    .nav-tabs .nav-link.active{
    
        font-size: 12px;
        // color: #007CC3;
        //text-decoration: underline;
        border-radius: 0;
        font-weight: bold;
        background-color: transparent;
        border: none;
        font-family: Roboto;
        color: #007CC3;
        &:hover{
            border: none !important;
        }
    }
    .nav-tabs .nav-link.active.new{
        
        font-size: 12px;
        border-radius: 0;
        font-weight: bold;
        background-color: aliceblue;
        border: none;
        font-family: Roboto;
        &:hover{
            border: none !important;
        }
    }
    .nav-tabs {
        border-bottom: none;
        position: relative;
        // display: flex;
        // padding: 10px 15px 0px 0px;
    }

    .block{
		border: 1px solid rgba(0, 0, 0, 0.125);
		border-radius: .25rem;
		//margin: -11px 0px -13px -24px;
		width: 100%;
		margin: 11px;
	}
	.block-timeline{
		border-radius: .25rem;
		//margin: -26px 0px 1px -23px;
		width: 100%;  
    }
    // ul.timeline {
    //     list-style-type: none;
    //     position: relative;
    //     margin: -25px 0px 0px -11px;
    // }
    // ul.timeline:before {
    //     content: ' ';
    //     content: ' ';
    //     content: ' ';
    //     background:#BEE3FF;
    //     display: inline-block;
    //     position: absolute;
    //     left: 28px;
    //     width: 1px;
    //     height: 80%;
    //     z-index: 400;
    //     //color: #92D1FF;
    // }
    // ul.timeline > li {
    //     margin: 15px 0;
    //     // padding-left: 40px;
    // }
    // ul.timeline > li:before {
    //     content: ' ';
    //     //background: white;
    //     display: inline-block;
    //     position: absolute;
    //     border-radius: 50%;
    //     border: 4px solid #007CC3;
    //     left: 25px;
    //     width: 8px;
    //     height: 8px;
    //     z-index: 400;
    // }
    // .timeline-date{
    //     position: relative;
    //     display: flex;
    //     font-size: 12px;
    //     font-family: Roboto, Regular;
    //     color: black;
    //     top: -5px;
    // }
    // .timeline-status{
    //     position: relative;
    //     display: flex;
    //     font-size: 12px;
    //     font-family: Roboto, Regular;
    //     color: darkgray;
    //     margin: -10px 0px 0px 0px;
    // }

    .cmnt-list-scroll{
        overflow-x: hidden;
        height: 330px;
        overflow-y: auto;
    }
    .comments-list {
        margin-top: 30px;
        position: relative;
        width: 95%;
    }
    .comments-list li {
        margin-bottom: 15px;
        display: block;
        position: relative;
    }
    
    .comments-list li:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        width: 0;
    }
    .comments-list {
        margin-top: 30px;
        position: relative;
        width: 95%;
    }
    .comments-list li {
        margin-bottom: 15px;
        display: block;
        position: relative;
    }
    
    .comments-list li:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        width: 0;
    }
    
    .reply-list {
        padding-left: 88px;
        clear: both;
        margin-top: 15px;
        width: 100%;
        margin: 0px 145px;
    }
    .date{
        float: right !important;
        font-size: 12px;
        font-family: Roboto,Regular;
        color: darkgrey;
    }
    .comment-main-level:after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        clear: both;
    }
    .comments-list .comment-box {
        width: 100%;
        float: right;
        position: relative;
        box-shadow: none;
        border-left: 2px solid #eeeeee;
    }
    
    .comments-list .comment-box:before, .comments-list .comment-box:after {
        border-left: #eeeeee;
    }
    
    .comments-list .comment-box:before {
        border-width: 11px 13px 11px 0;
        border-color: transparent rgba(0,0,0,0.05);
        left: -12px;
    }
    .reply-list .comment-box {
        width: 500px;
    }
    .comment-box .comment-head {
        padding: 10px 12px;
        overflow: hidden;
        border-radius: 4px 4px 0 0;
        background-color: #FCFCFC;
        display:inline-block;
        width: 81%;
    }
    .comment-box .comment-log-head {
        background: #FCFCFC;
        padding: 10px 12px;
        overflow: hidden;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        display:inline-block;
    }
    .comment-box  .comment-head:nth-of-type(odd) {
        
        border-left:rgb(172, 173, 172);
        border-style: none none none solid;
    
    }
    .comment-box .comment-head:nth-of-type(even) {
        margin-left:80px;
        border-right:rgb(172, 173, 172);
        border-style: none solid none  none ;
    }
    
    .comment-box .comment-head i {
        float: right;
        margin-left: 14px;
        position: relative;
        top: 2px;
        color: #A6A6A6;
        cursor: pointer;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }
    
    .comment-box .comment-head i:hover {
        color: #03658c;
    }
    
    .comment-box .comment-name {
        color: #283035;
        font-size: 14px;
        font-weight: 700;
        float: left;
        margin-right: 10px;
    }
    
    .comment-box .comment-name a {
        font-size: 12px;
        font-family: Roboto, Regular;
        color: darkgray;
    }
    
    .comment-box .comment-head span {
        float: left;
        // color: #999;
        font-size: 12px;
        position: relative;
        font-family: Roboto, Regular;
    }
    
    .comment-box .comment-content {
        background: #FFF;
        padding: 12px;
        font-size: 14px;
        color: #595959;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
        display: flex;
        flex-direction: row;
    
    }
    
    .comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
    .comment-box .comment-name.by-author:after {
        content: 'autor';
        background: #03658c;
        color: #FFF;
        font-size: 14px;
        padding: 3px 5px;
        font-weight: 700;
        margin-left: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

#commentId{
    .container{
    .tab-content{
        box-shadow: none;
    }
}
}
.commentTimelineFLex{
    display: flex;
    justify-content: space-between;
}


// .legendFlex{
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     .legendAlign{
//         display: flex;
//         width: 210px;
//         justify-content: center;
//         margin-top: 1%;
//         margin-bottom: 1%;
//         .legStatusComp{
//             display: flex;
//             justify-content: space-around;
//             flex: 0 0 26%;
//         }
//         .legStatusPend{
//             display: flex;
//             justify-content: space-around;
//             flex: 0 0 22%;
//         }
//     }
    
// }

.legend-margin {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .legend-flex{
    justify-content: space-between;
}
.status-bar{
    display: flex;
    align-items: center;
    flex: 0 0 50%;
}
  .complete-legend {
    height: 0.5em;
    width: 0.5em;
    background: #0AAD43;
    border-radius: 0;
    color: #0AAD43;
  }
  .pending-legend {
    height: 0.5em;
    width: 0.5em;
    background: #007CC3;
    border-radius: 0;
    color:#007CC3;
  }
  .legend-text {
    color: #0AAD43;
     font-size: 10.3px; 
     padding:0px;
}
.legend-pending-text {
    color: #007CC3;
     font-size: 10.3px; 
     padding:0px;
}
.text-col{
    color: rgba(0,0,0,0.4);
    font-size: 12px;
}
// .wizard-progress {
//     list-style: none;
//     list-style-image: none;
//     margin: 0;
//     padding: 0;
//     //margin-top: 20px;
//     float: left;
//     white-space: nowrap;
//     width: 100%;
    
// }
// @media (max-width: 1200px){
//     .wizard-progress {
//         width: 100%;
//     }

// }
// .wizard-progress li {
//     //float: left;
//     position: relative;
//     width: 30%;
//     padding-left: 2px;
    
// }

// .wizard-progress .step-name {
//     display: table-cell;
//     height: 32px;
//     vertical-align: bottom;
//     text-align: center;
//     width: 100px;
//     font-size: 12px;
// }

// .wizard-progress .step-name-wrapper {
//     display: table-cell;
//     height: 100%;
//     vertical-align: bottom;
// }

// .wizard-progress .step-num {
//     font-size: 6px;
//     font-weight: bold;
//     border: 4px solid #92D1FF;
//     border-radius: 50%;
//     width: 0px;
//     height: 1px;
//     display: inline-block;
//     margin-top: 0px;
// }

// .wizard-progress .step-num:after {
//     content: "";
//     display: block;
//     background: #92D1FF;
//     height: 100%;
//     width: 3%;
//     position: absolute;
//     bottom: 4px;
//     left: 6px;
// }

// .wizard-progress li:last-of-type .step-num:after {
//     display: none;
// }

// .wizard-progress .active-step .step-num {
//     border: 4px solid #007CC3;
// }


// .wizard-process{
    
   
//     ul{
//         list-style-type: none;
//     position: relative;
//     //margin: -25px 0px 0px -11px;
//         ::before{
//             background: #BEE3FF;
//             display: inline-block;
//             position: absolute;
//             left: 28px;
//             width: 1px;
//             height: 80%;
//             z-index: 400;
//         }
//         li{
//             margin: 15px 0;
//             padding-left: 40px;

//             ::before{
//                 content: ' ';
//                 display: inline-block;
//                 position: absolute;
//                 border-radius: 50%;
//                 border: 4px solid #007CC3;
//                 left: 25px;
//                 width: 8px;
//                 height: 8px;
//                 z-index: 400;
//             }
//         }
//     }
// }



.wizard-progress {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    //margin-top: 20px;
    float: left;
    white-space: nowrap;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20%;

}
@media (max-width: 1200px){
    .wizard-progress {
        width: 100%;
    }

}
.wizard-progress li {
    float: left;
    position: relative;
    width: 30%;
    padding-left: 2px;
}

.wizard-progress .step-name {
    //display: table-cell;
    //height: 32px;
    // vertical-align: bottom;
    //text-align: center;
    width: 100px;
    font-size: 12px;
}

.wizard-progress .step-name-wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;
}

.wizard-progress .step-num {
    font-size: 6px;
    font-weight: bold;
    border: 4px solid #92D1FF;
    border-radius: 50%;
    width: 0px;
    height: 2px;
    display: inline-block;
    margin-bottom: 0px;
}

.wizard-progress .step-num:after {
    content: "";
    // display: block;
    background: #92D1FF;
    height: 100%;
    width: 4%;
    position: absolute;
    z-index: -1;
    // bottom: 7px;
    //top: 62px;
    // left: 10px;
}

.wizard-progress li:last-of-type .step-num:after {
    display: none;
}

.wizard-progress .active-step .step-num {
    border: 4px solid #007CC3;
}
.visuallyhidden {
    display: none;
}
.timeline-date{
    line-height: 50px;
    ul{
        list-style: none;
        padding: 0;
        top: 0;
        position: absolute;
        margin-left: 12px;
        li{
            display: flex;
            flex-wrap: wrap;
            list-style: 10px !important;
        }
    }
}
.Status-box{
    border: 1px solid #dadada;
}
.comment-padding {
    padding: 6px 0px 0px 46px;
}
.stage-title {
    display: inline-grid;
    line-height: 20px;
    margin-left: 10px;
}
.country-width{
    width: 30%;
}
.avail-history {
    padding-left: 10px;
}
// .inline-view{
//     display: inline-grid;
// }

.title-text{
    // font-size: 12px;
    // font-family: 'Roboto', sans-serif;
    // font-weight: 600;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    outline:none;
    cursor: pointer;
}
.circle {
    :focus {
        outline: none;
    }
}








    
  



    

    