<div class="acc-style-top">
  <div class="row">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/pages">Avails</a>
      </li>
      <i class="fa fa-angle-right arrow"></i>
      <li class="breadcrumb-item breadcrumb-title">
        <a #tref>FN JAN152019</a>
      </li>
    </ul>
  </div>
  <div class="card">
    <div class="d-flex top-bar">
      <div class="flex-description box-1">
        <!-- <img class="img-card" src="../../../assets/images/lego.jpg"> -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            <img name="main_img" class="img-card" src="assets/images/lego.jpg" (click)="cropImage(src)">
          </button> -->
      </div>
      <div class="flex-description box-2">
        <div class="d-flex">
          <div class="card-data">
            <div class="card-content">
              <h6 class="main-title">FN JAN152019</h6>
              <h6 class="main-calender"><img src="assets/images/Icons/PNG/calendar.png">02/22 - 03/19</h6>
              <!-- <ul>
                <li>The Lego Movie 2</li>
                <li class="cust-text">
                  <img src="assets/images/Icons/PNG/calendar.png">22/22 - 3/19</li>
              </ul> -->
            </div>
            <div class="circle circle-percentage">
              <circle-progress class="round-outline" [percent]="0" [radius]="20" [outerStrokeWidth]="2" [innerStrokeWidth]="2" [outerStrokeColor]="'#008040'"
                [innerStrokeColor]="'#006FAD'" [animation]="true" [animationDuration]="1000"></circle-progress>
            </div>
          </div>
          <div class="card-menu">
            <div class="container mt-3">
              <!-- <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#insight">Insight</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#metaData">Metadata</a>
                </li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
      <div class="flex-description box-3">
        <i class="material-icons">vertical_align_center</i>
        <i class="material-icons" (click)="reload()">replay</i>
        <i class="material-icons">title<sup>+</sup></i>
        <i class="material-icons">title<sup>-</sup></i>
      </div>
    </div>
  </div>
</div>

<div class="acc-style">
  <div class="row containerFlex">
    <!-- <div> -->
    <div class="col-md-6">
      <!-- <div class="box-swap" ngDraggable [preventDefaultEvent]="true" [zIndexMoving]="9999" [trackPosition]="false" [position]="positionA"
            (movingOffset)="onMoving($event)"> -->

      <div class="newly-added">
        <div class="row legend-bar">
          <div class="legend-status" style="margin-left: 100%;">
            <div class="complete-legend"></div>
            <div class="col-md-6 legend-text">Completed</div>
          </div>
          <div class="legend-status" style="margin-left: 135%;margin-top: -2%;">

            <div class="pending-legend"></div>
            <div class="col-md-3 legend-pending-text">Pending</div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <a class="avail-details" (click)="showDetails3 = !showDetails3">
              <img src="assets/images/Icons/PNG/titles.png">&nbsp;100 Titles</a>
            <!-- <strong [hidden]="showDetails">Titles</strong> -->
            <div class="progress progress-main">
              <div class="progress-bar bg-success" (click)="filterTitles('completed');" style="width: 70%">
                70
              </div>
              <div class="progress-bar bg-fail" (click)="filterTitles('pending');" style="width: 30%">
                30
              </div>
            </div>&nbsp;&nbsp;

            <div *ngIf="!clickedOnTitle" class="row row-list">
              <div class="col-md-12 avail-list">
                <div *ngFor="let x of availDetailsViewList">
                  <div *ngFor="let y of x.avail_details">
                    <span *ngFor="let z of y.titlesDetails" [ngClass]="[z.status == 'completed' ? 'progress bg-success' : 'progress']">
                      <ul>
                        <li>{{z.title_name}} </li>
                      </ul>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="clickedOnTitle" class="row row-list">
              <div class="col-md-12 avail-list">
                <span *ngFor="let filterTitle of filteredTitle" [ngClass]="[filterTitle.status == 'completed' ? 'progress bg-success' : 'progress']">
                  <ul>
                    <li>{{filterTitle.title_name}} </li>
                  </ul>
                </span>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <a class="avail-details" (click)="showDetails3 = !showDetails3">
              <i class="material-icons md-18 md-grey v-align">language</i>&nbsp; 32 Countries</a>
            <div class="progress progress-main">
              <div class="progress-bar bg-success" (click)="filterCountries('completed');" style="width: 50%">
                16
              </div>
              <div class="progress-bar bg-fail" (click)="filterCountries('pending');" style="width: 50%">
                16
              </div>
            </div>&nbsp;&nbsp;
            <div *ngIf="!clickedOnCountry" class="row row-list">
              <div class="col-md-12 avail-list">
                <div *ngFor="let x of availDetailsViewList">
                  <div *ngFor="let y of x.avail_details">
                    <span *ngFor="let z of y.countries" [ngClass]="[z.status == 'completed' ? 'progress bg-success' : 'progress']">
                      <ul>
                        <li>{{z.country_name}} </li>
                      </ul>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="clickedOnCountry" class="row row-list">
              <div class="col-md-12 avail-list">
                <span *ngFor="let filterCountry of filteredCountry" [ngClass]="[filterCountry.status == 'completed' ? 'progress bg-success' : 'progress']">
                  <ul>
                    <li>{{filterCountry.country_name}} </li>
                  </ul>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <a class="avail-details" (click)="showDetails3 = !showDetails3">
              <i class="material-icons md-18 md-grey v-align">translate</i>&nbsp; 28 Languages</a>
            <div class="progress progress-main">
              <div class="progress-bar bg-success" (click)="filterlanguages('completed');" style="width: 20%">
                8
              </div>
              <div class="progress-bar bg-fail" (click)="filterlanguages('pending');" style="width: 80%">
                20
              </div>
            </div>&nbsp;&nbsp;
            <div *ngIf="!clickedOnLanguage" class="row row-list">
              <div class="col-md-12 avail-list">
                <div *ngFor="let x of availDetailsViewList">
                  <div *ngFor="let y of x.avail_details">
                    <span *ngFor="let z of y.languages" [ngClass]="[z.status == 'completed' ? 'progress bg-success' : 'progress']">
                      <ul>
                        <li>{{z.language_name}} </li>
                      </ul>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="clickedOnLanguage" class="row row-list">
              <div class="col-md-12 avail-list">
                <span *ngFor="let filterLanguage of filteredLanguage" [ngClass]="[filterLanguage.status == 'completed' ? 'progress bg-success' : 'progress']">
                  <ul>
                    <li>{{filterLanguage.language_name}} </li>
                  </ul>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div>&nbsp;</div>

        <!-- progress bar -->
        <div style="margin: 20px 21px 24px 5px;" [hidden]="showDetails3">
          <div class="progress">
            <div [ngStyle]="{'width.%': width}" class="inner-progress">100</div>
          </div>
        </div>
        <!-- progress bar -->
      </div>
      <!-- </div> -->
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-12">
            <h6 class="status-text">Status</h6>
            <p class="status">
              <b>-</b></p>
            <p class="status-count">123 Pending Translations</p>
            <p class="status">
              <b>-</b></p>
            <p class="status-count">112 Pending Ratings</p>
            <p class="status">
              <b>-</b></p>
            <p class="status-count">15 Pending Clarifications</p>
            <p class="status">
              <b>-</b> </p>
            <p class="status-count">2 Escalations</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12">
            <h6 class="status-text">Timeline</h6>
            <ul class="timeline">
              <li>
                <a href="#" class="timeline-date">2/22/2019</a>
                <p class="timeline-status"> Announced</p>
              </li>
              <li>
                <a href="#" class="timeline-date">03/03/2019</a>
                <p class="timeline-status">Completed</p>
              </li>
              <li>
                <a href="#" class="timeline-date">03/08/2019</a>
                <p class="timeline-status">Acknowledged</p>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="rightContain" class="container mt-3">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active pl-0 pr-2 p-0" data-toggle="tab" href="#comment">Comments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#log">Log</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content cmnt-list-scroll">
              <div id="comment" class="container tab-pane active">
                <ul id="comments-list" class="comments-list">
                  <li>
                    <div class="comment-main-level" *ngFor="let x of availDetailsViewList">
                      <div class="comment-box" *ngFor="let y of x.avail_details">
                               <div class="comment-head" *ngFor="let z of y.commentDetails">
                                  
                          <h6 class="comment-name">
                            <a href="http://creaticode.com/blog">{{z.name}}</a>
                          </h6>
                          <span class="date">{{z.comment_dateAndTime}}</span>
                          <span class="comment-content">{{z.comment_text}}</span>
                      
                        </div>
                     
                       

                      
                  
                      </div>
                    
                    
                    </div>


                  </li>
                  <div class="col-md-12">
                    <label class="comment-content" *ngFor="let val of multipleList.COMMENTS">{{val.n}} </label>
                  </div>
                  <div class="comment-content">
                    <textarea *ngIf="removeButton" class="custom-field w90 textarea" [(ngModel)]="Comments"></textarea>
                    <label class="right_btn ml-auto" (click)="addMultipleValue(COMMENTS)">+</label>
                  </div>
                </ul>
              </div>

              <div id="log" class="container tab-pane fade">
                <br>
                <ul id="comments-list" class="comments-list">
                  <li>
                    <div class="comment-main-level" *ngFor="let x of availDetailsViewList">
                      <div class="comment-box" *ngFor="let y of x.avail_details"> 
                        <div class="comment-log-head" *ngFor="let z of y.logDetails">
                          <h6 class="comment-name">
                            <a href="http://creaticode.com/blog">{{z.name}}</a>
                          </h6>
                          <span class="date">{{z.log_dateAndTime}}</span>

                          <div class="comment-content">
                            <img class="log_img" src="assets/images/a_star_is_born_big.jpg" alt="events">
                            <span class="log-img-cmt">
                              <p>{{z.status}}</p>
                              <!-- <p>{{z.image_url/fileName}}</p> -->
                            </span>
                            <span class="log-img-status"> <p class="thumbnail">Thumbnail Image</p></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>