<div class="acc-style-top" *ngFor="let avail of availDetailsViewList">
  <div class="row">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="condition ? ['/pages/itunes'] : ['/pages']">Avails</a>
      </li>
      <i class="fa fa-angle-right arrow"></i>
      <li class="breadcrumb-item breadcrumb-title">
        <a #tref>{{availName | uppercase}}</a>
      </li>
    </ul>
  </div>
  <div class="card">
    <div class="d-flex top-bar">
      <div class="flex-description box-1">
      </div>
      <div class="flex-description box-2">
        <div class="d-flex">
          <div class="card-data">
            <div class="card-content">
              <h6 class="main-title">{{availName | uppercase}}</h6>
              <h6 class="main-calender"><img src="assets/images/Icons/PNG/calendar.png">{{avail.StartDate | date:'MM/dd'}}
                - {{avail.DueDate | date:'MM/dd'}} </h6>
              <span class="avail-status">
                <div class="current" [ngStyle]="getOverlayStyle()">{{avail.TitleData.AvailPercentage}}%</div>
                <round-progress class="round-outline" [current]="avail.TitleData.AvailPercentage" [max]="100" [color]="'#008040'" [background]="'#006FAD'"
                  [radius]="22" [stroke]="2.3" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false"
                  [duration]="800" [animation]="'easeInOutQuart'" [animationDelay]="0">
                </round-progress>
              </span>
            </div>
          </div>
          <div class="card-menu">
            <div class="container mt-3">
            </div>
          </div>
        </div>
      </div>
      <div class="flex-description box-3">
        <i class="material-icons">vertical_align_center</i>
        <i class="material-icons" (click)="reload()">replay</i>
        <i class="material-icons">title<sup>+</sup></i>
        <i class="material-icons">title<sup>-</sup></i>
      </div>
    </div>
  </div>


  <div class="acc-style">
    <div class="row containerFlex">

      <div class="col-md-6">
        <!-- <div class="box-swap" ngDraggable [preventDefaultEvent]="true" [zIndexMoving]="9999" [trackPosition]="false" [position]="positionA"
            (movingOffset)="onMoving($event)"> -->
        <div class="card-body">
          <div class="newly-added">
            <div class="row legend">
              <div class="legend-status">
                <div class="complete-legend"></div>
                <div class="col-md-6 legend-text">Completed</div>
              </div>
              <div class="legend-status">
                <div class="pending-legend"></div>
                <div class="col-md-3 legend-pending-text">Pending</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <a class="avail-details" (click)="showDetails3 = !showDetails3">
                <img src="assets/images/Icons/PNG/titles.png"> {{avail.TitleData.TitlesCount}} Titles</a>

              <div class="progressBar">
                <div class="progress progress-main1">
                  <div class="completeColor" (click)="filterTitles('Completed');" *ngIf="avail.TitleData.CompletedTitlesCount!=0" [style.width.%]="widthofTitle">
                    {{avail.TitleData.CompletedTitlesCount}}
                  </div>
                  <div class="pendingColor" (click)="filterTitles('Pending');" *ngIf="avail.TitleData.PendingTitlesCount!=0" [style.width.%]="remainingofTitle">
                    {{avail.TitleData.PendingTitlesCount}}
                  </div>
                </div>
              </div>

              <div *ngIf="!clickedOnTitle" class="row row-list">
                <div class="col-md-12 avail-list">
                  <span *ngFor="let z of avail.TitleDetails" [ngClass]="[z.TitleStatus == 'Completed' ? 'progress bg-success' : 'progress']">
                    <ul>
                      <li>{{z.GlobalTitle}} </li>
                    </ul>
                  </span>

                </div>
              </div>
              <div *ngIf="clickedOnTitle" class="row row-list">
                <div class="col-md-12 avail-list">
                  <span *ngFor="let filterTitle of filteredTitle" [ngClass]="[filterTitle.status == 'Completed' ? 'progress bg-success' : 'progress']">
                    <ul>
                      <li>{{filterTitle.title_name}} </li>
                    </ul>
                  </span>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <a class="avail-details" (click)="showDetails3 = !showDetails3">
                <i class="material-icons md-18 md-grey v-align">language</i> {{avail.TitleData.UniqueCountriesCount}} Countries</a>
              <div class="progressBar">
                <div class="progress progress-main1">
                  <div class="completeColor" (click)="filterCountries('Completed');" *ngIf="avail.TitleData.CountriesCompletedCount!=0" [style.width.%]="widthofCountries">
                    {{avail.TitleData.CountriesCompletedCount}}
                  </div>
                  <div class="pendingColor" (click)="filterCountries('Pending');" *ngIf="avail.TitleData.CountriesPendingCount!=0" [style.width.%]="remainingofCountries">
                    {{avail.TitleData.CountriesPendingCount}}
                  </div>
                </div>
              </div>

              <div *ngIf="!clickedOnCountry" class="row row-list">
                <div class="col-md-12 avail-list">
                  <span *ngFor="let z of avail.CountryData" [ngClass]="[z.CountryStatus == 'Completed' ? 'progress bg-success' : 'progress']">
                    <ul>
                      <li>{{z.Country}} </li>
                    </ul>
                  </span>
                </div>
              </div>
              <div *ngIf="clickedOnCountry" class="row row-list">
                <div class="col-md-12 avail-list">
                  <span *ngFor="let filterCountry of filteredCountry" [ngClass]="[filterCountry.status == 'Completed' ? 'progress bg-success' : 'progress']">
                    <ul>
                      <li>{{filterCountry.country_name}} </li>
                    </ul>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <a class="avail-details" (click)="showDetails3 = !showDetails3">
                <i class="material-icons md-18 md-grey v-align">translate</i> {{avail.TitleData.UniqueLanguagesCount}} Languages</a>

              <div class="progressBar">
                <div class="progress progress-main1">
                  <div class="completeColor" (click)="filterlanguages('Completed');" *ngIf="avail.TitleData.LanguagesCompletedCount!=0" [style.width.%]="widthofLang">
                    {{avail.TitleData.LanguagesCompletedCount}}
                  </div>
                  <div class="pendingColor" (click)="filterlanguages('Pending');" *ngIf="avail.TitleData.LanguagesPendingCount!=0" [style.width.%]="remainingofLang">
                    {{avail.TitleData.LanguagesPendingCount}}
                  </div>
                </div>
              </div>

              <div *ngIf="!clickedOnLanguage" class="row row-list">
                <div class="col-md-12 avail-list">
                  <span *ngFor="let z of avail.TranslationsData" [ngClass]="[z.TranslationStatus == 'Completed' ? 'progress bg-success' : 'progress']">
                    <ul>
                      <li>{{z.Language}} </li>
                    </ul>
                  </span>
                </div>
              </div>
              <div *ngIf="clickedOnLanguage" class="row row-list">
                <div class="col-md-12 avail-list">
                  <span *ngFor="let filterLanguage of filteredLanguage" [ngClass]="[filterLanguage.status == 'Completed' ? 'progress bg-success' : 'progress']">
                    <ul>
                      <li>{{filterLanguage.language_name}} </li>
                    </ul>
                  </span>
                </div>
              </div>
            </div>
          </div>


          <!-- progress bar -->
          <div style="margin: 20px 21px 24px 5px;" [hidden]="showDetails3">
            <div class="progress">
              <div [ngStyle]="{'width.%': width}" class="inner-progress">100</div>
            </div>
          </div>
          <!-- progress bar -->
        </div>
        <!-- </div> -->
      </div>
      <div>

      </div>

      <div class="col-md-6 outline">
        <div class="row outline">
          <div class="col-md-6">
            <div class="col-md-12">
              <h6 class="status-text">Status</h6>
              <p class="status">
                <b class="status-color"> {{avail.TitleData.PendingTranslations}}</b> </p>
              <p class="status-count"> Pending Translations</p>
              <p class="status">
                <b class="status-color"> {{avail.TitleData.PendingRatings}}</b> </p>
              <p class="status-count"> Pending Ratings</p>
              <p class="status">
                <b class="status-color"> -</b></p>
              <p class="status-count">Pending Clarifications</p>
              <p class="status">
                <b class="status-color"> -</b> </p>
              <p class="status-count"> Escalations</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12 timing">
              <h6 class="status-text timeline-update">Timeline</h6>
              <ul class="timeline">
                <li>
                  <a href="#" class="timeline-date">2/22/2019</a>
                  <p class="timeline-status"> Announced</p>
                </li>
                <li>
                  <a href="#" class="timeline-date">03/03/2019</a>
                  <p class="timeline-status">Completed</p>
                </li>
                <li>
                  <a href="#" class="timeline-date">03/08/2019</a>
                  <p class="timeline-status">Acknowledged</p>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="rightContain" class="container mt-3">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active pl-0 pr-2 p-0" data-toggle="tab" href="#comment">Comments</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#log">Log</a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content cmnt-list-scroll">
                <div id="comment" class="container tab-pane active">
                  <ul id="comments-list" class="comments-list">
                    <li>
                      <div class="comment-main-level">
                        <div class="comment-box">
                          <div class="comment-head" *ngFor="let z of avail.AvailComments">
                            <h6 class="comment-name">
                              <a href="http://creaticode.com/blog">{{z.CommentBy}}</a>
                            </h6>
                            <span class="date">{{z.Timestamp | date:'MM/dd HH:MM'}}</span>
                            <span class="comment-content">{{z.CommentDescription}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="comment-box">
                        <li class="comment-head" *ngFor="let comment of comments">
                          <!-- <div class="d-flex user-details"> -->
                          <h6 class="comment-name">
                            <a>JohnPaul</a></h6>
                          <span class="date">{{comment.date | date:'dd/MM hh:mm'}}</span>
                          <!-- </div> -->
                          <span class="comment-content"> {{comment.name}}</span>
                        </li>
                      </div>

                    </li>
                    <!-- <div class="col-md-12">
                    <label class="comment-content" *ngFor="let val of multipleList.COMMENTS">{{val.n}} </label>
                  </div>
                  <! <div class="comment-content"> -->
                    <!-- <textarea *ngIf="removeButton" class="custom-field w90 textarea" [(ngModel)]="Comments"></textarea> -->
                    <!-- <label class="right_btn ml-auto" (click)="addMultipleValue(COMMENTS)">+</label> -->
                    <!-- <span class="float-right comment-content" (click)="addMultipleValue(COMMENTS)">
                      <i class="material-icons cursor-pointer">add_box</i>
                    </span> -->

                    <!-- </div> -->
                    <div class="main-comment">
                      <div id="mySidenav" class="sidenav">
                        <!-- <div class="custom-comment" [ngClass]="(changeColor) ? 'border-red' : 'border-blue'">
                        <div><a class="closebtn" (click)="closeNav()">{{changeText}}</a></div>  -->

                        <div class="f-12">
                          <input type="text" id="comment" name="commentValue" [(ngModel)]="commentValue" (keydown)="addComment($event,commentValue)"
                            class="textBox width-100">

                        </div>
                        <!-- </div> -->
                      </div>

                      <span class="float-right" (click)="openNav()">
                        <i class="material-icons cursor-pointer">add_box</i>
                      </span>
                    </div>
                  </ul>
                </div>

                <div id="log" class="container tab-pane fade">
                  <br>
                  <ul id="comments-list" class="comments-list">
                    <li>
                      <div class="comment-main-level">
                        <div class="comment-box">
                          <div class="comment-log-head" *ngFor="let z of avail.AvailLogs">
                            <div class="d-flex flex-direction-coloumn justify-content-between">
                              <h6 class="comment-name">
                                <a href="http://creaticode.com/blog">{{z.LoggedBy}}</a>
                              </h6>
                              <span class="date">{{z.TimeStamp | date:'MM/dd HH:MM' }}</span>
                            </div>
                            <div class="comment-content">
                              <!-- <img class="log_img" src="assets/images/a_star_is_born_big.jpg" alt="events"> -->
                              <img class="log_img" [src]="z.ImageUrl==''?ImageUrl:x.ImageUrl">
                              <span class="log-img-cmt">
                                <p>{{z.Activity}}</p>
                                <!-- <p>{{z.image_url/fileName}}</p> -->
                                <p class="thumbnail">{{z.LogDescription}}</p>
                              </span>
                              <!-- <span class="log-img-status"></span> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>