<div class="cust-nav">
    <nav class="navbar navbar-expand-lg navbar-light bottomline color">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown " routerLink="/pages" routerLinkActive="setColor" [routerLinkActiveOptions]="{exact:true}">
            <i class="material-icons  icon-music">theaters</i>
            <span data-toggle="dropdown" class="v-align"> Film</span>
            <br>
            <span class="new-design">{{selectedItem}}
            </span>
            <ul class="dropdown-menu shadow-sm">
              <div *ngFor="let film of filmList">
                <li class="dropdown-selection" (click)="filmSelection(film.name)">{{film.name}}</li>
              </div>
            </ul>
          </li>
          <li class="nav-item" routerLink="/pages/television" routerLinkActive="setColor" [routerLinkActiveOptions]="{exact:true}" >
            <i class="material-icons icon-television">tv</i>
            <span class="v-align" data-toggle="dropdown"> Television</span>
            <!-- <span class="">{{selectedItemofTv}}
            </span>
            <ul class="dropdown-menu dropdown-align shadow-sm">
              <div *ngFor="let category of tvCategories">
                <li class="television"  (click)="televisonDrop(category.name)">{{category.name}}</li>
              </div>
            </ul> -->
          </li>
          <li class="nav-item dropdown cursorPoint" routerLink="/pages/itunes" (click)="selectedItem = null" routerLinkActive="setColor" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-music icon-music" aria-hidden="true"></i> iTunes
          </li>
          <li class="nav-item" routerLink="/pages/apo/titles" (click)="selectedItem = null" routerLinkActive="setColor" [routerLinkActiveOptions]="{exact:true}">
            <i class="material-icons">fast_forward</i>
            <span class="v-align"> APO</span>
          </li>
          <li class="nav-item" routerLink="/login">
            <i class="material-icons v-align">folder_special</i>
            <span class="res"> Adhoc</span>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  