<div class="container-fluid">

  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <div class="row"><label class="mainUserLabel">{{userName}}</label></div>
        <div class="row">
          <div class="col-md-5">
            <div class="flex-container">
              <div class="col-md-5">
                <a >
                  <img class="profDim" src="assets/images/dummy.jpg">
                </a>
              </div>  
              <div class="col-md-7">
                <div class="row nameAlign">{{userName}}</div> 
                <div class="row"><span class=""><img class="" src="assets/images/baseline_work_outline_black_18dp.png">{{userRole}}</span></div>
                <div class="row"><span class=""><img class="" src="assets/images/baseline_mail_outline_black_18dp.png">{{userEmail}}</span></div>
                <div  class="updateBtn">
                  <button class="updBtnColor" type="button" data-toggle="modal" data-target="#myUpdateModal" mat-raised-button [disabled]="false">Update Password</button>
                </div> 
              </div>
            </div> 

            <div id = "svgcontainer">

            </div>
            <br> 
            <div class="flex-container">
              <div class="col-md-6">
                  <div class="row nameAlign">Line Of Business</div>
                  <div class="row pt-1"><span class=""><img class="" src="assets/images/baseline_theaters_black_18dp.png"> Film - New</span></div>
                  <div class="row pt-1"><span class=""><img class="" src="assets/images/baseline_theaters_black_18dp.png"> Film - Catalog</span></div>
                  <div class="row pt-1"><span class=""><img class="" src="assets/images/baseline_personal_video_black_18dp.png"> Television - Catalog</span></div>
                  <div class="row pt-1"><span class=""><img class="" src="assets/images/baseline_personal_video_black_18dp.png"> Television - Day After</span></div>
                  <div class="row pt-1"><span class=""><i class="fa fa-music icon-music" aria-hidden="true"></i> ITunes</span></div>
                  <div class="row pt-1"><span class=""><img class="" src="assets/images/baseline_fast_forward_black_18dp.png"> Accelerated Pre Order</span></div>
                  <div class="row pt-1"><span class=""><img class="" src="assets/images/baseline_folder_special_black_18dp.png"> AdHoc</span></div>
                </div>  
              <div class="col-md-6">
                <div class="row nameAlign">Group</div>
                <div class="row pt-1 opac">#datanalyst</div>
                <div class="row pt-1 opac">#infydatanalyst</div>
                <div class="row pt-1 opac">#qcsspecialist</div>
                <div class="row clearfix"></div>
                <br>
                <div class="row nameAlign">Alerts</div>
                <div class="row pt-1 flexSwitchTog">
                  <span class="opac">Notification</span> 
                  &nbsp;
                  <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label>
                </div>
                <div class="row pt-1 flexSwitchTog">
                  <span class="opac">Alert</span>
                  &nbsp;
                  <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label>
                </div>

              </div>
            </div>      
          </div>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12">
                <div class="container mt-3">
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#comment">Comments</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#log">Log</a>
                    </li>
                  </ul>
      
                  <!-- Tab panes -->
                  <div class="tab-content cmnt-list-scroll">
                    <div id="comment" class="container tab-pane active">
                      <ul id="comments-list" class="comments-list">
                        <li>
                          <div class="comment-main-level">
                            <div class="comment-box">
                              <div class="comment-head">
                                <h6 class="comment-name"><a href="http://creaticode.com/blog">John Paul</a></h6>
                                <span class="date">01/12 11:24</span>
                              </div>
                              <div class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt eros nec ante laoreet mattis. Suspendisse sollicitudintortor
                                id nulla dictum, at congue turpis tristique. Maecenas eget consectetur tortor. Donec ut maurissit
                                amet ante auctor elementum. Morbi at euismod sem. Mauris tincidunt pretium tellus</div>
                            </div>
                          </div>
                          <ul class="comments-list reply-list">
                            <li>
                              <div class="comment-box">
                                <div class="comment-head">
                                  <h6 class="comment-name"><a href="http://creaticode.com/blog">Samwell Tarly</a></h6>
                                  <span class="date">01/12 12:16</span>
                                </div>
                                <div class="comment-content">
                                  Ante auctor elementum. Morbi at euismod sem. Mauris tincidunt pretium tellus vitae accumsan</div>
                              </div>
                            </li>
                          </ul>
                        </li>
      
                        <li>
                          <div class="comment-main-level">
                            <div class="comment-box">
                              <div class="comment-head">
                                <h6 class="comment-name"><a href="http://creaticode.com/blog">Emilia Targaryen</a></h6>
                                <span class="date">01/13 10:15</span>
                              </div>
                              <div class="comment-content">
                                Cras tempor, ante ac suscipit venenatis, neque nibh molestie libero, non rutrum risus dui quis ante. Cras tristique, sapienac
                                fermentum laoreet, turpis quam rutr tellus, efficitur volutpat arcu lectus nec justo. ut ornare
                                neque,sit amet ultricies sapien. Cras sed ornare lorem, finibus laoreet urna. Nullam efficitur,
                                massa a vestibulum interdum, lacus odio facilisis velit, eu rhoncus tellus risus sit amet lacus.
                                Proin volutpat justo veltincidunt mollis. Cras aliquam, elit ornare tempus</div>
                            </div>
                          </div>
                        </li>
      
                        <li>
                          <div class="comment-main-level">
                            <div class="comment-box">
                              <div class="comment-head">
                                <h6 class="comment-name"><a href="http://creaticode.com/blog">Emilia Targaryen</a></h6>
                                <span class="date">01/13 10:15</span>
                              </div>
                              <div class="col-md-12">
                                <label class="comment-content" *ngFor="let val of multipleList.COMMENTS">{{val.n}} </label>
                              </div>
                              <div class="comment-content">
                                <textarea *ngIf="removeButton" class="custom-field w90 textarea" [(ngModel)]="Comments"></textarea>
                                <label class="right_btn ml-auto" (click)="addMultipleValue(COMMENTS)">+</label>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
      
                    <div id="log" class="container tab-pane fade"><br>
                      <ul id="comments-list" class="comments-list">
                        <li>
                          <div class="comment-main-level">
                            <div class="comment-box">
                              <div class="comment-log-head">
                                <h6 class="comment-name"><a href="http://creaticode.com/blog">John Paul</a></h6>
                                <span class="date">01/12 11:24</span>
                              </div>
                              <div class="comment-content">
                                <img src="assets/images/a_star_is_born_big.jpg" alt="events">
                                <span><p>Removed</p>
                                  <p>Thumbnail Image</p></span>
                              </div>
                            </div>
                          </div>
                          <ul class="comments-list reply-list">
                            <li>
                              <div class="comment-box">
                                <div class="comment-log-head">
                                  <h6 class="comment-name"><a href="http://creaticode.com/blog">Samwell Tarly</a></h6>
                                  <span class="date">01/12 12:16</span>
                                </div>
                                <div class="comment-content">
                                  <span><p>Edited</p>
                                    <p>Title: The Lego Movie 2</p></span>
                                </div>
                                
                              </div>
                            </li>
                          </ul>
                        </li>
      
                        <li>
                          <div class="comment-main-level">
                            <div class="comment-box">
                              <div class="comment-log-head">
                                <h6 class="comment-name"><a href="http://creaticode.com/blog">Emilia Targaryen</a></h6>
                                <span class="date">01/13 10:15</span>
                              </div>
                              <div class="comment-content">
                                <img src="assets/images/a_star_is_born_big.jpg" alt="events">
                                <span><p>Uploaded</p>
                                  <p>Thumbnail Image</p></span>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
            </div>
        </div>
      </div>
  </div>
</div>

<div class="modal right fade" id="myUpdateModal" [ngStyle]="{'display':display}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="">
          <div class="row">
            <div class="row boxAlign p-6">

              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 primaryColor">
                
                <a class="profileDimUpdatePass">
                  <img  src="assets/images/dummy.jpg">
                </a>
              
              </div>
              <div id="resetPassword" class="col-md-6 col-lg-6 col-sm-6 col-xs-12 secondaryColor p-3">
                <div class="">
          
                  <span data-dismiss="modal" #closeBtn (click)="closeModal()"><i class="material-icons fillBackArrow">
                    keyboard_backspace
                    </i></span>
                </div>
                <h2 class="text-center alignP">Reset Password</h2> 
                <form [formGroup]="resetForm"  class="text-center p-4" >
                    
                      
                      
                      <div class="form-group formFields ">
                          <div class="">
                            <input (keyup)="newPwdEntered()" class="form-control" type="{{typeNewPwd}}" placeholder="New Password" formControlName="newpassword">
                            <span [hidden]="!showEyeNewPwd" class="fa fa-eye eyePos" (mousedown)="showMeNewPwd()" (mouseup)="hideMeNewPwd()"></span>
                          </div>
                            <div *ngIf="f.newpassword.invalid && (f.newpassword.dirty  || f.newpassword.touched)">
                              <div *ngIf="f.newpassword?.errors">
                                <div *ngIf="f.newpassword.errors?.required" class="errorPatten">New Password is required</div>
                                <div *ngIf="f.newpassword.errors?.matchLength || f.newpassword.errors?.mustMatchLowercaseAlphabets || f.newpassword.errors?.mustMatchUppercaseAlphabets || f.newpassword.errors?.mustMatchNumeric"
                                  class="errorPatten">Weak</div>
                              </div>
                              <div *ngIf="f.newpassword?.errors">
                                <div *ngIf="(!f.newpassword.errors?.matchLength && !f.newpassword.errors?.mustMatchLowercaseAlphabets && !f.newpassword.errors?.mustMatchUppercaseAlphabets && !f.newpassword.errors?.mustMatchNumeric)"
                                  class="errorPatten">Strong</div>
                              </div>
                            </div>
                          
                         
                          <div class="padTop">
                            <input (keyup)="cnfPwdEntered()" class="form-control" type="{{typeCnfPwd}}" placeholder="Confirm password" formControlName="confirmpassword"  >
                            <span [hidden]="!showEyeCnfPwd" class="fa fa-eye eyePos" (mousedown)="showMeCnfPwd()" (mouseup)="hideMeCnfPwd()"></span>
                          </div>
                          <div *ngIf="f.confirmpassword.errors">
                            <div *ngIf="f.confirmpassword.errors.mustMatch" class="errorPatten">Mismatch</div>
                          </div>
                      </div>
                      <div *ngIf="!transComp" class="outer resetSubmit" (click)="validateInputValues()">
                        Reset
                        <div [ngClass]="{'inner active': classAdd, 'inner': classAdd}" ></div>
                      </div>
                      <div *ngIf="transComp" class="tick resetSubmit">
                        <span class="checkmark"></span>
                      </div>
                      <div class="row ruleTabs passwordStrength">
                        <p [ngClass]="{'minlength-fail':f.newpassword.errors?.matchLength,'minlength-success':!f.newpassword.errors?.matchLength}">8 Character | </p>
                        <p [ngClass]="{'minlength-fail':f.newpassword.errors?.mustMatchUppercaseAlphabets,'minlength-success':!f.newpassword.errors?.mustMatchUppercaseAlphabets}">&nbsp;Caps |</p>
                        <p [ngClass]="{'minlength-fail':f.newpassword.errors?.mustMatchLowercaseAlphabets,'minlength-success':!f.newpassword.errors?.mustMatchLowercaseAlphabets}">&nbsp;Small |</p>
                        <p [ngClass]="{'minlength-fail':f.newpassword.errors?.mustMatchNumeric,'minlength-success':!f.newpassword.errors?.mustMatchNumeric}">&nbsp;Numeric</p>
                      </div>
          
                      
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
