$primary: rgba(0, 124, 195,1);
$secondary:rgba(3, 169, 244,1);
$black: rgba(0,0,0,1);
$black-1: rgba(0,0,0,0.14);
$black-3: rgba(0,0,0,0.3);
$black-4: rgba(0,0,0,0.4);
$black-6: rgba(0,0,0,0.6);
$black-7: rgba(0,0,0,0.7);
$black-8: rgba(0, 0, 0, 0.86);
$white:rgba(255,255,255,1);
$white-6:rgba(255,255,255,0.6);
$blue: rgba(190, 227, 255,1);


.mainUserLabel{
    font-size:12px;
}
.nav-tabs{
    border-bottom: none;
        .nav-item{
        .nav-link{
            // border: 1px solid;
            border: none;
            padding: 0 10px;
            margin: 0;
            color: $black-3;
            &.active{
                // border: 1px solid;
                color: $black;
                background-color: transparent;
            }
         
        }
    }
}
.nameAlign{
    color: #007bff;
    line-height: 30px;
}
li {
    list-style-type: none;
}
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $black-1; 
    border-radius: 4px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $black-1; 
    border-radius: 10px;
    display: none;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $black-1;
    display: block;
  }
.flex-container{
    display: flex;
    font-size: 12px;
    ul{
        flex: 0 0 33.3%;
        padding-left: 0px;
    }
    .user-profile{
      .profDim{
        width: 120px;
        height: 120px;
    }  
    }

    .user-data{
        display: flex;
        flex-direction: column;
        //align-items: self-end;
        justify-content: center;
       
        .user-details{
            display: flex;
            flex-direction: column;
        }
        .updateBtn {
            //text-align: center;
           // margin-top: 45% !important;
           button{
                // outline: none !important;
                // margin-left: -6%;
                // position: relative;
                // top: 5px;
           }
        }
        .updBtnColor {
            background-color: #34383a;
            color: white;
            font-size: 12px;
           // width: 62%;
            //padding: 4px;
        }
        .opac{
            opacity: 0.6;
        }
    }
    
}

.boxAlign{
    height: 380px;
    width: 100%;
    .primaryColor{
        background: #007CC3;
    }
    .secondaryColor{
        background: #92D1FF;
    }
}
.alignP{
    padding-top: 10% !important;
    font-size: 24px;
    font-weight: 500;
}
.formFields{
    //padding-top: 1.5rem!important;
     margin-left: -2%;
  }
.floatLeft{
    float: left !important;
}


.comment-box{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    // overflow: scroll;
    // overflow-x: hidden;
    // height: 340px;
    .tab-content{
        box-shadow: none;
        // overflow: scroll;
        // overflow-x: hidden;
        
    }
    .nav-tabs{
        display: flex;
        flex-direction: row;
        // border-left: 1px solid $black-3;
        margin: 10px 15px;
        flex-wrap: inherit;
            .nav-item{
            .nav-link{
                   border-top-left-radius: 0px;
                   border-top-right-radius: 0px;
                //    line-height: 36px;
                &.active{
                    // border-left: 3px solid rgba(0, 0, 0, 0.3);
                    // position: relative;
                    // left: -2px;
                    color: $primary;
                    font-weight: 600;
                }
            }
        }
    }
    .comment-scroll{
        overflow: scroll;
        overflow-x: hidden;
        height: 500px;
        margin-bottom: 10px;
    }
    .comment-style{
        // border: 1px solid $black-3;
        //box-shadow: 0px 0px 3px $black-3;
        padding: 3px 10px;
        margin: 10px 10px;
        font-size: 11px;
        background: $white;
        // overflow: scroll;
        // overflow-x: hidden;
        //height: 300px;
    }
   .comment-style:nth-of-type(odd){
       border-right: 3px solid #bee3ff
   }
   .comment-style:nth-of-type(even){
    border-left: 3px solid #bee3ff
}
   
    .user-details{
        justify-content: space-between;
        font-size: 11px;
        color: $black-6;
        
    }
    #Log{
        overflow: scroll;
        overflow-x: hidden;
        height: 230px;
        li{
            background: $white;
            margin: 7px;
            padding: 4px 7px;
            border-radius: 4px;
        }
        
    }
}

  /***formcontrol override***/
.form-control {
    background-color: #92D1FF;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    transition: none;
    padding-left: 0;
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    transition: 0.3s linear;
}
.form-control:focus {
    background-color: #92D1FF;
    border-color: none;
    outline: 0;
    box-shadow: none !important;
    padding-left: 0;
    border-bottom: 2px solid #fff;
}
.errorForm{
    color: red !important;
}
.errorPos{
    color: red;
    position: absolute;
    bottom: 38%;
    font-size: 12px;
    margin-left: 12%;
}
.padTop{
    padding-top:5%;
}
.eyePos{
   float: right;
    cursor: pointer;
    position: relative;
    bottom: 30px;
}

.outer{
    transition: background-color 0.4s ease !important;
    box-sizing: border-box !important;
    width: 56% !important;
    margin-top: 24% !important;
    text-align: center !important;
    position: relative !important;
    background-color: #007CC3 !important;
    color: #fff !important;
    cursor: pointer !important;
    padding: 10px 6px !important;
    border-radius: 4px !important;
    overflow: hidden !important;
    display: flex !important;
    justify-content: center !important;
    margin: auto;
}
.inner{
    transition: opacity 0s ease !important;
    width: 100% !important;
    height: 60px !important;
    background-color: rgba(4, 79, 122, 0.6) !important;
    position: absolute !important;
    left: 0 !important;
    bottom: 0 !important;
    opacity: 0 !important;

    &.active{
        opacity: 1 !important;
        animation: progressAnimation 1s ease !important;
    }
}
.otpAligin{
    margin-top: 53% !important;
}
@keyframes progressAnimation{
    0% {width:0}
    95% {width: 95%}
    100% {width: 100%}
}
@-webkit-keyframes progressAnimation{
    0% {width:0}
    95% {width: 95%}
    100% {width: 100%}
}
.checkmark{
    display: inline-block !important;
    &:after{
        content: '' !important;
        display: block !important;
        width: 10px !important;
        height: 20px !important;
        border: solid #fff !important;
        border-width: 0 4px 4px 0 !important;
        transform: rotate(45deg) !important;
    }
}
.tick{
    width: 56% !important;
    height: 44px;
    text-align: center !important;
    position: relative !important;
    background-color:#007CC3 !important;
    color: #fff !important;
    cursor: pointer !important;
    padding: 10px 6px !important;
    border-radius: 4px !important;
    display: flex !important;
    justify-content: center !important;
    margin: auto;
    margin-top: 24%  !important;
}
.passwordStrength{
    font-size: 12px;
    //margin-left: 17%;
    position: relative;
    top: 10px;
    justify-content: center;
}
.minlength-fail{
    opacity: 0.5;
}
.minlength-success{
    opacity: 1;
}
.errorPatten{
    float: right;
    font-size: 12px;
}



.modal-dialog {
    max-width: 530px;
    margin: 1.75rem auto;
}
.modal-body {
    padding: inherit;
}
.fillBackArrow{
    -webkit-text-fill-color: white;
    cursor: pointer;
}
.profileDimUpdatePass{
    display: flex;
    justify-content: center;
    position: relative;
    top: 118px;
    img{
        width: 92px;
        height: 120px;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #92D1FF;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: #2196F3;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #92D1FF;
    width: 100%;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .flexSwitchTog{
    display: flex;
    width: 180px;
    justify-content: space-between;
  }
  .svg-chart{
    display: flex;
    justify-content: center;
   }

   .container{
        background:rgba(242, 249, 252, 1);
    }
    .dummyClass{
        margin-left: 2%;
        margin-bottom: -7%;
        margin-top: 3%;
    }
