<div class="container">

  <div class="row">
      <!-- <div class="col-md-2"></div> -->
      <div class="col-md-12">
        
        <div class="row">
          <div class="col-md-8 border pt-2">
              <!-- <div class="row"><label class="mainUserLabel">{{userName}}</label></div> -->
            <div class="flex-container">
              <div class="user-profile">
                <a >
                  <img class="profDim" src="assets/images/userImage.jpg">
                </a>
              </div>  
              <div class="user-data pt-2 pb-2 pl-3 pr-3">
                <div class="nameAlign">{{userName}}</div> 
                <div class="user-details pb-2">
                <span class=""><img class="" src="assets/images/baseline_work_outline_black_18dp.png"> {{userRole}}</span>
                <span class=""><img class="" src="assets/images/baseline_mail_outline_black_18dp.png"> {{userEmail}}</span>
                </div>
                <div  class="updateBtn">
                  <button class="btn updBtnColor p-1" type="button" data-toggle="modal" data-target="#myUpdateModal" [disabled]="false">Update Password</button>
                </div> 
              </div>
            </div> 
            <!-- <div class="nameAlign dummyClass"></div>  -->
            <div style="margin-top: -3%;" class="svg-chart"> 
              <p>Engagement</p>
              <div id = "svgcontainer">

              </div>
          </div>
            <br> 
            <div class="flex-container">
              <!-- <div class="col-md-6">
                  <div class="row nameAlign">Line Of Business</div>
                  <div class="row pt-1"><span class=""><img class="" src="assets/images/baseline_theaters_black_18dp.png"> Film - New</span></div>
                  <div class="row pt-1"><span class=""><img class="" src="assets/images/baseline_theaters_black_18dp.png"> Film - Catalog</span></div>
                  <div class="row pt-1"><span class=""><img class="" src="assets/images/baseline_personal_video_black_18dp.png"> Television - Catalog</span></div>
                  <div class="row pt-1"><span class=""><img class="" src="assets/images/baseline_personal_video_black_18dp.png"> Television - Day After</span></div>
                  <div class="row pt-1"><span class=""><i class="fa fa-music icon-music" aria-hidden="true"></i> ITunes</span></div>
                  <div class="row pt-1"><span class=""><img class="" src="assets/images/baseline_fast_forward_black_18dp.png"> Accelerated Pre Order</span></div>
                  <div class="row pt-1"><span class=""><img class="" src="assets/images/baseline_folder_special_black_18dp.png"> AdHoc</span></div>
              </div>  
              <div class="col-md-6">
                <div class="row nameAlign">Group</div>
                <div class="row pt-1 opac">#datanalyst</div>
                <div class="row pt-1 opac">#infydatanalyst</div>
                <div class="row pt-1 opac">#qcsspecialist</div>
                <div class="row clearfix"></div>
                <br>
                <div class="row nameAlign">Alerts</div>
                <div class="row pt-1 flexSwitchTog">
                  <span class="opac">Notification</span> 
                  &nbsp;
                  <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label>
                </div>
                <div class="row pt-1 flexSwitchTog">
                  <span class="opac">Alert</span>
                  &nbsp;
                  <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label>
                </div>

              </div> -->
              <ul class="">
                  <li class="nameAlign">Line Of Business</li>
                  <li class="pt-1"><span class=""><img class="" src="assets/images/baseline_theaters_black_18dp.png"> Film - New</span></li>
                  <li class="pt-1"><span class=""><img class="" src="assets/images/baseline_theaters_black_18dp.png"> Film - Catalog</span></li>
                  <li class="pt-1"><span class=""><img class="" src="assets/images/baseline_personal_video_black_18dp.png"> Television - Catalog</span></li>
                  <li class="pt-1"><span class=""><img class="" src="assets/images/baseline_personal_video_black_18dp.png"> Television - Day After</span></li>
                  <li class="pt-1"><span class=""><i class="fa fa-music icon-music" aria-hidden="true"></i> ITunes</span></li>
                  <li class="pt-1"><span class=""><img class="" src="assets/images/baseline_fast_forward_black_18dp.png"> Accelerated Pre Order</span></li>
                  <li class="pt-1"><span class=""><img class="" src="assets/images/baseline_folder_special_black_18dp.png"> AdHoc</span></li>
              </ul>
              <ul class="">
                  <li class="nameAlign">Group</li>
                  <li class="pt-1 opac">#datanalyst</li>
                  <li class="pt-1 opac">#infydatanalyst</li>
                  <li class="pt-1 opac">#qcsspecialist</li>
                  <li class="pt-1 opac">#superuser</li>
                  <li class="pt-1 opac">#adminuser</li>
              </ul>
              <ul class="">
                  <li class="nameAlign">Emails</li>
                 <li class="pt-1 flexSwitchTog">
                    <span class="opac">Notification</span> 
                   
                    <label class="switch">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="pt-1 flexSwitchTog">
                    <span class="opac">Risk</span>
                   
                    <label class="switch">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="pt-1 flexSwitchTog">
                      <span class="opac">Red Alert</span>
                     
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </li>
              </ul>
            </div>      
          </div>
          <div class="col-md-4">
            <div class="row">
                <ul class="comment-box">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#Comments">Comments</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Log">Log</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="Comments">
                        <div class="comment-scroll">
                        <li class="comment-style" *ngFor="let comment of comments">
                          <div class="d-flex user-details">
                            <span>JohnPaul</span>
                            <span>{{comment.date | date:'dd/MM hh:mm'}}</span>
                          </div>
                          {{comment.name}}
                        </li>
                        </div>
                        
                        
                        <!-- <button (click)="showInput()">Add</button> -->
                      </div>
                      <div class="tab-pane" id="Log">
                        <li class="" *ngFor="let logD of logsDetails">
                          <div class="d-flex user-details">
                            <span>{{logD.name}}</span>
                            <span>{{logD.date | date:'dd/MM hh:mm'}}</span>
                          </div>
                          <span>{{logD.val}}</span>
                          
                        </li>
                        <!-- <input #newComment (keyup.enter)="addComment(newComment.value)" (blur)="addComment(newComment.value); newComment.value='' ">
                                    <button (click)="addComment(newComment.value)">Add</button> -->
                      </div>
                    </div>
                  </ul>
            </div>  
            </div>
        </div>
      </div>
  </div>
</div>

<div class="modal right fade" id="myUpdateModal" [ngStyle]="{'display':display}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="">
          <div class="row">
            <div class="row boxAlign p-6">

              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 primaryColor">
                
                <a class="profileDimUpdatePass">
                  <img  src="assets/images/userImage.jpg">
                </a>
              
              </div>
              <div id="resetPassword" class="col-md-6 col-lg-6 col-sm-6 col-xs-12 secondaryColor p-3">
                <div class="">
          
                  <span data-dismiss="modal" #closeBtn (click)="closeModal()"><i class="material-icons fillBackArrow">
                    keyboard_backspace
                    </i></span>
                </div>
                <h2 class="text-center alignP">Reset Password</h2> 
                <form [formGroup]="resetForm"  class="text-center p-4" >
                    
                      
                      
                      <div class="form-group formFields ">
                          <div class="">
                            <input (keyup)="newPwdEntered()" class="form-control" type="{{typeNewPwd}}" placeholder="New Password" formControlName="newpassword">
                            <span [hidden]="!showEyeNewPwd" class="fa fa-eye eyePos" (mousedown)="showMeNewPwd()" (mouseup)="hideMeNewPwd()"></span>
                          </div>
                            <div *ngIf="f.newpassword.invalid && (f.newpassword.dirty  || f.newpassword.touched)">
                              <div *ngIf="f.newpassword?.errors">
                                <div *ngIf="f.newpassword.errors?.required" class="errorPatten">New Password is required</div>
                                <div *ngIf="f.newpassword.errors?.matchLength || f.newpassword.errors?.mustMatchLowercaseAlphabets || f.newpassword.errors?.mustMatchUppercaseAlphabets || f.newpassword.errors?.mustMatchNumeric"
                                  class="errorPatten">Weak</div>
                              </div>
                              <div *ngIf="f.newpassword?.errors">
                                <div *ngIf="(!f.newpassword.errors?.matchLength && !f.newpassword.errors?.mustMatchLowercaseAlphabets && !f.newpassword.errors?.mustMatchUppercaseAlphabets && !f.newpassword.errors?.mustMatchNumeric)"
                                  class="errorPatten">Strong</div>
                              </div>
                            </div>
                          
                         
                          <div class="padTop">
                            <input (keyup)="cnfPwdEntered()" class="form-control" type="{{typeCnfPwd}}" placeholder="Confirm password" formControlName="confirmpassword"  >
                            <span [hidden]="!showEyeCnfPwd" class="fa fa-eye eyePos" (mousedown)="showMeCnfPwd()" (mouseup)="hideMeCnfPwd()"></span>
                          </div>
                          <div *ngIf="f.confirmpassword.errors">
                            <div *ngIf="f.confirmpassword.errors.mustMatch" class="errorPatten">Mismatch</div>
                          </div>
                      </div>
                      <div *ngIf="!transComp" class="outer resetSubmit" (click)="validateInputValues()">
                        Reset
                        <div [ngClass]="{'inner active': classAdd, 'inner': classAdd}" ></div>
                      </div>
                      <div *ngIf="transComp" class="tick resetSubmit">
                        <span class="checkmark"></span>
                      </div>
                      <div class="row ruleTabs passwordStrength">
                        <p [ngClass]="{'minlength-fail':f.newpassword.errors?.matchLength,'minlength-success':!f.newpassword.errors?.matchLength}">8 Character | </p>
                        <p [ngClass]="{'minlength-fail':f.newpassword.errors?.mustMatchUppercaseAlphabets,'minlength-success':!f.newpassword.errors?.mustMatchUppercaseAlphabets}">&nbsp;Caps |</p>
                        <p [ngClass]="{'minlength-fail':f.newpassword.errors?.mustMatchLowercaseAlphabets,'minlength-success':!f.newpassword.errors?.mustMatchLowercaseAlphabets}">&nbsp;Small |</p>
                        <p [ngClass]="{'minlength-fail':f.newpassword.errors?.mustMatchNumeric,'minlength-success':!f.newpassword.errors?.mustMatchNumeric}">&nbsp;Numeric</p>
                      </div>
          
                      
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
