

<!-- <div class="flex-box">
  <div class="flex-description">

  </div>
  <div class="flex-description">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav>
  </div>
</div> -->
<div class="container-fluid" [ngStyle]="{'font-size': sizeVar+'px'}">
  <div class="d-flex">
    <div class="flex-grow-1">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Library</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>

      <div class="card">
        <div class="d-flex">
          <div class="flex-description box-1">
            <img class="img-card" src="../../../assets/images/lego.jpg">
          </div>
          <div class="flex-description box-2">
            <div class="d-flex">
              <div class="card-data">
                <div class="card-content">
                  <ul>
                    <li>The Lego Movie 2</li>
                    <li class="cust-text">
                      <img src="assets/images/Icons/PNG/calendar.png">22/22 - 3/19</li>
                  </ul>
                </div>
                <div class="circle" (click)="showTitleStatus(i)">
                  <circle-progress [percent]="0" [radius]="20" [outerStrokeWidth]="2" [innerStrokeWidth]="2" [outerStrokeColor]="'#008040'"
                    [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="1000"></circle-progress>
                </div>
              </div>
              <div class="card-menu">
                <div class="container mt-3">
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#insight">Insight</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#metaData">Metadata</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-description box-3">
            <i class="material-icons">vertical_align_center</i>
            <i class="material-icons">replay</i>
            <span (click)="sizePlus()"><i class="material-icons">title
              <sup>+</sup>
            </i></span>
            <span (click)="sizeMinus()"><i class="material-icons">title
              <sup>-</sup>
            </i></span>
          </div>
        </div>
      </div>
      <div class="container-fluid padding-side">
        <div class="tab-content">
          <div id="insight" class="container tab-pane active">
            <h3>Insight</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
          </div>
          <div id="metaData" class="tab-pane fade">
            <div class="d-flex">
              <div class="tab-content">
                <div id="Global" class="tab-pane active">
                  <div class="metaData-content">
                    <div class="table-1">
                      <ul>
                        <li>Abstarct EIDR</li>
                        <li>Account</li>
                        <li>Activation Status</li>
                        <li>Actors</li>
                        <li>Aired End Date</li>
                        <li>Aired From Date</li>
                        <li>Announcement Date</li>
                        <!-- <li>Announcement Name</li> -->
                        <li>Atlas MCR Number</li>
                        <li>Audio Language Description</li>
                        <li>Broadcast Vehicle</li>
                        <li>Bundle Video Version Number</li>
                        <li>Bussiness Unit</li>
                        <li>Change Status</li>
                        <li>Change Fields</li>
                        <li>Channel</li>
                        <li>Cleared For sale</li>
                        <li>Client End</li>
                      </ul>
                    </div>
                    <div class="table-2 d-flex" id="OriginalData">
                      <ul *ngFor="let x of metaDataList">
                        <li>{{x.abstractEIDR}}</li>
                        <li>{{x.account}}</li>
                        <li>{{x.activationStatus}}</li>
                        <li>{{metaDataListUpdateVal}}</li>
                        <li>{{x.airedEndDate}}</li>
                        <li>{{x.AiredFromDate}}</li>
                        <li>{{x.announcementDate}}</li>
                        <li>{{x.atlasnumber}}</li>
                        <li>{{x.audioLanguage}}</li>
                        <li>{{x.broadcastVehicle}}</li>
                        <li>{{x.bundleVersion}}</li>
                        <li>{{x.businessUnit}}</li>
                        <li>{{x.changeStatus}}</li>
                        <li>{{x.changeFields}}</li>
                        <li>{{x.channel}}</li>
                        <li>{{x.ClearedForSale}}</li>
                        <li>{{x.ClientEnd}}</li>
                        <!-- <li>{{x.ClientEnd}}</li>
                              <li>{{x.ClientEnd}}</li> -->
                      </ul>
                      <!-- <div class="" >
                        <div class="table-3"> -->
                          <div *ngIf="close">
                          <ul *ngFor="let x of details" class="pl-2">
                            <li>{{x.abstractEIDR}}</li>
                            <li>{{x.account}}</li>
                            <li>{{x.activationStatus}}</li>
                            <li>{{metaDataListUpdateVal}}</li>
                            <li>{{x.airedEndDate}}</li>
                            <li>{{x.AiredFromDate}}</li>
                            <li>{{x.announcementDate}}</li>
                            <li>{{x.atlasnumber}}</li>
                            <li>{{x.audioLanguage}}</li>
                            <li>{{x.broadcastVehicle}}</li>
                            <li>{{x.bundleVersion}}</li>
                            <li>{{x.businessUnit}}</li>
                            <li>{{x.changeStatus}}</li>
                            <li>{{x.changeFields}}</li>
                            <li>{{x.channel}}</li>
                            <li>{{x.ClearedForSale}}</li>
                            <li>{{x.ClientEnd}}</li>
                            <!-- <li>{{x.ClientEnd}}</li>
                                  <li>{{x.ClientEnd}}</li> -->
                          </ul>
                          </div>
                        <!-- </div>
                      </div> -->
                      
                    </div>
                    <div class="comparsion-box" *ngIf="show">
                      <div class="d-flex">
                        <div class="add-icon">
                        <i class="material-icons" (click)="openBox()">add_box</i>
                        <div id="mySidenav" class="searchBox d-flex" id="compareBox"  >
                          <div class="compare-section">
                            <div class="add-btn"><a href="javascript:void(0)" class="closebtn" (click)="closeBox()"><i class="material-icons"  (click)="openBox()">add_box</i></a>Compare</div>
                              <input type="text" name="availId" [(ngModel)]="availId" (keyup.enter)="onEnter(metaDataShow(availId))">
                            <!-- <button (click)="metaDataShow(availId)">Add</button>  -->
                          </div>
                        </div>
                        </div> 
                      </div>
                    </div>
                    <div class="add-icon d-flex align-items-center" *ngIf="close" (click)="showComment()">
                      <i class="material-icons">add_box</i>
                    </div>
                    
                  </div>
                  <div class="update-box">
                    <div class="btn-group">
                      <ul class="nav nav-tabs">
                        <li class="nav-item ">
                          <a class="nav-link active" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('atom')}">ATOM</a>
                        </li>
                        <li class="nav-item ">
                          <a class="nav-link" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('cas')}">CAS</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('sap')}">SAP</a>
                        </li>
                      </ul>
                      <div class="text-area">
                        <textarea cols="79" rows="2" #box>
                                    
                        </textarea>
                      </div>
                      <div class="btn btn-dark" (click)="update(box.value)">Update</div>
                    </div>

                  </div>

                </div>
                <div id="Language" class="container tab-pane fade">
                  <br>
                  <h3>Language</h3>
                  <div class="col-md-9 lang-info">
                    <div class="metaData-content local-titles">
                      <div class="table-1">
                        <ul>
                          <li>Local Titles</li>
                          <li>English Short</li>
                          <li>English Long</li>
                        </ul>
                      </div>
                      <div class="table-2">
                        <ul *ngFor="let x of metaDataList">
                          <li>{{x.abstractEIDR}}</li>
                          <li>{{x.account}}</li>
                          <li>{{x.activationStatus}}</li>
                        </ul>
                      </div>
                      <div><label class="plus-symbol" (click)="addShortSynopsis()"> +</label></div>
                    </div>
                  </div>
                </div>
                <div id="Territorial" class="container tab-pane fade">
                  <br>
                  <h3>Territorial</h3>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                    rem aperiam.</p>
                </div>
              </div>

              <div class="comment-data">
                <div class="comment-data-heading">
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#Global">Global</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#Language">Language</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#Territorial">Territorial</a>
                    </li>
                  </ul>
                </div>
                <ul class="comment-box">
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#Comments">Comments</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#Log">Log</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="Comments">
                      <li class="comment-style" *ngFor="let comment of comments">
                        <div class="d-flex user-details">
                          <span>JohnPaul</span>
                          <span>{{comment.date | date:'dd/MM hh:mm'}}</span>
                        </div>
                        {{comment.name}}</li>
                        <div class="main-comment">
                        <div id="mySidenav" class="sidenav">
                          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">comments</a>
                          hi
                        </div>
                        </div>
                        <span (click)="openNav()">open</span>
                      <button (click)="showInput()">Add</button>
                    </div>
                    <div class="tab-pane" id="Log">
                      <li class="comment-style" *ngFor="let logD of logsDetails">
                        <div class="d-flex user-details">
                          <span>{{logD.name}}</span>
                          <span>{{logD.date | date:'dd/MM hh:mm'}}</span>
                        </div>
                        {{logD.val}}</li>
                      <!-- <input #newComment (keyup.enter)="addComment(newComment.value)" (blur)="addComment(newComment.value); newComment.value='' ">
                                <button (click)="addComment(newComment.value)">Add</button> -->
                    </div>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




