<!-- <div class="flex-box">
  <div class="flex-description">

  </div>
  <div class="flex-description">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav>
  </div>
</div> -->
<div class="over-flow height-100">
  <div class="container-fluid noselection over-flow"  [ngStyle]="{'font-size': sizeVar+'px'}">
    <div class="d-flex">
      <div class="flex-grow-1">
        <div *ngIf="!tvAvailName && !showApoBread">
            <nav aria-label="breadcrumb" >
                <ol class="breadcrumb m-0 pt-2 pb-2">
                  <li class="">
                    <a [routerLink]="condition ? ['/pages/itunes'] : ['/pages']">Avails</a>
                  </li>
                  <i class="material-icons">keyboard_arrow_right</i>
                  <li class="">
                    <a #tref>{{availName}}</a>
                  </li>
                  <i class="material-icons">keyboard_arrow_right</i>
                  <li class="" aria-current="page"><a [routerLink]="condition ? ['/pages/itunestitles'] : ['/pages/titles']" [queryParams]="{avail_name: availName}" #tref>Titles</a></li>
                  <i class="material-icons">keyboard_arrow_right</i>
                  <li class="" aria-current="page"><a #tref>{{titleName}}</a></li>
                </ol>
              </nav>
        </div>
     <div *ngIf="tvAvailName">
        <nav aria-label="breadcrumb" >
            <ol class="breadcrumb m-0 pt-2 pb-2">
              <li class="">
                <a [routerLink]="['/pages/television']">Avails</a>
              </li>
              <i class="material-icons">keyboard_arrow_right</i>
              <li class="">
                <a #tref>{{availName}}</a>
              </li>
              <i class="material-icons">keyboard_arrow_right</i>
              <li class="" aria-current="page"><a [routerLink]="['/pages/tvseries']" [queryParams]="{avail_name: availName}" #tref>Series</a></li>
              <i class="material-icons">keyboard_arrow_right</i>
              <li class="" aria-current="page"><a [routerLink]="['/pages/tvseason']" [queryParams]="{avail: availName, series: seriesName}" #tref>Seasons</a></li>
              <i class="material-icons">keyboard_arrow_right</i>
              <li class="" aria-current="page"><a [routerLink]="['/pages/tvepisode']" [queryParams]="{availName: availName, seriesName: seriesName, seasonNumber: seasonNumber}" #tref>Episodes</a></li>
              <i class="material-icons">keyboard_arrow_right</i>
              <li class="" aria-current="page"><a #tref>{{titleName}}</a></li>
            </ol>
          </nav>
     </div>
     <div *ngIf="showApoBread">
        <nav aria-label="breadcrumb" >
            <ol class="breadcrumb m-0 pt-2 pb-2">
                <li class="" aria-current="page"><a routerLink="/pages/apo/titles" [queryParams]="{avail_name: availName}" #tref>Titles</a></li>
                <i class="material-icons">keyboard_arrow_right</i>
                <li class="" aria-current="page"><a #tref>{{titleName}}</a></li>
                </ol> 
          </nav>
     </div>
     
        
  
        <div class="card">
          <div class="d-flex">
            <div class="flex-description box-1">
              <img class="img-card" src="assets/images/lego.jpg">
            </div>
            <div class="flex-description box-2">
              <div class="d-flex">
                <div class="card-data">
                  <div class="card-content">
                    <ul>
                      <li>{{titleName}}</li>
                      <li class="cust-text">
                        <img src="assets/images/Icons/PNG/calendar.png">{{startDate | date:'MM/dd'}} - {{endDate | date:'MM/dd'}}</li>
                    </ul>
                  </div>
                  <div class="circle">
                    <circle-progress [percent]="0" [radius]="20" [outerStrokeWidth]="2" [innerStrokeWidth]="2" [outerStrokeColor]="'#008040'"
                      [innerStrokeColor]="'#006FAD'" [animation]="true" [animationDuration]="1000"></circle-progress>
                  </div>
                </div>
                <div class="card-menu">
                  <div class="container mt-3">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#insight" [queryParams]="{title_name : titleName, avail_name : availName, titleId: titleId, lob : lobType, seriesName : seriesName, seasonNumber : seasonNumber, episodeNumber : episodeNumber}"   routerLink="/pages/insight" 
                        >Insight</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#metaData">Metadata</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-description box-3">
              <i class="material-icons">vertical_align_center</i>
              <i class="material-icons" (click)="reload()">replay</i>
              <span class="d-flex" (click)="sizePlus()">
                <i class="material-icons">title
                  <sup>+</sup>
                </i>
              </span>
              <span class="d-flex" (click)="sizeMinus()">
                <i class="material-icons">title
                  <sup>-</sup>
                </i>
              </span>
            </div>
          </div>
        </div>
        <div class="container-fluid padding-side">
          <div class="tab-content">
            <div id="metaData" class="tab-pane active content-bg">
              <!-- <div id="metaData" class="container tab-pane fade"> -->
              <div class="d-flex">
                <div class="tab-content content-bg">
                  <div id="Global" class="tab-pane active">
                    <div class="metaData-content">
                      <div class="table-1">
                        <ul>
                          <li>Abstract EIDR</li>
                          <!-- <li>Account</li> -->
                          <li>Activation Status</li>
                          <li class="title-padding">Cast & Crew</li>
                          <li>Aired End Date</li>
                          <li>Aired From Date</li>
                          <li>Announcement Date</li>
                          <li>Announcement Name</li>
                          <li>Atlas MCR Number</li>
                          <li>Audio Language Description</li>
                          <li>Broadcast Vehicle</li>
                          <li>Bundle Video Version Number</li>
                          <li>Bussiness Unit</li>
                          <li>Change Status</li>
                          <li>Change Fields</li>
                          <li>Channel</li>
                          <li>Cleared For sale</li>
                          <li>Client End</li>
                        </ul>
                      </div>
                      <div class="table-2 d-flex">
                        <ul *ngFor="let x of globalData" id="OriginalData" [ngClass]="(changedWidth) ? 'width-50' : 'width-100'">
                          <li>{{x.AbstractEIDR}}</li>
                          <li>{{x.ActivationStatus}}</li>
                          <li class="border-custom" name="fieldName" ngDefaultControl [(ngModel)]="x.RatingComments" (click)="dataShow(x.RatingComments, 'G')">{{metaDataListUpdateVal}}</li>
                          <li>{{x.AiredEndDate}}</li>
                          <li>{{x.AiredFromDate}}</li>
                          <li>{{x.AnnouncementDate}}</li>
                          <li>{{x.AnnouncementName}}</li>
                          <li>{{x.AtlastMCRNumber}}</li>
                          <li>{{x.AudioLanguageDescription}}</li>
                          <li>{{x.BroadcastVehicle}}</li>
                          <li>{{x.BundleVideoVersionNumber}}</li>
                          <li>{{x.BusinessUnit}}</li>
                          <li>{{x.ChangeStatus}}</li>
                          <li>{{x.ChangedFields}}</li>
                          <li>{{x.Channel}}</li>
                          <li>{{x.ClearedForSale}}</li>
                          <li>{{x.ClientEndDate}}</li>
                        </ul>
                        <!-- <div class="" >
                            <div class="table-3"> -->
                        <div *ngIf="close" id="dataShow">
                          <ul *ngFor="let x of details" class="pl-2" [ngStyle]="{'width':getWidth()}">
                              <li>{{x.AbstractEIDR}}</li>
                              <li>{{x.ActivationStatus}}</li>
                              <li class="border-custom" name="fieldName" ngDefaultControl [(ngModel)]="x.RatingComments" (click)="dataShow(x.RatingComments, 'G')">{{metaDataListUpdateVal}}</li>
                              <li>{{x.AiredEndDate}}</li>
                              <li>{{x.AiredFromDate}}</li>
                              <li>{{x.AnnouncementDate}}</li>
                              <li>{{x.AnnouncementName}}</li>
                              <li>{{x.AtlastMCRNumber}}</li>
                              <li>{{x.AudioLanguageDescription}}</li>
                              <li>{{x.BroadcastVehicle}}</li>
                              <li>{{x.BundleVideoVersionNumber}}</li>
                              <li>{{x.BusinessUnit}}</li>
                              <li>{{x.ChangeStatus}}</li>
                              <li>{{x.ChangedFields}}</li>
                              <li>{{x.Channel}}</li>
                              <li>{{x.ClearedForSale}}</li>
                              <li>{{x.ClientEndDate}}</li>
                            <!-- <li>{{x.ClientEnd}}</li>
                                      <li>{{x.ClientEnd}}</li> -->
                          </ul>
                        </div>
                        <!-- </div>
                          </div> -->
  
                      </div>
                      <div class="comparsion-box" *ngIf="show">
                        <div class="d-flex">
                          <div class="add-icon">
                            <i class="material-icons" (click)="openBox()">add_box</i>
                            <div id="mySidenav" class="searchBox d-flex" id="compareBox">
                              <div class="compare-section">
                                <div class="add-btn">
                                  <a href="javascript:void(0)" class="closebtn" (click)="closeBox()">
                                    <i class="material-icons cursor-pointer" (click)="openBox()">add_box</i>
                                  </a>Compare</div>
                                <input type="text" name="availId" [(ngModel)]="availId" (keydown)="onEnterKeyMeta($event,availId)">
                                <!-- <button (click)="metaDataShow(availId)">Add</button>  -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="add-icon d-flex align-items-center" *ngIf="close" (click)="showComment()">
                        <i class="material-icons cursor-pointer">add_box</i>
                      </div>
  
                    </div>
                    <!-- <div class="update-box mt-2">
                      <div class="btn-group">
                        <div cla>
                        <ul class="nav nav-tabs">
                          <li class="nav-item ">
                            <a class="nav-link active d-flex justify-content-between" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('atom')}">ATOM <i class="material-icons atom-icon">cloud_done</i></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('cas')}">CAS</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('sap')}">SAP</a>
                          </li>
                        </ul>
                        </div>
                        <div class="text-area">
                          <textarea cols="79" rows="2" #box [(ngModel)]="user">
                                        
                            </textarea>
                        </div>
                        <div class="btn btn-dark" (click)="update(box.value,user)"><p class="d-flex align-items-center height-100 mb-0">Update</p></div>
                      </div>
                     
  
                    </div> -->
  
                    <div class="update-box mt-2">
                      <div class="btn-group">
                        <div cla>
                        <ul class="nav nav-tabs">
                          <li class="nav-item ">
                            <a class="nav-link active d-flex justify-content-between" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('atom')}">ATOM <i class="material-icons atom-icon">cloud_done</i></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('cas')}">CAS</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('sap')}">SAP</a>
                          </li>
                        </ul>
                        </div>
                        <div class="text-area">
                          <textarea cols="79" rows="2" #box [(ngModel)]="userMetadata">
                                        
                            </textarea>
                        </div>
                        <div class="btn gray-3 text-white" [(ngModel)]="userMetadata" name="fieldName" ngDefaultControl (click)="update(userMetadata)"><p class="d-flex align-items-center height-100 mb-0">Update</p></div>
                      </div>
                     
                
                    </div>
                  </div>
                  <div id="Language" class="tab-pane fade">
                    <div class="container-fluid p-12">
                        <a class="avail-details d-flex mb-1" >
                            <i class="material-icons md-18 md-grey v-align">translate</i>{{uniqueLanguagesCount}} Languages</a>
                      <div class="top-heading">
                        <div class="language-data">
                          
                            <div class="progress progress-main">
                                <div class="progress-bar bg-success" *ngIf="resultTerritoryCompleted!=0" [ngStyle]="{'width.%': resultTerritoryCompleted}">
                                  <span class="status-padding"  >{{countriesCompletedCount}}</span>
                                </div>
                                <div class="progress-bar" *ngIf="resultTerritoryPending!=0" [ngStyle]="{'width.%': resultTerritoryPending}">
                                  <span class="status-padding" >{{countriesPendingCount}}</span>
                                </div>
                              </div>
                          <div *ngIf="!clickedOnLanguage" class="row row-list mt-2 text-white language-scroll">
                            <div class="col-md-12 avail-list mt-2">
                              <!-- <div >
                                <div > -->
                                    <span *ngFor="let z of translationList" [ngClass]="[z.TranslationStatus == 'Complete' ? 'progress bg-success' : 'progress']">
                                        <ul class="list-style list-description">
                                            <li class="cursor-pointer" (click)="languageName(z.Language)">
                                                <span>{{z.Language}} </span>
                                              </li>
                                          <!-- <li (click)="languageName(z.language_name)">{{z.Language}} </li> -->
                                        </ul>
                                      </span>
                                <!-- </div>
                              </div> -->
                            </div>
                          </div>
                          <div *ngIf="clickedOnLanguage" class="row row-list">
                              <div class="col-md-12 avail-list mt-2">
                                  <span *ngFor="let filterCountry of filteredCountry" [ngClass]="[filterCountry.status == 'completed' ? 'progress bg-success' : 'progress']">
                                    <ul class="list-style list-description">
                                      <li>{{filterCountry.country_name}} </li>
                                    </ul>
                                  </span>
                                </div>
                          </div>
                        </div>
                        <div class="language-metadata">
                          <div class="metalanguage-content">
                            <div class="table-1">
                              <ul >
                                <li>Local Titles</li>
                              
                                  <li>{{languageShort}} Short</li>
                                  <li>{{languageShort}} Long</li>
                                
                               
                              </ul>
                            </div>
                            <div class="table-2 d-flex">
                              <!-- <ul  id="OriginalData" [ngClass]="(changedWidth) ? 'width-50' : 'width-100'">
                                <li>{{x.Local_Titles}}</li>
                                <li (click)="dataShow(metaDataLangUpdateVal)" class="cursor-pointer datahide">{{metaDataLangUpdateVal}}</li>
                                <li>{{x.English_short}}</li>
                               
                              </ul> -->
                              <ul *ngFor="let x of availLanguageList" id="OriginalData" [ngClass]="(changedWidth) ? 'width-100' : 'width-px'">
                                  <li>{{titleName}}</li>
                                  <li  name="fieldName1" ngDefaultControl [(ngModel)]="metaDataLangUpdateVal"  class="cursor-pointer datahide" (click)="dataShow(metaDataLangUpdateVal, 'L')">{{metaDataLangUpdateVal}}</li>
                                  <li>{{x.English_short}}</li>
                                 
                                </ul>
                              <!-- <div class="" >
                                        <div class="table-3"> -->
                    
                              <!-- </div>
                                      </div> -->
                              <div class="add-icon cursor-pointer d-flex align-items-center">
                                <i class="material-icons" (click)="flip()">add_box</i>
                              </div>                
                            </div>
                            
                          </div>
                        </div>
                      </div>
                        <!-- <div class="update-field">
                          <input type="text" class="form-control" id="usr" [(ngModel)]="user" (keydown)="updateDescription($event,user)">
                        </div> -->
                        <div class="update-box mt-2">
                          <div class="btn-group">
                            <div cla>
                            <ul class="nav nav-tabs">
                              <li class="nav-item ">
                                <a class="nav-link active d-flex justify-content-between" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('atom')}">ATOM <i class="material-icons atom-icon">cloud_done</i></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('cas')}">CAS</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('sap')}">SAP</a>
                              </li>
                            </ul>
                            </div>
                            <div class="text-area">
                              <textarea [disabled]="isDisabled" cols="79" rows="2" #box [(ngModel)]="userLanguage">
                                            
                                </textarea>
                            </div>
                            <div class="btn btn-dark" name="fieldName1" ngDefaultControl  [(ngModel)]="userLanguage"  (click)="updateDescription($event,userLanguage)"><p class="d-flex align-items-center height-100 mb-0 cursor-pointer">Update</p></div>
                          </div>
                         
                    
                        </div>
                    
                        
                    </div>
                  </div>
                  <div id="Territorial" class="tab-pane fade">
                    <div class="container-fluid p-12">
                        <a class="avail-details d-flex mb-1" >
                            <i class="material-icons md-18 md-grey v-align">language</i> {{uniqueCountriesCount}} Countries</a>
                      <div class="top-heading">
                        <div class="language-data">
                          
                          <div class="progress progress-main">
                            <div class="progress-bar bg-success" *ngIf="resultTerritoryCompleted!=0" [ngStyle]="{'width.%': resultTerritoryCompleted}">
                              <span class="status-padding"  >{{countriesCompletedCount}}</span>
                            </div>
                            <div class="progress-bar" *ngIf="resultTerritoryPending!=0" [ngStyle]="{'width.%': resultTerritoryPending}">
                              <span class="status-padding" >{{countriesPendingCount}}</span>
                            </div>
                          </div>
                          <!--'clickedOnCountry' should--> 
                          <div class="row row-list text-white language-scroll mt-2">
                            <div class="col-md-12 avail-list mt-2">
                              
                               
                                  <span *ngFor="let z of countryList" [ngClass]="[z.CountryStatus == 'Complete' ? 'progress bg-success' : 'progress']">
                                    <ul class="list-style list-description">
                                      <li>{{z.Country}} </li>
                                    </ul>
                                  </span>
                                
                            </div>
                          </div>
                          <div class="row row-list text-white">
                            <div class="col-md-12 avail-list mt-2">
                              <span *ngFor="let filterCountry of filteredCountry" [ngClass]="[filterCountry.status == 'completed' ? 'progress bg-success' : 'progress']">
                                <ul class="list-style list-description">
                                  <li>{{filterCountry.country_name}} </li>
                                </ul>
                              </span>
                            </div>
                          </div>
                          
                        </div>
                        <div class="language-metadata">
                          <div class="metalanguage-content">
                            <div class="table-1">
                              <ul>
                                <li>Rating</li>
                                <li>Rating Comments</li>
                                <li>Short Description</li>
                                <li>Initial release Date</li>
                                <li>Current release Date</li>
                                <li>Rights Window Begin Date</li>
                                <li>Rights Window End Date</li>
                                <li>Announcement Date</li>
                                <li>Pre-Sell Date</li>
                                <li>Web WHV Internal</li>
                                <li>Web Retailers</li>
                                <li>Vendor Id</li>
                              </ul>
                            </div>
                            <div class="table-2 d-flex">
                              <ul *ngFor="let x of countryData" id="OriginalData" [ngClass]="(changedWidth) ? 'width-50' : 'width-px'">
                                  <li>{{x.Rating}}</li>
                                  <li  class="cursor-pointer datahide" name="fieldName2" ngDefaultControl [(ngModel)]="x.RatingComments" (click)="dataShow(x.RatingComments, 'T')">{{metaDataCountryUpdateVal}}</li>
                                  <!-- <li (click)="dataShow(x.RatingComments)">{{x.RatingComments}}</li> -->
                                  <li>{{x.ShortDescription}}</li>
                                  <li>{{x.InitialReleaseDate}}</li>
                                  <li>{{x.CurrentReleaseDate}}</li>
                                  <li>{{x.RightsWindowBeginDate}}</li>
                                  <li>{{x.RightsWindowEndDate}}</li>
                                  <li>{{x.AnnouncementDate}}</li>
                                  <li *ngIf="!checkNaN(x.Pre-SellDate)">{{x.Pre-SellDate}}</li>
                                  <li *ngIf="checkNaN(x.Pre-SellDate)"></li>
                                  <li>{{x.WebWHVInternal}}</li>
                                  <li>{{x.WebRetailers}}</li>
                                  <li>{{x.VendorsId}}</li>
                                <!-- <li>{{x.ClientEnd}}</li>
                                              <li>{{x.ClientEnd}}</li> -->
                              </ul>
                              <!-- <div class="" >
                                        <div class="table-3"> -->
                    
                              <!-- </div>
                                      </div> -->
                              <div class="add-icon cursor-pointer d-flex align-items-center">
                                <i class="material-icons" (click)="flip()">add_box</i>
                              </div>
                            </div>
                            
                            
                    
                          </div>
                        </div>
                      </div>
                      <!-- <div class="update-field">
                          <input type="text" class="form-control" id="usr" [(ngModel)]="user" (keydown)="updateDescription($event,user)">
                        </div> -->
                    
                        <div class="update-box mt-2">
                          <div class="btn-group">
                            <div cla>
                            <ul class="nav nav-tabs">
                              <li class="nav-item ">
                                <a class="nav-link active d-flex justify-content-between" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('atom')}">ATOM <i class="material-icons atom-icon">cloud_done</i></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('cas')}">CAS</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#" [ngStyle]="{'background-color':dataSource('sap')}">SAP</a>
                              </li>
                            </ul>
                            </div>
                            <div class="text-area">
                              <textarea [disabled]="isDisabled" cols="79" rows="2" #box [(ngModel)]="userCountry">
                                            
                                </textarea>
                            </div>
                            <div class="btn btn-dark" name="fieldName2" ngDefaultControl [(ngModel)]="userCountry"  (click)="updateCountryDescription($event,userCountry)"><p class="d-flex align-items-center height-100 mb-0 cursor-pointer">Update</p></div>
                          </div>
                         
                    
                        </div>
                    </div>
                  </div>
                </div>
  
                <div class="comment-data content-bg">
                  <div class="comment-data-heading d-flex" *ngIf="!showStatus">
                    <div>
                      <ul class="nav nav-tabs">
                        <li class="nav-item mb-2">
                          <a class="nav-link active" data-toggle="tab" href="#Global">Global</a>
                        </li>
                        <li class="nav-item mt-1 mb-1">
                          <a class="nav-link" data-toggle="tab" href="#Language">Language</a>
                        </li>
                        <li class="nav-item mt-2">
                          <a class="nav-link" data-toggle="tab" href="#Territorial">Territorial</a>
                        </li>
                      </ul>
                  </div>
                    <div class="circle-class d-flex justify-content-center width-100 align-items-center">
                      <div class="circle" (click)="showTitleStatus()">
                        <circle-progress [percent]="0" [radius]="20" [outerStrokeWidth]="2" [innerStrokeWidth]="2" [outerStrokeColor]="'#008040'"
                          [innerStrokeColor]="'#006FAD'" [animation]="true" [animationDuration]="1000"></circle-progress>
                      </div>
                    </div>
                    
                  </div>
                  <div class="cust-text status-text-padding p-2 " *ngIf="showStatus===true">
                    <h6 class="status-text text-primary">Status</h6>
                    <p class="status mb-1">
                        <b class="font-number"> -</b> Pending Translations</p>
                    <p class="status mb-1">
                        <b class="font-number"> -</b> Pending Ratings</p>
                    <p class="status mb-1">
                        <b class="font-number">-</b> Pending Clarifications</p>
                    <p class="status mb-1">
                        <b class="font-number">-</b> Escalations</p>
  
                </div>
                  
                  <ul class="comment-box">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#Comments">Comments</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Log">Log</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="Comments">
                        <div class="comment-scroll">
                          <ul>
                        <li class="comment-style" *ngFor="let comment of comments">
                          <div class="d-flex user-details">
                            <span>JohnPaul</span>
                            <span>{{comment.date | date:'dd/MM hh:mm'}}</span>
                          </div>
                          {{comment.name}}
                        </li>
                        </ul>
                        </div>
                        <div class="main-comment">
                          <div id="mySidenav" class="sidenav">
                            <div class="custom-comment" [ngClass]="(changeColor) ? 'border-red' : 'border-blue'">
                              <div><a class="closebtn" (click)="closeNav()">{{changeText}}</a></div>
                              <label class="switch" >
                                <input type="checkbox" id="commentSwitch" [(ngModel)]="switchvalue"  checked  (click)="valuechange($event, switchvalue)">
                                <span class="slider round"></span>
                              </label>
                              <div class="f-12">
                                <input type="text" id="comment" [(ngModel)]="commentValue" (keydown)="addComment($event,commentValue)" name="textBox" class="textBox width-100" placeholder="Type a comment">
                              </div>
                            </div>
                          </div>
                          <span class="float-right" (click)="openNav()">
                            <i class="material-icons cursor-pointer">add_box</i>
                          </span>
                        </div>
                        
                        <!-- <button (click)="showInput()">Add</button> -->
                      </div>
                      <div class="tab-pane" id="Log">
                        <li class="" *ngFor="let logD of logsDetails">
                          <div class="d-flex user-details">
                            <span>{{logD.name}}</span>
                            <span>{{logD.date | date:'dd/MM hh:mm'}}</span>
                          </div>
                          <div>{{logD.val}}</div>
                          
                        </li>
                        <!-- <input #newComment (keyup.enter)="addComment(newComment.value)" (blur)="addComment(newComment.value); newComment.value='' ">
                                    <button (click)="addComment(newComment.value)">Add</button> -->
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
            
              <!-- <div class="tab-pane" id="insight">
                <app-apo-insight></app-apo-insight>
              </div> -->
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
  </div>
  