<div class="container-fluid" data-dismiss="modal">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/pages">Avails</a>
                    </li>
                    <i class="fa fa-angle-right arrow"></i>
                    <li class="breadcrumb-item">
                        <a>{{availName}}</a>
                    </li>
                    <i class="fa fa-angle-right arrow"></i>
                    <li class="breadcrumb-item">
                        <a class="c-pointer" routerLink="/pages/tvseries" [queryParams]="{ avail_name: availName }">Series</a>
                    </li>
                    <i class="fa fa-angle-right arrow"></i>
                    <li class="breadcrumb-item breadcrumb-title">
                        <a class="c-pointer" routerLink="/pages/tvseason" [queryParams]="{ avail: availName, series: seriesName }">{{seriesName}}</a>
                    </li>
                    <i class="fa fa-angle-right arrow"></i>
                    <li class="breadcrumb-item breadcrumb-title">
                        <a #tref class="series-highlight">Season {{seasonNumber}}</a>
                    </li>
                </ul>
                <div class="ml-auto filter">
                    <app-avail-filter [childMessage]="parentMessage" [titleLength]="episodeLength" (searchValue)="onSearch($event)"></app-avail-filter>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <cdk-virtual-scroll-viewport class="upload-loading" itemSize="40" >
                                    <div class="d-flex upload-styles">
                                        <div class="col-md-3 apo-margin" *cdkVirtualFor="let x of orderedEpisodeList |searchPipe: {GlobalTitle:searchval}; let i=index">
                                            <div class="card">
                                                <div class="card-main">
                                                    <div class="card-img">
                                                        <span class="addPre_upBtn btn btn-sm btn-bg1" (click)="triggerUpload();">
                                                            <!-- <i class="material-icons">folder</i> -->
                                                            <img class="card-img-top" [src]="x.ImageUrl==''?ImageUrl:x.ImageUrl" (click)="imgClickTrack(x,i);">
                                                        </span>
                                                        <input type="file" class="file-display" (change)="handleFileInputForAdd($event.target.files)" id="fileUpload" accept="image/*"
                                                            [disabled]="uploadStatus" />

                                                    </div>
                                                    <div>
                                                        <div class="card-body" [attr.id]="'undoBtn'+i" *ngIf="account !== i">
                                                            <div class="card-content card-flex" *ngIf="showStatus!==i">
                                                                <ul>
                                                                    <li>
                                                                        <span class="title-text" data-toggle="tooltip" data-placement="left" title="{{x.GlobalTitle}}" routerLink="/pages/metadata" [queryParams]="{title_name: x.GlobalTitle, avail_name: availName, seriesName: seriesName, seasonNumber: x.SeasonNumber, episodeNumber : x.EpisodeNumber, lob: 'TV'}">
                                                                        {{x.GlobalTitle}}</span>
                                                                    </li>
                                                                    <!-- <li>
                                                                <span class="season-name">Season {{x.SeasonNumber}}</span>
                                                            </li>-->
                                                                    <li>
                                                                        <span class="season-name">Episode {{i+1}}</span>
                                                                    </li>

                                                                </ul>
                                                                <div class="circle" (click)="showTitleStatus(i)">
                                                                    <circle-progress [percent]="x.Percentage" [radius]="20" [outerStrokeWidth]="2" [innerStrokeWidth]="2" [outerStrokeColor]="'#008040'"
                                                                        [innerStrokeColor]="'#006FAD'" [animation]="true" [animationDuration]="1000"
                                                                        routerLink="/pages/insight" [queryParams]="{ avail_name: availName, title_name:x.GlobalTitle, titleId: x.EpisodeNumber, seriesName: seriesName, seasonNumber: x.SeasonNumber,episodeNumber : x.EpisodeNumber, lob: 'TV'}"></circle-progress>
                                                                </div>
                                                            </div>
                                                            <div class="cus-text text-col" *ngIf="showStatus!==i">
                                                                <ol class="wizard-progress d-flex">

                                                                    <li [ngStyle]="{'width':i === 3 ? '0%' : '30%' }" [ngClass]="{'active-step': i<=getProgressFill(x.TitleStatus)}" *ngFor="let stage of stages, let i = index">
                                                                        <span class="step-name">
                                                                            <span *ngIf="stage.stageTitle==x.TitleStatus[getProgress(x.TitleStatus)].StatusMessage" [ngClass]="{'mid': (i==2 || i==1), 'last': i==3}">{{stage.stageTitle}}</span>
                                                                        </span>
                                                                        <span class="visuallyhidden"></span>
                                                                        <span class="step-num"></span>
                                                                    </li>
                                                                </ol>
                                                            </div>

                                                        </div>
                                                        <div class="cust-text status-text-padding" *ngIf="showStatus==i">
                                                            <h6 class="status-text">Status</h6>
                                                            <p class="status">
                                                                <b class="font-number"> -</b> Pending Translations</p>
                                                            <p class="status">
                                                                <b class="font-number"> -</b> Pending Ratings</p>
                                                            <p class="status">
                                                                <b class="font-number">-</b> Pending Clarifications</p>
                                                            <p class="status">
                                                                <b class="font-number">-</b> Escalations</p>

                                                        </div>
                                                        <div class="display-block">
                                                            <div class="flex" *ngIf="showStatus!=i">
                                                                <span class="apo-color accountsBox" (click)="showAccounts(i);selectTab(x.EpisodeNumber,'episodes')" [ngClass]="(acccountClicked) ? 'boxclicked' : 'box'">
                                                                    <i class="material-icons md-18 md-grey v-align">add_shopping_cart</i>{{x.AccontsCount}}
                                                                    <span class="text-space" *ngIf="episodeStatus && (episodeNum===x.EpisodeNumber)">Accounts</span>
                                                                </span>
                                                                <span class="apo-color countriesBox" (click)="showCountries(i);selectTab(x.EpisodeNumber,'countries')" [ngClass]="(countriesClicked) ? 'box1clicked' : 'box1'">
                                                                    <i class="material-icons md-18 md-grey v-align">language</i>{{x.UniqueCountriesCount}}
                                                                    <span class="text-space" *ngIf="langStatus && (episodeNum===x.EpisodeNumber)">Countries</span>
                                                                </span>
                                                                <span class="apo-color languagesBox" (click)="showTranslations(i);selectTab(x.EpisodeNumber,'languages')" [ngClass]="(translationsClicked) ? 'box2clicked' : 'box2'">
                                                                    <i class="material-icons md-18 md-grey v-align">translate</i> {{x.UniqueLanguagesCount}}
                                                                    <span class="text-space" *ngIf="transStatus && (episodeNum===x.EpisodeNumber)">Languages</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="progressBar paddingtb-10" *ngIf="episodeNum===x.EpisodeNumber && episodeStatus">
                                                            <div class="progress progress-main">
                                                                <div class="completeColor" *ngIf="x.AccontsCompletedCount!=0" [style.width.%]="width">
                                                                    {{x.AccontsCompletedCount}}
                                                                </div>
                                                                <div class="pendingColor" *ngIf="x.AccontsPendingCount!=0" [style.width.%]="remaining">
                                                                    {{x.AccontsPendingCount}}
                                                                </div>



                                                            </div>

                                                        </div>
                                                        <div class="progressBar paddingtb-10" *ngIf="episodeNum===x.EpisodeNumber && langStatus">
                                                            <div class="progress progress-main">
                                                                <div class="completeColor" *ngIf="x.CountriesCompletedCount!=0" [style.width.%]="width">
                                                                    {{x.CountriesCompletedCount}}
                                                                </div>
                                                                <div class="pendingColor" *ngIf="x.CountriesPendingCount!=0" [style.width.%]="remaining">
                                                                    {{x.CountriesPendingCount}}
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="progressBar paddingtb-10" *ngIf="episodeNum===x.EpisodeNumber && transStatus">
                                                            <div class="progress progress-main">
                                                                <div class="completeColor" *ngIf="x.LanguagesCompletedCount!=0" [style.width.%]="width">
                                                                    {{x.LanguagesCompletedCount}}
                                                                </div>
                                                                <div class="pendingColor" *ngIf="x.LanguagesPendingCount!=0" [style.width.%]="remaining">
                                                                    {{x.LanguagesPendingCount}}
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="legend-margin m-0" *ngIf="episodeNum===x.EpisodeNumber && (episodeStatus || langStatus || transStatus)">
                                                            <div class="d-flex legend-flex p-1">
                                                                <div class="mt-1 status-bar">
                                                                    <div class="complete-legend"></div>
                                                                    <div class="legend-text ml-1 mr-1">Completed</div>
                                                                </div>
                                                                <div class="mt-1 status-bar">
                                                                    <div class="pending-legend"></div>
                                                                    <div class="legend-pending-text ml-1 mr-1">Pending</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                            </cdk-virtual-scroll-viewport>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>